<h2>List Items By Position</h2>

<hr/>

<%= form_tag tools_items_path, method: :get, class: "form-inline", role: "form" do %>
    <div class="form-group">
      <label>Latitude</label>
      <%= text_field_tag 'position[lat]', @position_to_view[:lat], required: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Longitude</label>
      <%= text_field_tag 'position[lon]', @position_to_view[:lon], required: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= submit_tag 'Submit', class: 'form-control' %>
    </div>
<% end %>

<hr/>

<div class="row">
  <div class="col-md-2">
    <ul class="list-group">
      <li class="list-group-item active">
        <h4 class="list-group-item-heading">City</h4>
      </li>
      <% Settings.POSITION.each do |city, position| %>
          <li class="list-group-item <%= "selected" if city == @city %>">
            <%= link_to city, tools_items_path(position.merge({city: city})) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-offset-1 col-md-8">
    <% if @items.present? %>
        <ul class="list-group list-item">
          <% @items.each do |item| %>
              <li class="list-group-item item">
                <%= product_thumb_image_tag_from_json(item) %>
                <div class="item-desc">
                  <div>
                    <label>Title:</label>
                    <%= item['title'] %>
                  </div>
                  <div>
                    <label>Price:</label>
                    <%= item['local_price'] %>
                  </div>
                  <% if item['city'].present? %>
                      <div>
                        <i class="fa fa-map-marker"></i>
                        <%= "#{item['city']} (#{item['country']})" %>
                      </div>
                  <% end %>
                  <a href="<%= Settings.APP_SITE_ITEM_URI_PREFIX + item['id'] %>" target="_blank">Web URL >></a>
                </div>
              </li>
          <% end %>
        </ul>

        <div class="col-md-offset-2 col-md-8">
          <ul class="pager">
            <li class="previous <%= 'disabled' if @previous_page_url_params.blank? %>">
              <a href="<%= @previous_page_url_params.blank? ? '#' : tools_items_path(@previous_page_url_params) %>">&larr;
                Previous Page</a>
            </li>
            <li class="next <%= 'disabled' if @next_page_url_params.blank? %>">
              <a href="<%= @next_page_url_params.blank? ? '#' : tools_items_path(@next_page_url_params) %>">Next
                Page &rarr;</a>
            </li>
          </ul>
        </div>
    <% else %>
        <div>
          <h3>Please select city or input Longitude and Latitude to search items</h3>
        </div>
    <% end %>
  </div>
</div>
