<h2>Process Product Report</h2>

<hr/>

<%= form_tag feedback_product_report_path,
             method: :post, class: 'form-horizontal' do |f| %>

    <div class="form-group">
      <%= label_tag 'reporter', 'Reporter', class: 'col-md-4 control-label' %>
      <div class="col-md-5">
        <p class="form-control">
          <%= @product_report.reporter.nickname %>
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= label_tag class: 'control-label' do %>
            <%= check_box_tag :is_send_flag, '1', true %>
            Send Message
        <% end %>
      </div>
    </div>

    <div id="message_content">
      <div class="form-group">
        <%= label_tag 'content', 'System Message Content', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
          <%= text_area_tag 'system_message[content]', @template_contents['system_message_content'], rows: 3, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag 'content', 'Push Content', class: 'col-md-4 control-label' %>
        <div class="col-md-5">
          <%= text_area_tag 'push[content]', @template_contents['push_content'], rows: 3, class: 'form-control', required: true, maxlength: 120 %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-md-5">
        <%= submit_tag 'Process', class: 'btn btn-primary btn-md' %>
        <%= link_to 'Cancel', product_reports_path(
                                    wice_grid_custom_filter_params(
                                            grid_name: 'grid', attribute: 'is_processed', value: 'f'
                                    )
                            ), class: 'btn btn-default btn-md pull-right' %>
      </div>
    </div>

<% end %>
<script>
    var message_content_html = '';
    $('input#is_send_flag').click(function () {
        if ($(this).attr('checked')) {
            $(this).removeAttr('checked');
            $('div#message_content').fadeOut("slow");
            message_content_html = $('div#message_content').remove();
        } else {
            $(this).attr('checked', 'checked');
            $(this).parents('div.form-group').append(message_content_html);
            $('div#message_content').fadeIn("slow");
        }
    });
</script>
