<h2>Recommend Items</h2>

<hr/>

<div class="col-md-8">
  <%= form_tag tools_recommend_items_path, method: :post, remote: true, role: 'form', class: 'form-horizontal' do %>
      <div class="form-group">
        <div class="col-md-offset-3">
          <span class="help-text text-danger">Note: The content with * are required</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          To
        </label>

        <div class="col-md-9">
          <%= ztree_country_tree_tag('to') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Gender
        </label>

        <div class="col-md-9">
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Male, true %> Male
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Female, true %> Female
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Unknown, true %> Unknown
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Registered Time', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= select_tag 'registered_time[type]', options_for_select(Settings.REGISTERED_TIME_TYPE.to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[value]', options_for_select((1..59).to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[unit]', options_for_select(FmmcFrequencyPeriod.all.map { |fp| [fp.name, fp.id] }.reverse[0..-2]), class: 'select-inline', prompt: '---' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Main Image
        </label>

        <div class="col-md-7">
          <%= text_field_tag 'recommend_items[main_image_url]', nil, class: 'form-control hidden' %>
          <%= text_field_tag 'recommend_items[main_image_width]', nil, class: 'form-control hidden' %>
          <%= text_field_tag 'recommend_items[main_image_height]', nil, class: 'form-control hidden' %>
          <%= text_field_tag 'main_image_local_path', nil, class: 'form-control' %>
          <div class="progress progress-striped active" style="height: 3px; margin-bottom: 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="btn btn-md btn-default pull-right" onclick="$('input.cloudinary-fileupload').click()">
            <i class="fa fa-upload"></i>
            Upload
          </a>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Item IDs
        </label>

        <div class="col-md-2">
          <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
        </div>
        <% 3.times.each do %>
            <div class="col-md-2 col-md-offset-3">
              <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
            </div>
        <% end %>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Message Content
        </label>

        <div class="col-md-9">
          <%= text_area_tag 'system_message[content]', nil, rows: 5, cols: 50, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Message Image URL', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= text_field_tag 'system_message[image]', nil, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-2">
          <%= check_box_tag :is_with_push, '1', true %>
          <%= label_tag 'Also PUSH' %>
        </div>
      </div>

      <div id="push_content_block">
        <div class="form-group">
          <%= label_tag nil, 'Push Title(Android)', class: 'col-md-3 control-label' %>
          <div class="col-md-9">
            <%= text_field_tag 'push[title]', nil, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">
            <span class="prompt-required">*</span>
            Push Text
          </label>

          <div class="col-md-9">
            <%= text_field_tag 'push[content]', nil, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <%= check_box_tag 'push[mute]', '1', false %>
            <%= label_tag 'Mute' %>
          </div>
        </div>

      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-2">
          <%= check_box_tag :is_with_email, '1', true %>
          <%= label_tag 'Also Email' %>
        </div>
      </div>

      <div id="email_content_block">
        <div class="form-group">
          <label class="col-md-3 control-label">
            <span class="prompt-required">*</span>
            Mail Subject
          </label>

          <div class="col-md-9">
            <%= text_field_tag 'email[subject]', nil, maxLength: 100, class: 'form-control', required: true %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :remarks, 'Remarks', class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= text_field_tag :remarks, nil, class: 'form-control' %>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-4">
          <%= text_field_tag :test_user_id, nil, placeholder: "User ID for test", class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= submit_tag 'Send for test', id: 'manual_recommend_items_test', class: 'btn btn-default btn-block btn-info' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Start Time
        </label>

        <div class="col-md-9">
          <label class="radio-inline">
            <%= radio_button_tag 'immediate', '1', false, required: true %> Immediately
          </label>
        </div>
        <div class="col-md-offset-3 col-md-9">
          <label class="radio-inline col-md-3">
            <%= radio_button_tag 'immediate', '0', false, required: true %> SetTime(Zone:<%= Time.zone.name %>)
          </label>
        </div>
        <div id="select_datetime" class="col-md-offset-3 col-md-9 hidden" style="top: 5px;padding-left: 35px;">
          <%= select_datetime %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-2">
          <%= submit_tag 'Send', id: 'manual_recommend_items_send', data: {confirm: 'Press OK to confirm.'}, class: 'btn btn-md btn-default btn-block btn-primary' %>
        </div>
      </div>

  <% end %>
</div>
<div id="preview_main_image" class="thumbnail col-md-4 hidden">
</div>
<from>
  <%= cl_image_upload_tag(:image, html: {class: 'hidden', style: 'padding: 6px 0;'}) %>
</from>

<%= cloudinary_js_config %>
<script>
    $('.cloudinary-fileupload').bind('fileuploadprogress', function (e, data) {
        if ($('div.progress-bar').hasClass('progress-bar-danger'))
            $('div.progress-bar').removeClass('progress-bar-danger').addClass('progress-bar-success');
        $('div.progress-bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
    });
    $('.cloudinary-fileupload').bind('cloudinarydone', function (e, data) {
        $('div#preview_main_image').html(
                $.cloudinary.image(data.result.public_id,
                        {format: data.result.format, version: data.result.version})
        );
        $('input#recommend_items_main_image_url').val(data.result.url);
        $('input#recommend_items_main_image_width').val(data.result.width);
        $('input#recommend_items_main_image_height').val(data.result.height);
        $('div#preview_main_image').removeClass('hidden');
        return true;
    });
    $('.cloudinary-fileupload').bind('cloudinaryfail', function (e, data) {
        $('div.progress-bar').removeClass('progress-bar-success').addClass('progress-bar-danger');
        alert("upload fail!");
    });
</script>

<%= ztree_country_tree_js_tag() %>
