<%= define_grid(@manual_grid) do |g|

  g.column name: 'ID', attribute: 'id' do |task|
    task.id
  end

  g.column name: 'TaskID', attribute: 'task_id' do |task|
    task.task_id
  end

  g.column name: 'TriggerType', attribute: 'trigger_type', html: {class: 'col-md-1'}, custom_filter: Settings.TRIGGER_TYPES.to_a do |task|
    Settings.TRIGGER_TYPES.invert[task.trigger_type]
  end

  g.column name: 'Time', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    task.manual_trigger_time
  end

  g.column name: 'To', attribute: 'target_country', model: 'FmmcTask', html: {class: 'col-md-1'} do |task|
    task.task.send_target if task.task.present?
  end

  g.column name: 'Gender', attribute: 'target_gender', model: 'FmmcTask', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    task.task.gender if task.task.present?
  end

  g.column name: 'RegisteredTime', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    task.task.registered_time if task.task.present?
  end

  g.column name: 'UidSuffix', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    task.task.target_uid_tail if task.task.present?
  end

  g.column name: 'Message', attribute: 'content', model: 'FmmcSystemMessageTemplate', ordering: false, html: {class: 'col-md-1'} do |task|
    link_to(task.task.sm_content, templates_system_message_path(task.task.system_message_template), target: '_blank') if task.task.present? and task.task.system_message_template.present?
  end

  g.column name: 'PushText', attribute: 'content', model: 'FmmcPushTemplate', ordering: false, html: {class: 'col-md-1'} do |task|
    link_to(task.task.push_content, templates_push_path(task.task.push_template), target: '_blank') if task.task.present? and task.task.push_template.present?
  end

  g.column name: 'EmailSubject', attribute: 'subject', model: 'FmmcMailTemplate', ordering: false, html: {class: 'col-md-1'} do |task|
    link_to(task.task.mail_subject, templates_email_path(task.task.mail_template), target: '_blank') if task.task.present? and task.task.mail_template.present?
  end

  g.column name: 'Comment', attribute: 'comment', ordering: false, html: {class: 'col-md-1'}

  g.column name: 'UpdateTime', attribute: 'updated_at', html: {class: 'col-md-1'}

  g.column name: 'Status', attribute: 'status', model: 'FmmcTask', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    if task.task.present?
      if task.trigger_type == Settings.TRIGGER_TYPES.Delayed
        case task.task.status
          when Settings.FMMC_STATUSES.Enabled
            if task.manual_trigger_time - Time.current > 1.minute
              link_to "Disable", disable_fmmc_task_path(task.task), data: {disable_with: 'Processing...'}, class: "btn btn-md btn-danger btn-block"
            else
              "Sent"
            end
          when Settings.FMMC_STATUSES.Disabled
            if task.manual_trigger_time - Time.current > 1.minute
              link_to "Enable", enable_fmmc_task_path(task.task), data: {disable_with: 'Processing...'}, class: "btn btn-md btn-warning btn-block"
            else
              "Disabled"
            end
        end
      else
        "Sent"
      end
    end
  end

end -%>
