
<script>
    //$("#main_navbar").hide();
    //$(document.body).css("padding-top","5px")

</script>

<style>
.desc_text {
    font-family: "Aleo Regular", "Palatino Linotype", Palatino;
}
.text_danger{
    color: red;
}
</style>

<div id="main_view" class="audit_board" style="padding:2px">
  <div id="board_head" class="panel panel-default" style="border:0px;margin-bottom:2px;" >
    <nav class="navbar navbar-default" style="margin-bottom:5px;border:0px;border-radius:0px;background-color:#ffffff;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: darkorange;">Audit Board</a>
        </div>
        <div style="float:left;width:80%;margin:2px;padding:5px;text-align: right">
          <div>Pending Review:
            <a href="#" id="btn_all_pending" title="All PendingReview" val="all_pending">All (<span id="cnt_all_pending">-</span>)</a> |
            <!--Image Unchecked (<span id="cnt_item_unassigned">-</span>) |
            Image Checked (<span id="cnt_image_checked">-</span>) |
            <a href="#" id="btn_desc_assigned" title="Desc assigned" val="desc_assigned">Desc Assigned (<span id="cnt_desc_assigned">-</span>)</a>
            -->

            <a href="#" id="btn_unassigned_pending" title="Unassigned PendingReview" val="unassigned_pending">Unassigned (<span id="cnt_unassigned_pending">-</span>)</a> |
            <a href="#" id="btn_assigned_pending" title="Assigned PendingReview" val="assigned_pending">Assigned (<span id="cnt_assigned_pending">-</span>)</a>

            <!--<button id="btn_refresh_stat_info" class="btn btn-default">refresh</button>-->
          </div>
          <div style="margin-top:2px;text-align: right">
            Current Operators (<span id="operator_cnt"></span>):
            <span id="audit_operators">-</span>

          </div>


        </div>

        <div style="float: right;margin: 10px">
            <a href="#" id="btn_check_in" class="btn btn_normal btn-success" >Check in</a>
            <a href="#" id="btn_check_out" class="btn btn_normal btn-primary" style="display:none">Check out</a>
        </div>
        <div style="clear:both;"></div>
      </div><!-- /.container-fluid -->

    </nav>
    <nav class="navbar navbar-default" style="margin-bottom: 2px;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" style="font-size:12px;background-color:#ffffff;color: #82a3f7">
            <span id="current_operator">-</span></span>
          <span class="navbar-brand" style="font-size:12px;background-color:#ffffff;color: #f7e1b5;display:none">
            <a href="#" style="color: darkorange;" id="btn_goto_self">&lt;My Audit</a></span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#ffffff">
          <ul class="nav navbar-nav" id="menu_audit_board" >
            <li class="active" menu_type="menu" menu_val="image_audit" id="menu_image_audit"><a href="#">Image Audit (<span id="cnt_image_audit">-</span>)</a></li>
            <li menu_type="menu" menu_val="description_audit" id="menu_description_audit"><a href="#" >Description Audit (<span id="cnt_description_audit">-</span>)</a></li>
            <li menu_type="other" menu_val="" style="display:none"><a href="#" id="btn_other_list"></a></li>
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Operators (<span id="operator_cnt">-</span>) <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" id="audit_operators">
                <li menu_type="op" menu_val="1234"><a href="#">A <span>(1234)</span></a></li>
                <li menu_type="op" menu_val="12345"><a href="#">B <span>(1234)</span></a></li>
                <li><a href="#">C <span>(1234)</span></a></li>
                <li class="divider"></li>
                <li><a href="#">D <span>(1234)</span></a></li>
              </ul>
            </li>-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div style="float: right">
    <span id="loading" style="display:none" def_title="loading..." err_title="req error" count=0>loading...</span>
    </div>
  </div>
  <div id="board_body" style="padding:2px"  class="panel panel-default">
    <div style="width:100%;background-color: white" class="panel-heading" >
      <span>Recent Executed:</span>
      <span id="last_exec_list">-</span>
    </div>
    <!--<div id="list_no_found" style="margin: 20px"></div>-->

    <div id="list_body_div">

    </div>

  </div>

</div>

<script id="tmpl_modal" type="text/x-jquery-tmpl">
    <div class="modal fade" id="approve" tabindex="-1" role="dialog"
         aria-labelledby="approveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title" id="disapproveLabel">
                    Approve Product
                  </h4>
                </div>
                <div class="modal-body">
                  <p style="padding-left: 15px;">Do you confirm?</p>
                </div>
                <div class="modal-footer">
                  <input class="btn btn-md btn-primary" id="confirm_product_approve" name="commit"
                  type="submit" value="Confirm" />
                  <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
                    Cancel
                  </button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="tmpl_operators" type="text/x-jquery-tmpl">
    <button act='btn_operator' class="btn btn-default" operator_id="${id}" title="id:${id}">
        <span id="menu_op_id_${id}" operator_id="${id}">${username}</span><span class="op_cnt">(${item_cnt})</span>
    </button>
</script>

<script id="tmpl_description_audit" type="text/x-jquery-tmpl">
      <div id="list_body" class="container-fluid" style="padding:0px;min-height:200px"></div>
      <div style="clear:both;"></div>
      <hr>
      <div class="pagination" style="display:inline">
        <!--<a href="#" act="pagination_home" offset="0" class="btn btn-default">1</a>
        <a href="#" act="pagination_next" offset="" class="btn btn-primary" >next</a>

        per page:<span id="pagination_limit"></span>-->

        <div style="height:30px;">
            <span style="float:right;margin-right:5px">
                items count:<span id="page_items_count">0</span>
            </span>
          </div>
      </div>
</script>

<script id="tmpl_description_other" type="text/x-jquery-tmpl">
      <div id="list_body" class="container-fluid" style="padding:0px;min-height:200px"></div>
      <div style="clear:both;"></div>
      <hr>
      <div class="pagination" style="display:inline">
        <a href="#" act="pagination_home" offset="0" class="btn btn-default">1</a>
        <a href="#" act="pagination_next" offset="" class="btn btn-primary" >next</a>
        <!--per page:<span id="pagination_limit"></span>-->

        <div style="height:30px;">
            <span style="float:right;margin-right:5px">
                items count:<span id="page_items_count">0</span>
            </span>
          </div>
      </div>
</script>

<script id="tmpl_image_audit" type="text/x-jquery-tmpl">
    <div id="list_body" style="margin:1px;min-height:200px"> </div>
    <div style="clear:both;"></div>
    <hr>
    <div class="pagination" style="width:100%;display:inherit;height:60px;margin:2px">
      <div style="height:30px;">
        <span style="float:right;margin-right:5px">
            items count:<span id="page_items_count">-</span> /
            images count:<span id="page_images_count">-</span>
        </span>
      </div>
      <div>
        <a id="pass_imgs" class="btn-primary btn-lg">Pass</a>
      </div>
    </div>
</script>

<script id="tmpl_image_item" type="text/x-jquery-tmpl">
    {{each images}}
    <div class="img_item" item_id="${item_id}">
        <img act='zoom_img' style="min-width:200px;width:200px" width='200' class="sub_img"
            src='${get_img_w($value, 400,item_id)}' orig_url='${get_img_w($value,650,item_id)}'  title='${title}'></img>

        <div class="img_audit_item_info" style="background:${show_user_target(item_id)}" title="state:${state}">
            <div><span><a href="/products/${id}" target="_blank">id:${item_id}</a></span></div>
            <div>
            {{if state==0}}
            <span style="float:right">
                <select act='selImgAuditTask' style="width:100px;margin:2px"></select>
                <button act="btn_img_Task" item_id="${item_id}" title='${title}' start_time="${pending_review_time_utc}">Execute</button>
            </span>
            {{/if}}
            <div id="take_weight_msg"></div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="tmpl_owner_info" type="text/x-jquery-tmpl">
    <div class=info>
      Owner Info :
  </div>
   <div class=info>
      <a href="/users/${id}" target="_blank">
        <img width='100' src='${get_img_w(portrait,100)}'>
          <span class="help-block">Seller:${nickname}</span>
        </img>
      </a>
  </div>
  <table class=info_group><tbody>
    <tr><td>Items:</td><td>${item_total}</td></tr>
    <tr><td>Sold:</td><td>${item_sold_count}</td></tr>
    <tr><td>Listing:</td><td>${item_listing_count}</td></tr>
    <tr><td>Unlisted:</td><td>${item_unlisted_count}</td></tr>
    <tr><td>Unapproved:</td><td>${item_unapproved_count}</td></tr>
    <tr><td>Unavailable:</td><td>${item_unavailable_count}</td></tr>
  </tbody></table>
  <div style="margin:5px">
  {{if risk}}
    <br>
    <br>
    Risk:${risk}
  {{/if}}
  </div>
</script>

<script id="tmpl_desc_item_images" type="text/x-jquery-tmpl">
        {{each images}}
            {{if $index==0}}
                <div class="thumbnail" style="float: left;margin-bottom: 0;${check_item_image_is_new($value.is_new)};">
                    <img act='zoom_img' width='230' title='click to zoom'
                        src='${get_img_w($value['img_url'],400)}'
                        orig_url='${get_img_w($value['img_url'],650)}'></img>
                </div>
                <br>
            {{else}}
                <div class="item-order-image thumbnail" style="float: left;margin-bottom: 0;${check_item_image_is_new($value.is_new)};">
                    <img act='zoom_img' width='110' title='click to zoom' class="sub_img"
                        src='${get_img_w($value.img_url,200)}' orig_url='${get_img_w($value.img_url,650)}' data-img-id="${$value.img_id}"></img>
                </div>
            {{/if}}
        {{/each}}
</script>

<script id="tmpl_description_item" type="text/x-jquery-tmpl">
    <div class="row item_line" id="${id}">
      <div class="item_images col-sm-3" style="padding:2px">
        {{tmpl($data) '#tmpl_desc_item_images'}}
      </div>
      <div class="col-sm-5" style="padding:2px">
        <table class="info_group basic">
           <tr class="title"><td width="100">Title(id:${item_id})</td><td><a href="/products/${id}" target="_blank">{{html title }}</a></td></tr>
           <tr class="desc"><td>Description</td><td><span class="desc_text">{{html desc }}</span></td></tr>
           <tr><td>Category</td><td><span id="field_category_${item_id}" class=${check_cat_id(cat_id)}>${category}</span>
                <span act='btn_change_category' class="glyphicon glyphicon-edit pull-right icon-clickable"
                    item_id="${id}"></span>
            </td>
            </tr>
           <tr><td>Brand</td><td>${brand_name}</td></tr>
           <tr><td>Price</td><td class="${check_price_scope(price)}">${local_price}</td></tr>
           <tr><td>Location</td><td>${city},${region},${country}</td></tr>
        </table>
        <table class="info_group">
           <tr><td width="100">Offers</td><td>${offer_count}</td></tr>
           <!--<tr><td>Reviews</td><td>${review_count}</td></tr>-->
           <tr><td>Priority</td><td>${audit_priority}</td></tr>
        </table>
        <table class="info_group">
            <tr><td width="100">Status</td><td>${state_txt}</td></tr>
           <tr><td>Edited <br>after review</td><td>${is_edit_after_review}</td></tr>
           <tr><td>Padding <br>review time</td><td>
            ${pending_review_time[0]} minutes ago
            <div id="pending_review_time_${item_id}" utc="${pending_review_time_utc}">
                <span> ${pending_review_time[1]}</span><br/>
                <span> ${pending_review_time[2]}</span><br/>
                <span> ${pending_review_time[3]}</span>
            </div></td></tr>
           <tr><td>Reviewer</td><td>${reviewer}</td></tr>
           <tr><td>Check tag</td><td>${audit_tag}</td></tr>
        </table>

      </div>
      <div class="col-sm-2" style="padding:2px">
        <div class="owner_${user_id}" style="padding:2px;border-radius:4px;"></div>
      </div>
      <div class="col-sm-2" style="padding:2px">
        <div class="audit_action_box" data-item-id=${item_id} style="display:table-cell;vertical-align:middle;width:100%;float:left;padding:25px">
            {{if item_task_id}}
                <div class="item_task" data-item-task-id=${item_task_id}>
                    Task Id:
                    <a href="/item_tasks/${item_task_id}" target="_blank">${item_task_id}</a>
                    <button type="button" act="btn_refresh_task" item_id="${item_id}" task_id="${item_task_id}" class="btn">refresh</button>
                    <br/>
                    <label>TaskType:</label>
                    ${item_task_type}
                    <hr/>
                </div>
            {{/if}}
            <div class="item_approve_box">
                <input name='chk_approve' type="checkbox" value="${item_id}"/>
                <button class="btn btn-sm btn-primary" style="display: inline-block;text-align: center;" disabled >Approve</button>
                {{if weight < 5}}
                    <div class="change_weight">
                        <input type="checkbox" ${check_change_weight(is_edit_after_review)} />Change weight ${weight} to 5
                    </div>
                {{/if}}
            </div>
            <div class="item_task_rule_box">
                <hr/>
                <input class="selected_item_task_rule" type="hidden" value="-1"/>
                <div class="often_use_rules_box">
                    <h6> Often use rules </h6>
                    <ul class="often_use_rules list-unstyled" item_id="${item_id}"></ul>
                </div>
                <div>Another Issue:<select class="item_task_rule" act='sel_task_type' style="width:90px;margin:2px"></select></div>
                <button class="change_rule_action btn btn-danger" act="btn_exec_task">Execute</button>
                <div class="message"></div>
            </div>
        </div>
      </div>
    </div>
</script>

<script id="tmpl_often_use_rules" type="text/x-jquery-tmpl">
<li><label><input class="item_task_rule" type="radio" name="rule_radio_${item_id}" id="rule_radio_${id}" value="${name}">${name}</label></li>
</script>

<script>

    function check_item_image_is_new(is_new) {
        if (is_new === true) {
            return "border: 1px solid red";
        } else {
            return '';
        }
    }

    function check_price_scope(price){
        if(price>1){
            return "";
        }else{
            return "text_danger";
        }
    }
    function check_cat_id(id){
        if(id==19){
            return "text_danger";
        }else{
            return "";
        }
    }
    function act_img_zomm(){
        $("img[act='zoom_img']").click(function () {
            window.open($(this).attr('orig_url'));
        });
    }

    function check_change_weight(is_edit_after_review) {
        if(is_edit_after_review === false) {
            return 'checked';
        } else {
            return '';
        }
    }

    function get_img_w(img , w ,item_id){
        try{
            var sss = "/image/upload/";
            return img.replace(sss,sss+"w_"+w+"/");  //",h_"+w+"
        }catch(e){
            console.error(img)
            console.error("img error:"+item_id)

            return img
        }

    }


    function show_no_data(msg  , is_clean){

        if(!msg){
            msg = "No data on you.";
        }
        var chd = $("#list_body").children();
        if (chd.length == 0 || is_clean) {
            $("#list_body").html("<div id='no_data' class='no_data'>"+msg+"</div>")
        }

        $("#page_items_count").text(chd.length);
    }

    function callback_approve_ok(id, is_risk){

        console.info("callback_approve_ok="+id)
        $('.modal.fade').modal('hide');

        //var pending_review_time_utc = $("#pending_review_time_"+id).attr("utc")
        //if(is_risk=="true") {
        //    __ga_send_diff(__ga_category,"Approve(Risk)",operator_name,pending_review_time_utc);
        //}else{
        //    __ga_send_diff(__ga_category,"Approve",operator_name,pending_review_time_utc);
        //}

        remove_description_item(id);

        //get_stat_info(current_op_id);
    }
</script>

<script>
    //var req_audit_data_start = false;

//    function act_approve_window() {
//        $('a[act="approve_btns"]').click(function () {
//            var item_id = $(this).attr("item_id");
//            var url = $(this).attr("url");
//            req_get_page(url, {id: item_id, is_remote: true}, function(data){
//                $(data).modal('show');
//            })
//        });
//    }

    function act_refresh_stat_info(){
        $('#btn_refresh_stat_info').click(function () {
            auto_stat_info_refresh();
        });
    }

    function act_set_first_image() {
        $('.item-order-image').on('mouseenter', function () {
            var html_text = '<button id="set_first_image_button" class="btn btn-primary" style="position: absolute; right: 5px; top: 5px; z-index: 30;">Set First Image</button>';
            $(this).append(html_text);
            $('.item-order-image > button#set_first_image_button').on('click', function () {
                var image_id = $(this).parent().children('img').data('img-id');
                var item_id = $(this).parents('.row.item_line').attr('id');
                var item_task_id = $(this).parents('.row.item_line').find('.audit_action_box .item_task').data('item-task-id');

                console.log("item_id=" + item_id + ",image_id=" + image_id);
                if (image_id && item_id) {
                    var url = host_baseurl + "/board/set_first_image.json";
                    var data = {};

                    data['item_id'] = item_id;
                    data['image_id'] = image_id;
                    if (item_task_id) {
                        data['item_task_id'] = item_task_id;
                    }

                    req_post_data(url, data, function (data) {
                        console.log(data);
                        console.log(item_id);

                        var item_images_html = $('#tmpl_desc_item_images').tmpl(data['data']);
                        $('div#'+item_id+" .item_images").html(item_images_html);
                        act_set_first_image();
                    }, function () {
                    }, function (error) {
                        console.log(error);
                    });
                }
            });
        });
        $('.item-order-image').on('mouseleave', function () {
            $(this).children('button#set_first_image_button').remove();
        });
    }

    function act_approve() {
        $('.item_approve_box > input[name="chk_approve"]').click(function () {
            var object_this = $(this);
            var approve_button = object_this.parent().find('button');

            if (object_this.prop('checked') == true) {
                approve_button.prop('disabled', false);
            } else {
                approve_button.prop('disabled', true);
            }
        });
        $('.item_approve_box > button').click(function () {
            console.log('clicke item approve button');

            var object_this = $(this);
            var audit_action_box  = object_this.parents('.audit_action_box');
            var item_id = audit_action_box.data('item-id');
            var item_task_id = audit_action_box.find('.item_task').data('item-task-id');
            var is_change_weight = audit_action_box.find('.item_approve_box .change_weight input').prop('checked');
            var url = host_baseurl + "/board/approve.json";
            var data = {};

            console.log('item_id=' + item_id);
            console.log('item_task_id=' + item_task_id);
            console.log('is_change_weight=' + is_change_weight);

            data['item_id'] = item_id;
            data['operator_id'] = operator_id;
            if (item_task_id) {
                data['item_task_id'] = item_task_id;
            }
            if (is_change_weight) {
                data['is_change_weight'] = true;
            }

            req_post_data(url, data, function(data) {
                console.log(data);
                console.log(item_id);
                remove_description_item(item_id);
            }, function() {
                object_this.text("Sending...");
                object_this.prop('disabled', true);
            }, function (error) {
                object_this.prop('disabled', false);
                object_this.text("Error!");
                console.log(error);
            });
        });
    }

    var biz_description_images = function () {
        var sel_task_type_obj = null;
        function _init_task_rules_select(){
            if (!sel_task_type_obj){
                sel_task_type_obj = sys_init_selects_remote(
                        "select[act='sel_task_type']" , host_baseurl+"/tasks/get_rules",null, null, true)
            }
            sel_task_type_obj.init();

            act_quick_task();

            act_refresh_task();

        }

        function _init_often_use_rules() {
            $.get(host_baseurl+"/tasks/get_often_use_rules", {}, function (data, textStatus, XMLHttpRequest) {
                //sys_check_res_data(data);
                var rules = data;

                if (rules && rules.length == 0)
                    $(".often_use_rules_box").each (
                            function(index, element) {
                                $(element).html("");
                            });
                else {
                    $(".often_use_rules").each(
                            function(index,element){
                                var item_id = $(element).attr("item_id")
                                // append item_id to each rule list
                                rules.forEach(function(rule){
                                    rule["item_id"] = item_id
                                })
                                $("#tmpl_often_use_rules").tmpl( rules ).appendTo(element);
                            }
                    );
                }

                act_task_rules();
            });
        }

        function _load_owner_info(data) {
            //console.info("get_owner_info..."+new Date())
            var owner_ids = [];
            var url = host_baseurl + "/owners.json";
            data.forEach(function (item) {
                if (owner_ids.indexOf(item['user_id']) == -1) {
                    owner_ids.push(item['user_id']);
                }
            });
            //console.info(owner_ids)
            if (owner_ids.length > 0) {
                $.get(url, {owner_ids: owner_ids}, function (data, textStatus, XMLHttpRequest) {
                    //console.info(data)
                    data.forEach(function (owner) {
                        $(".owner_" + owner.id).each(function () {
                            $("#tmpl_owner_info").tmpl(owner).appendTo(this);
                            if (owner.risk) {
                                $(this).addClass("user-risk");
                            }
                        });
                    });
                });
            }
        }
        function _show_data(data) {

            console.info("_show_data = "+data.data.length);

            if (data.data.length == 0) {
                show_no_data(null, true);
            }else{
                $("#list_body").html("")
            }

            $("#tmpl_description_item").tmpl(data.data).appendTo("#list_body");


            highlight_risk_words(data.item_risk_words);

            act_img_zomm();

            act_set_first_image();

            act_approve();

            _load_owner_info(data.data);

            _init_task_rules_select();

            _init_often_use_rules();

            act_category_modify();

            act_img_task();

            $("#backToTop").click();

        }

        function _req_data(type, req_ext ,offset) {

            if(!offset){
                offset = 0
            }

            var url = host_baseurl + "/board/list_items.json";
            var req_data = {'fn': type};
            //console.info(req_ext)
            if (req_ext) {
                dict_merge(req_data , req_ext)
            }
            console.info(req_data)
            //dict_merge(req_data , {'offset':offset,"limit":limit})
            //console.info(req_data)
            //if (req_audit_data_start){
            //    console.info("req_audit_data_start="+req_audit_data_start)
            //    return
            //}
            //req_audit_data_start = true

            $.get(url, req_data, function (data, textStatus, XMLHttpRequest) {

                console.info(data)

                __ga_set_event_time("__ga_page_or_data_loaded")

                data_body = data['body']

                $("#page_items_count").text( data_body['meta']['count'])

                _show_data(data_body);

                var user_name = data_body['current_operator']['username']
                console.info("user_name="+user_name)
                show_operator_name(user_name)

                //req_audit_data_start = false

            });

        }
        return {
            close: function () {
                $("#module_filter_div").html("")
                $("#module_action_div").html("")
                $("#page_head").html("")
            },
            load_data: function (type, req_ext) {
                _req_data(type, req_ext)
            }
        }

    }();

    function assign_data_now(type){
        var url = host_baseurl + "/board/" + operator_id + "/assign_data.json";
        req_post_data(url,{fn:type,"operator_id":operator_id},function(res) {
            console.info(res);

            auto_stat_info_refresh();
        });
    }

    var biz_audit_images = function () {

        var selImgAuditTask_obj = null;
        function _init_img_audit_task_select(){
            if (!selImgAuditTask_obj){
                selImgAuditTask_obj = sys_init_selects_remote(
                        "select[act='selImgAuditTask']" , host_baseurl+"/tasks/get_img_audit_rules",null, null, true)
            }
            selImgAuditTask_obj.init();
        }

        function _pass_and_next(is_fetch_imgs) {
            // todo 标记没问题的图片, set_items_imgs_ok
            var ids = [];
            $(".img_item").each(function (it, data) {
                //console.info(data)
                ids.push($(data).attr("item_id"))
            })
            console.info(ids)

            var url = host_baseurl + "/board/pass_images.json";
            req_post_data(url, {
                item_ids: ids,
                "operator_id": get_crrent_op_id(),
                "login_op_id": operator_id
            }, function (res) {

                show_no_data(null, true);
                $("#page_items_count").text(0);
                $("#page_images_count").text(0);

                get_stat_info(get_crrent_op_id());

                assign_data_now("fetch_images");
            })
        }

        function _show_images_data(data) {
            $("#list_body").html("");

            if (data.length == 0) {
                show_no_data("No images on you.",  true)

                $("#page_items_count").text(0)
                $("#page_images_count").text(0)
                biz_audit_images.pagination_acts(false , true);
                return
            }

            biz_audit_images.pagination_acts(false , false);

            $("#tmpl_image_item").tmpl(data).appendTo("#list_body");

            $("img[act='zoom_img']").click(function () {
                window.open($(this).attr('orig_url'));
            });

            var page_images_count = $(".img_item").size()
            var page_items_count = data.length
            $("#page_items_count").text(page_items_count)
            $("#page_images_count").text(page_images_count)

            act_img_task();

            $("#backToTop").click()

        }

        return{
            close:function(){
                $("#module_filter_div").html("")
                $("#module_action_div").html("")
                $("#page_head").html("")
            },

            init:function(op_id) {
                biz_audit_images.load_data(op_id)
            },

            load_data:function(op_id){
                if(op_id){}
                else{
                    op_id = operator_id
                }
                biz_audit_images.req_data("images_data" ,{"operator_id":op_id});
            },

            req_data:function(type ,req_ext ,offset) {

                if(!offset){
                    offset = 0
                }

                var url = host_baseurl + "/board/list_images.json";
                var req_data = {'list_order':$("#list_order").val()};
                if (req_ext) {
                    dict_merge(req_data , req_ext)
                }
                dict_merge(req_data , {'offset':offset,"limit":limit})

                //if (req_smart_review_data_start){
                //    console.info("req_smart_review_data_start="+req_smart_review_data_start)
                //    return
                //}
                //req_smart_review_data_start = true
                //console.info(req_data)
                $.get(url, req_data, function (data, textStatus, XMLHttpRequest) {

                    console.info(data)

                    _show_images_data(data['body']['data']);
                    var user_name = data['body']['current_operator']['username']
                    console.info("user_name="+user_name)
                    show_operator_name(user_name);

                    __ga_set_event_time("__ga_page_or_data_loaded")

                    _init_img_audit_task_select();

//                    if (get_crrent_op_id()) {
//                        setTimeout(function(){
//                            get_stat_info(get_crrent_op_id());
//                        },500)
//                    }
                    //req_smart_review_data_start = false
                });
            },
            pagination_acts:function(init , no_data){

                if (init){
                    //console.info("pagination_acts")
                    $('#pass_imgs').click(function () {
                        _pass_and_next(false);
                        //sel_list_order.setNewVal();

                        __ga_send_diff(__ga_category,"Pass",operator_name,__ga_page_or_data_loaded);

                        return false
                    })
                }
            }



        }
    }();
</script>
<script>

    var __ga_category = "Smart Audit Board";
    var __ga_page_or_data_loaded = __ga_set_event_time()

    var host_baseurl = "/smart_audit";
    var m_curr_req_type = "";

    var approve_url="<%= ajax_products_path(fn: "approve_window")%>";
    var approve_risk_url="<%= ajax_products_path(fn: "approve_risk_window")%>";
    var goto_task_url="<%= item_tasks_path({"grid"=>{"f"=>{"processor"=>"system","state"=>[Settings.ITEM_TASK_STATE.Created]}}})%>";
    var change_cat_win_url="<%= ajax_products_path(fn: "batch_modify_category_window") %>";

    var time_out = 25000;//<%= Settings.AJAX.Timeout %>
    var operator_id = '<%=session[:current_admin_id]%>';
    var operator_name = '<%=session[:current_admin_username]%>';

    var current_op_id = '<%=session[:current_admin_id]%>';

    var fetch_size = 50;
    var limit = fetch_size;

    var req_smart_review_data_start = false

    var current_operator_id = operator_id



    var last_item_id = ""
    var last_color = ""
    var item_colors = ['#FFE45C','#a1882b','#ffefc6','#8AC007','#808000']
    var tm_item_colors = []

    document.title = "Smart Audit Board";

    function show_user_target(item_id){

        if(tm_item_colors.length==0){
            tm_item_colors = item_colors.concat()
        }
        //console.info(">>>"+item_id+";"+last_item_id)
        if (last_item_id==item_id){
            //console.info("==="+item_id)
            col = last_color
        }else{
            //console.info("!!!"+item_id)
            col = tm_item_colors.pop()

            last_item_id=item_id
            last_color =col
        }
        //console.info("col:"+col)
        return col
    }

    var audit_view_type = "image_audit";//"description_audit"

    function init_audit_type_tmpl(audit_view_type){
        try{

            $("#list_body_div").html("");
            //console.info(audit_view_type)
            //console.info($("#tmpl_"+audit_view_type))
            $("#tmpl_"+audit_view_type).tmpl({}).appendTo("#list_body_div");
        }catch(e){
            console.info(e)
        }
    }

    var __stat_interval_executor = null;
    function auto_stat_info_refresh(){
        __stat_interval_executor.refresh_one();
    }
    function auto_stat_info_stop(){
        //__stat_interval_executor.stop();
    }

    function init_smart_audit() {

        console.info("init_smart_audit.");

        get_stat_info(get_crrent_op_id(), function(){
            //console.info("init_smart_audit interval_executor");
            __stat_interval_executor = interval_executor(auto_stat_info);

            __stat_interval_executor.start();
        });

        show_operator_name(operator_name);

        act_top_menu();
        act_operators();

        act_tab_menu();

        act_check_in_out(operator_id);

        console.info("init_smart_audit. ok");
    }
    function act_refresh_task(){
        $("button[act='btn_refresh_task']").click(function(){
            var oThis = $(this);
            var item_id = oThis.attr("item_id");
            var task_id = oThis.attr("task_id");
            var url = host_baseurl + "/tasks/"+task_id+"/refresh.json";
            req_post_data(url, {task_id: task_id, item_id: item_id,"operator_id":get_crrent_op_id()},function(res){
                console.info(res['data']['task_complete'])
                if (res['data']['task_complete']==true){
                    remove_description_item(item_id);
                }else{
                    oThis.text(oThis.attr("msg"));
                }

            },function(){
                oThis.attr("msg",oThis.text());
                oThis.text("Sending...");


            },function(){
                oThis.text("Error!");
                //remove_description_item(item_id);
            });
            return false;
        });
    }


    function act_img_task(){

        $("button[act='btn_img_Task']").click(function(){

            var oThis = $(this);
            var item_id = oThis.attr("item_id")
            var title = oThis.attr("title")
            var start_time = oThis.attr("start_time")

            //__ga_send_diff(__ga_category,"Execute Rule",operator_name,start_time);
            //show_last_exec_list(item_id, title);

            oThis.parent().parent().find("#take_weight_msg").text("")

            var task_type = oThis.parent().find("select").val()
            if(task_type && task_type!="-1"){

                var url = host_baseurl + "/tasks/"+item_id+"/quick_task_exec.json";
                req_post_data(url, {id: item_id,"operator_id":operator_id , "task_type":task_type},function(){

                    __ga_send_diff(__ga_category,"Execute Rule",operator_name,start_time);

                    // 隐藏加权商品
                    $("div[item_id='"+item_id+"']").remove();

                    var page_images_count = $(".img_item").size();
                    var page_items_count = parseInt($("#page_items_count").text())-1;
                    $("#page_items_count").text(page_items_count);
                    $("#page_images_count").text(page_images_count);

                    show_last_exec_list(item_id, title);

                    auto_stat_info_refresh();

                },function(){
                    oThis.text("Sending...")
                },function(){
                    oThis.text("Error!")
                })
            }else{
                oThis.parent().parent().find("#take_weight_msg").text("Please select task type!")
            }

            return false
        })
    }

    function act_quick_task(){

        $("button[act='btn_exec_task']").click(function(){

            var oThis = $(this);
            var audit_action_box  = oThis.parents('.audit_action_box');
            var item_id = audit_action_box.data('item-id');
            var item_task_type = oThis.parent().find('input.selected_item_task_rule').val();
            var item_task_id = audit_action_box.find('.item_task').data('item-task-id');

            console.log("item_id=" + item_id);
            console.log("task_type=" + item_task_type);
            console.log("item_task_id=" + item_task_id);

            if(item_task_type && item_task_type!="-1"){
                var url = host_baseurl + "/board/item_task_execute.json";
                var data = {};

                data['item_id'] = item_id;
                data['item_task_type'] = item_task_type;
                if (item_task_id) {
                    data['item_task_id'] = item_task_id;
                }
                req_post_data(url, data, function(){
                    remove_description_item(item_id);

                    var pending_review_time_utc = $("#pending_review_time_"+item_id).attr("utc");
                    __ga_send_diff(__ga_category,"Execute Rule",operator_name,pending_review_time_utc);
                },function(){
                    oThis.text("Sending...");
                },function(){
                    oThis.text("Error!");
                })
            }else{
                console.warn("no rule task selected!")
                oThis.parent().find(".message").text("Please select task type!")
            }
            return false;
        });

    }

    function act_check_in_out(op_id){
        $("#btn_check_in").click(function(){

            var url = host_baseurl + "/operators/"+op_id+"/check_in.json";
            var req_data = {"operator_id":op_id};
            req_post_data(url, req_data, function (res) {
                console.info("ok")
                $("#btn_check_in").hide();
                $("#btn_check_out").show();

                auto_stat_info_refresh();
            });

            return false;
        })

        $("#btn_check_out").click(function(){

            var r=confirm("Are you check out?")
            if (r==true)
            {
                var url = host_baseurl + "/operators/"+op_id+"/check_out.json";
                var req_data = {"operator_id":op_id};
                req_post_data(url, req_data, function (res) {
                    console.debug("check_out ok");

                    $("#btn_check_in").show();
                    $("#btn_check_out").hide();

                    alert("Check Out Successfully !\n\nPlease clear all items already assigned to you.");
                });

                //auto_stat_info_stop();
            }
            return false;
        })
    }


    function act_tab_menu(){
        $("#menu_audit_board a").click(function (){
            if ($(this).attr("data-toggle")=="dropdown"){
                return true
            }
            var li = $(this).parent()
            var menu_type = li.attr("menu_type");
            var menu_val = li.attr("menu_val");
            console.info("menu_type="+menu_type+";menu_val="+menu_val)
            if(menu_type=="menu"){

                switch_menu(menu_val ,li)

            }else if(menu_type=="other"){
                $(".active").removeClass("active")
                if(li){
                    li.addClass("active")
                }
                init_audit_type_tmpl("description_other");

                init_description_audit(menu_val)
            }
            return false
        });
        switch_menu("image_audit" ,null);
    }


    function switch_menu(menu_val ,li){

        if(!li){
            li = $("#menu_"+menu_val);
        }

        $(".active").removeClass("active")
        if(li){
            li.addClass("active")
        }

        if(menu_val=="image_audit"){
            init_audit_type_tmpl(menu_val);

            init_image_audit()

        }else if(menu_val=="description_audit"){
            init_audit_type_tmpl(menu_val);

            init_description_audit(menu_val)
        }else{
            init_audit_type_tmpl("desciption_audit");

            init_description_audit(menu_val)
        }
    }

    function init_image_audit(){

        biz_audit_images.load_data(get_crrent_op_id());

        biz_audit_images.pagination_acts(true , true);

    }

    function init_description_audit(type){
        biz_description_images.load_data(type,{"operator_id":get_crrent_op_id()});
    }



    function show_last_exec_list(id , title){

        if ($("#last_exec_list").text()=="-"){
            $("#last_exec_list").text("")
        }
        var last_num = $("#last_exec_list").find("a").size()
        console.info("last_exec_list:"+last_num)
        if(last_num>=10){
            console.info("remove="+last_num)
            $("#last_exec_list").find(":first-child").remove()
        }
        //console.info($("#last_exec_list").find(":first-child"))

        $("#last_exec_list").append("<a href='/products/"+id+"' target='_blank'>"+id+"</a>")
    }


    function act_top_menu(){

        function show_tab_menu_other(oThis){
            var title= $(oThis).attr("title");
            var val= $(oThis).attr("val");
            $("#btn_other_list").text(title);
            $("#btn_other_list").parent().show();
            $("#btn_other_list").parent().attr("menu_val",val);
            $("#btn_other_list").click();

            $("#menu_image_audit").hide();
            $("#menu_description_audit").hide();

            $("#btn_goto_self").parent().show()
            $("#current_operator").parent().hide()
        }

        function show_tab_menu_self(oThis){

            current_op_id = operator_id;
            $("#current_operator").text("...")
            tab_switch(current_op_id);
        }

        $("#btn_all_pending").click(function(){

            current_op_id = null;
            show_tab_menu_other(this);
            claen_current_op();
            return false
        });
        $("#btn_unassigned_pending").click(function(){
            current_op_id = null;
            show_tab_menu_other(this);
            claen_current_op();
            return false
        });
        $("#btn_assigned_pending").click(function(){
            current_op_id = null;
            show_tab_menu_other(this);
            claen_current_op();
            return false
        });

        $("#btn_goto_self").click(function (){
            show_tab_menu_self(this);
            return false;
        })


    }

    function tab_switch(op_id){

        $("#btn_other_list").parent().hide();

        $("#menu_image_audit").show();
        $("#menu_description_audit").show();

        $("#btn_goto_self").parent().hide();
        $("#current_operator").parent().show();

        show_no_data("", true);

        get_stat_info(op_id , function(res_data){
            console.info("tab_switch:get_stat_info");
            console.info(res_data)
            if(res_data.image_audit>0){
                $("#menu_image_audit a").parent().addClass("active")
            }else if(res_data.description_audit>0){
                $("#menu_description_audit a").parent().addClass("active")
            }else{

            }
        });

    }

    function get_crrent_op_id(){
        if(current_op_id){
            return current_op_id;
        }else{
            return operator_id;
        }

    }

    function act_operators(){
        $("#audit_operators button[act='btn_operator']").click(function(){

            var oThis = $(this);
            var op_id = oThis.attr("operator_id");

            current_op_id = op_id;
            console.info("click act_operators:"+current_op_id);

            show_no_data(null, true);

            tab_switch(op_id);


            return false
        })
    }


    function show_operator_name(user_name){
        $("#current_operator").html('');
        var act_name = "Operator ";
        $("#current_operator").text(act_name+":"+user_name)
    }

    function mark_current_op(op_id){

        console.info("mark_current_op="+op_id)

        if ($("button[act='btn_operator']").length==0){
            current_op_id = operator_id;
        }else{

            $("button[act='btn_operator']").each(function(index,it){
                console.info("mark_current_op="+index+";op_id="+op_id+"-"+$(it).attr("operator_id"))
                $(it).removeClass("current");
                if (op_id==$(it).attr("operator_id")){
                    $(it).addClass("current")
                    current_op_id = op_id;
                }
            });
        }

    }
    function claen_current_op(){
        $("button[act='btn_operator']").each(function(index,it){
            $(it).removeClass("current");
        });
    }


    function get_stat_info(op_id , load_ok) {
        console.info("get_stat_info start")
        var url = host_baseurl + "/board/stat_info.json";
        var req_data = {"operator_id":op_id,"login_op_id":operator_id};

        req_get_data(url, req_data, function (res) {

            console.info("get_stat_info ok1")
            //console.info(res)
            var res_data = res.data;

            $("#cnt_image_audit").text(res_data.image_audit)
            $("#cnt_description_audit").text(res_data.description_audit)

            $("#cnt_all_pending").text(res_data.all_pending)
            $("#cnt_unassigned_pending").text(res_data.unassigned_pending)
            $("#cnt_assigned_pending").text(res_data.assigned_pending)

            $("#cnt_unassigned_pending").attr("title","Image Unchecked:"+res_data.item_unassigned +"\n"+"Image Checked:"+res_data.desc_unassigned)
            $("#cnt_assigned_pending").attr("title","Image Unchecked:"+res_data.img_assigned_unaudit +"\n"+"Image Checked:"+res_data.desc_assigned_unaudit)

            $("#operator_cnt").text(res_data.operators.length)

            if (res_data.operators.length > 0) {

                $("#audit_operators").html("")
                $("#tmpl_operators").tmpl(res_data.operators).appendTo("#audit_operators");

                act_operators();
            }
            mark_current_op(op_id);

            console.info("stat_info ok2");

            if (res_data.checkin_status == true) {
                $("#btn_check_in").hide();
                $("#btn_check_out").show();

            } else {
                $("#btn_check_in").show();
                $("#btn_check_out").hide();

                //auto_stat_info_stop();
            }

            ajax_load_type_normal();

            if (load_ok)load_ok(res_data);

            console.info("stat_info ok3")

        },function(){
            // 关闭加载提示
            ajax_load_type("stat_info")
        });
    }

    function auto_stat_info() {

        console.info("auto_stat_info="+operator_id+";get_crrent_op_id="+get_crrent_op_id());

        get_stat_info(get_crrent_op_id() , function(res_data){
            // 检查是否已经显示图片或者图文数据
            var is_exist_data = false;
            var chd = $("#list_body").children();
            console.info("检查是否存在已经显示的数据:" + chd.length + ";" + $("#no_data").length)
            if ($("#no_data").length == 0) {
                //auto_stat_info_stop();
                is_exist_data = true;
            } else {
                is_exist_data = false;
            }
            console.info("is_exist_data:" + is_exist_data)
            if (!is_exist_data) {
                console.info(res_data)
                if (res_data.image_audit > 0) {
                    console.info("menu_image_audit")
                    $("#menu_image_audit a").click();
                } else if (res_data.description_audit > 0) {
                    console.info("menu_description_audit")
                    $("#menu_description_audit a").click();
                }else{
                    console.info("data 0,0")
                    //$("#menu_image_audit a").click();
                }
            }
        });
    }


    function remove_description_item(id) {

        $('#list_body > div#'+id).remove();

        show_last_exec_list(id, "");

        show_no_data();

        auto_stat_info_refresh();
    }


    function act_category_modify() {
        $("span[act='btn_change_category']").click(function () {

            console.debug($("#btn_change_category_confirm"))
            //

            var item_id = $(this).attr("item_id");
            var selected_ids = []
            selected_ids.push(item_id)

            $.ajax({
                url: change_cat_win_url,
                type: "GET",
                data: {selected_ids: selected_ids},
                cache: false,
                timeout: 15000,
                success: function (data) {

                    $("body").append($(data))

                    $("div#batchModifyCategory").on('shown.bs.modal', function () {
                        item_category_modify_confirm(item_id)
                    })
                    $("div#batchModifyCategory").on('hidden.bs.modal', function () {
                        $('div#batchModifyCategory').remove();
                    })

                    $("div#batchModifyCategory").modal('show');

                },
                error: function (xhr, status, error) {
                    alert(status + '.Please try again.');
                }
            });

        });

    }

    function item_category_modify_confirm(item_id){
        console.debug("item_category_modify_confirm")

        $("#btn_change_category_confirm").click(function () {

            console.debug("item_category_modify_confirm click")
            var data=$("#form_change_category").serialize();
            var url=$("#form_change_category").attr("action");


            req_post_data(url , data, function(data){
                $("div#batchModifyCategory").modal('hide');
                // 显示更新后的cat数据
                var text = $("input[name='category_id']:checked").parent().text().trim();
                $("#field_category_"+item_id).text(text);
            });

            return false
        });
    }

    function act_task_rules() {
        $('.item_task_rule_box .item_task_rule').click(function(){
            var p_element = $(this).parents(".item_task_rule_box");
            var rule_name_element = p_element.find('input[type="hidden"]').first();

            if(this.type == "radio") {
                var sel_element = p_element.find("select.item_task_rule").eq(0);
                sel_element.val(-1);
                // set up the rule name
                $(rule_name_element).attr("value", $(this).attr("value"));
//                console.info($(this).attr("value"))
            } else if (this.type == "select-one") {
                var input_elements = p_element.find("input.item_task_rule");
                input_elements.each(function(index,element) {
                    element.checked = false;
                })
                // set up the rule name
                $(rule_name_element).attr("value", $(this).find("option:selected").val());
//                console.info($(this).find("option:selected").val())
            } else {

            }
//            console.info("the rule name is: "  +   $(rule_name_element).attr("value"))
        });
    }

    init_smart_audit();
</script>

<script>
    /**
     * 高亮显示关键字, 构造函数
     * @param {} colors 颜色数组，其中每个元素是一个 '背景色,前景色' 组合
     */
    var Highlighter = function(colors) {
        this.colors = colors;
        if (this.colors == null) {
            //默认颜色:前景，背景，字体
            this.colors = ['#FF0000,#000000,#FF0000'];
        }
    }

    /**
     * 高亮显示关键字
     * @param {} node    html element
     * @param {} keywords  关键字， 多个关键字可以通过空格隔开， 其中每个关键字会以一种颜色显式
     * 用法：var hl = new Highlighter();
     */
    Highlighter.prototype.highlight = function(node, keywords) {
        keywords = this.parsewords(keywords);
        if (keywords == null || keywords.length == 0)
            return;

        for (var i = 0; i < keywords.length; i++) {
            this.colorword(node, keywords[i]);
        }
    }

    /**
     * 对所有#text的node进行查找，如果有关键字则进行着色
     * @param {} node 节点
     * @param {} keyword 关键字结构体，包含了关键字、前景色、背景色
     */
    Highlighter.prototype.colorword = function(node, keyword) {
        node = $(node)
        var node_html = node.html()
        if (node_html == "") {
            return;
        }

        var re = new RegExp(keyword.word, 'i');
        var new_node_html = node_html
        if (node_html.search(re) != -1) {
            re = new RegExp("\\b(" + keyword.word + ")\\b", 'gi');
            new_node_html = new_node_html.replace(re, '<span class="text_danger">$1</span>');
        }

        var num_re = new RegExp("(\\d{3,})", 'g');
        new_node_html = new_node_html.replace(num_re, '<span class="text_danger">$1</span>');
        node.html(new_node_html)
    }

    /**
     * 将逗号分隔开的关键字转换成对象数组
     * @param {} keywords
     * @return {}
     */
    Highlighter.prototype.parsewords = function(keywords) {
        keywords = keywords.split(',');
        if (keywords == null || keywords.length == 0)
            return null;

        var results = [];
        for (var i = 0; i < keywords.length; i++) {
            var keyword = {};
            var color = this.colors[i % this.colors.length].split(',');
            if(keywords[i].trim().length != 0) {
                keyword.word = keywords[i];
                keyword.bgColor = color[0];
                keyword.foreColor = color[1];
                results.push(keyword);
            }
        }
        return results;
    }

    function highlight_risk_words(item_risk_words) {
        var hl = new Highlighter();
        var nodeEle;
        console.info("title risk words list:"  + item_risk_words.title_risk_words_list);
        $('div.row.item_line div.col-sm-5 table.info_group.basic tr.title').each(
                function(index, domEle) {
                    nodeEle = $(domEle).find('td').eq(1).find('a');
                    hl.highlight(nodeEle, item_risk_words.title_risk_words_list);
                }
        );
        console.info("desc risk words list:"  + item_risk_words.desc_risk_words_list);
        $('div.row.item_line div.col-sm-5 table.info_group.basic tr.desc').each(
                function(index, domEle) {
                    nodeEle = $(domEle).find('td').eq(1).find('span');
                    hl.highlight(nodeEle, item_risk_words.desc_risk_words_list);
                }
        );
    }
</script>
