<h2>Home Banner</h2>

<hr/>

<% unless @home_banner.new_record? %>
    <div id="home_banner_info" class="col-md-6">
      <div class="col-md-3">
        <a href="<%= @home_banner.image_url %>" target="_blank">
          <%= home_banner_thumb_image(@home_banner) %>
        </a>
      </div>
      <div class="col-md-9">
        <div class="col-md-12">
          <label class="col-md-4">Status:</label>
          <span><%= campaign_status(@home_banner) %></span>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Start Time:</label>
          <span><%= @home_banner.begin_at if is_campaign_valid(@home_banner) %></span>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">End Time:</label>
          <span><%= @home_banner.end_at if is_campaign_valid(@home_banner) %></span>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Click Action:</label>
          <span><%= @home_banner.click_action %></span>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Comment:</label>
          <span><%= @home_banner.comment %></span>
        </div>
        <% if is_campaign_valid(@home_banner) %>
            <div class="col-md-12">
              <%= link_to 'Disable', tools_home_banner_path, method: :delete, class: 'btn btn-md btn-primary col-md-offset-1' %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<div class="col-md-6">
  <div id="preview_image">
  </div>
  <%= form_for @home_banner, as: 'campaign', url: tools_home_banner_path, method: :put do |f| %>
      <div class="form-group">
        <label class="control-label">
          Image
        </label>
        <%= cl_image_upload_tag(:image, class: 'form-control') %>
        <span class="help-block">Size: <%= Settings.CAMPAIGN.IMAGE.HomeBanner.With %> * <%= Settings.CAMPAIGN.IMAGE.HomeBanner.Height %> px</span>
        <%= text_field_tag 'campaign[image_url]', nil, class: 'hidden' %>
      </div>
      <div class="form-group">
        <label class="control-label">
          Click Action
        </label>
        <%= campaign_click_action_tag(@home_banner.click_action) %>
      </div>
      <div class="form-group">
        <label class="control-label">
          Start Time(Zone:<%= Time.zone.name %>)
        </label>
        <%= date_field_tag 'campaign[begin_at]', is_campaign_valid(@home_banner) ? @home_banner.begin_at.to_date : Time.current.to_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label">
          End Time(Zone:<%= Time.zone.name %>)
        </label>
        <%= date_field_tag 'campaign[end_at]', is_campaign_valid(@home_banner) ? @home_banner.end_at.to_date : Time.current.to_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label">
          Comment
        </label>
        <%= f.text_field :comment, class: 'form-control' %>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2">
          <%= f.submit class: 'btn btn-md btn-default'%>
        </div>
      </div>
  <% end %>
</div>

<%= cloudinary_js_config %>
<script>
    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
        $('div#preview_image').html(
                $.cloudinary.image(data.result.public_id,
                        { format: data.result.format, version: data.result.version,
                            crop: 'fill', width: <%= Settings.CAMPAIGN.THUMBNAIL_IMAGE.HomeBanner.With %>, height: <%= Settings.CAMPAIGN.THUMBNAIL_IMAGE.HomeBanner.Height %> })
        );
        $('input#campaign_image_url').val(data.result.url);
        return true;
    });
    $('.cloudinary-fileupload').bind('cloudinaryfail', function(e, data) {
        alert("upload fail!");
    });
</script>
