<%= form_for email_template, as: 'email', url: loc_url, method: loc_method, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <% if email_template.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(email_template.errors.size, "error") %></h3>
          <ul>
            <% email_template.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: 'off', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :subject, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :subject, class: 'form-control', autofocus: true, autocomplete: 'off', maxLength: 100, required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_area :content, cols: 30, rows: 20, class: 'form-control', escape: false, required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_area :comment, class: 'form-control', cols: 30, rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :from_address, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :from_address, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :notification_type, class: 'col-md-2 control-label' %>
      <div class="col-md-2">
        <%= f.select  :notification_type, Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.to_a, {}, class: 'form-control', require: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-2 control-label' %>
      <div class="col-md-8">
        <%= f.check_box :status %>
        <label>Is Valid?</label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <%= f.submit class: "btn btn-md btn-primary" %>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <%= link_to 'Cancel', :back, class: "btn btn-md btn-default" %>
      </div>
    </div>

<% end %>
