<h2>Email Template</h2>

<hr/>

<div class="col-md-12">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right col-md-2">
      <%= link_to "Edit", edit_templates_email_path(@email), class: "btn btn-md btn-danger btn-block" %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-bordered table-hover">
    <tbody>
    <% @email.attributes.each_pair do |key, value| %>
        <tr>
          <th class="col-md-2"> <%= key.humanize %></th>
          <td><%= email_template_attr_value(@email, key) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
