<%= form_tag execute_action_item_task_url(@task), method: 'post', role: 'form' do %>
    <%= hidden_field_tag 'rule_action', @task.rule.action %>
    <div class="form-group col-md-12">
      <% if @task.rule.action == 'lower_weight' %>
          <%= check_box_tag "", "", true, disabled: true %>
          <%= label_tag "", "Change Weight from #{@task.item.weight} to " %>
          <%= text_field_tag "", @task.rule.lower_weight_value, size:4, disabled: true %>
      <% end %>
      <% if @task.rule.action == 'take_down' %>
          <%= check_box_tag "", "", true, disabled: true %>
          <%= label_tag "", "Take Down"%>
      <% end %>
    </div>

    <% if @task.rule.notify_user? %>
        <div class="form-group col-md-12">
          <%= check_box_tag "notify_user", "yes", true, disabled: true %>
          <%= label_tag "take_down_label", "Send Message"%>
        </div>

        <div class="form-group col-md-12">
          <%= label_tag :push, "Push", class: 'control-label' %>
          <%= text_area_tag :push_message, @push_message, class: 'form-control', cols: 30, rows: 2, maxlength: 100 %>
        </div>

        <div class="form-group col-md-12">
          <%= label_tag :email_title, "Email title", class: 'control-label' %>
          <%= text_field_tag :email_title, @email_title, class: 'form-control', maxlength: 100 %>
        </div>

        <div class="form-group col-md-12">
          <%= label_tag :email_and_system_message, "System message and first part of email", class: 'control-label' %>
          <%= text_area_tag :email_and_system_message, @email_and_system_message, class: 'form-control', cols: 30, rows: 5 %>
        </div>

    <% end %>

    <div class="form-group col-md-12">
      <%= submit_tag "Execute Action", data: { disable_with: 'Processing ...'}, class: 'btn btn-warning pull-right' %>
    </div>
<% end %>

