<div class="table-responsive">
  <% @task.comments().each do |c| %>
      <table class="table table-bordered">
        <tbody>
        <tr style="background: #F5F5F5">
          <td align="left">
            <strong><%= c.commenter %></strong> (commented at: <%= c.created_at %>)
          </td>
        </tr>
        <tr>
          <td align="left">
            <%= simple_format c.comment %>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>

  <%= form_for([@task, @task.comments.build]) do |f| %>
      <table class="table table-bordered">
        <tr>
          <td align="left">
            <%= f.text_area :comment, cols: 50, rows: 4, class: 'form-control', required: true %>
            <span class="help-block">This will not send to users</span>
          </td>
          <td align="center">
            <%= f.submit "Comment", class: "btn btn-md btn-primary" %>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
