<div>
  <%= form_tag complete_item_task_path(@task), method: 'post', role: 'form' do %>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td align="left">
            <div class="form-group">
              <label class="control-label">
                <%= radio_button_tag "is_ok", 1, true %>
                Approve & Complete Task
              </label>

              <div id="completed_comment" class="col-md-offset-1">
                <%= text_area_tag "comment", nil, cols: 50, rows: 4, class: 'form-control', placeholder: "Comment", style: "width: 80%;" %>
                <span class="help-block">1. This comment will not send to seller</span>
                <span class="help-block">2. This approve action will not notify seller</span>

                <div style="margin-top: 10px;">
                  <div id="change_weight">
                    <%= check_box_tag :is_change_weight, "1", true %>
                    ChangeWeight: From <%= @product.weight %> To
                    <%= text_field_tag :weight, Settings.WEIGHT.Default %>
                    <span class="help-block"><%= "WeightRange: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
                  </div>
                  <script>
                      $(document).ready(function () {
                          $('#change_weight > input#is_change_weight').on('click', function () {
                              if ($(this).attr('checked')) {
                                  $(this).removeAttr('checked');
                                  $('#change_weight > input#weight').attr('disabled', 'disabled');
                              } else {
                                  $(this).attr('checked', 'checked');
                                  $('#change_weight > input#weight').removeAttr('disabled');
                              }
                          });
                      });
                  </script>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">
                <%= radio_button_tag "is_ok", 0, false %>
                Change task rule and execute it
              </label>
              <%= select_tag "operation_rule_id", options_for_select(@operation_rules), prompt: "Please select a rule", class: 'form-control col-md-offset-1', style: "width: 60%;", disabled: true %>
            </div>
          </td>
          <td align="center">
            <div class="form-group">
              <%= submit_tag "Submit", class: 'btn btn-warning' %>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>
  <script>
      $(document).ready(function () {
          $('input[name="is_ok"]').on("click", function () {
              if ($(this).val() == "1") {
                  console.log("1");
                  $('select#operation_rule_id').attr("disabled", "disabled");
                  $('select#operation_rule_id').removeAttr("required");
//                  $('textarea#comment').attr("required", "required");
//                  $('textarea#comment').removeAttr("disabled");
                  $('input#is_change_weight').removeAttr("disabled");
                  $('input#weight').removeAttr("disabled");
              } else {
                  console.log($(this).val());
                  $('select#operation_rule_id').attr("required", "required");
                  $('select#operation_rule_id').removeAttr("disabled");
//                  $('textarea#comment').attr("disabled", "disabled");
//                  $('textarea#comment').removeAttr("required");
                  $('input#is_change_weight').attr("disabled", "disabled");
                  $('input#weight').attr("disabled", "disabled");
              }
          });
      });
  </script>
</div>
