<div id="item_task_information" class="table-responsive" style="margin-bottom: 20px;">
  <table class="table table-bordered" style="margin-bottom: 0;">
    <tbody>
    <% ['id', 'task_type', 'state'].each do |key| %>
        <tr>
          <td align="right" class="active col-md-4"><strong><%= key.humanize %></strong></td>
          <td align="left" class="col-md-8">
            <%= @task.__send__(key) %>
          </td>
        </tr>
    <% end %>
    <% if @task.rule.delay_time.present? and @task.execute_action_at.present? %>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Auto Complete if no modify</strong>
          </td>
          <td align="left" class="col-md-8">
            <% if (@task.execute_action_at.to_i < @task.item.modified_at.to_i) %>
                  <span style="text-decoration: line-through;">
                    Yes
                  </span>
                  <span style="padding-left: 15px;">
                    (User Modified)
                  </span>
            <% else %>
                  <span>
                    Yes
                  </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Auto Complete Time</strong>
          </td>
          <td align="left" class="col-md-8">
            <span><%= @task.execute_action_at + @task.rule.delay_time.__send__(:hours) %></span>
            <span>(<%= (@task.rule.delay_time - (Time.current - @task.execute_action_at)/60.0/60).round(1) %> hours later)</span>
          </td>
        </tr>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Complete Type</strong>
          </td>
          <td align="left" class="col-md-8">
            <% if @task.rule.action_type == Settings.ItemOperationRules.ActionType.ApproveAndComplete %>
                <span>Approve & Complete</span>
                <% if @task.rule.target_weight.present? %>
                    <span>, change weight to <%= @task.rule.target_weight %></span>
                <% end %>
            <% elsif @task.rule.action_type == Settings.ItemOperationRules.ActionType.ExchangeRule %>
                <span>Change rule to '<%= @task.rule.target_rule.name if @task.rule.target_rule.present? %>'</span>
            <% end %>
          </td>
        </tr>
    <% end %>

    <% (@task.visible_attributes().keys() - ['id', 'task_type', 'state']).each do |key| %>
        <tr class="item_task_more_attribute hidden">
          <td align="right" class="active col-md-4">
            <strong>
              <% if key == 'task_jid' %>
                  Jid
              <% else %>
                  <%= key.humanize %>
              <% end %>
            </strong>
          </td>
          <td align="left" class="col-md-8">
            <% if key == 'item_id' %>
                <%= link_to "#{@task.item.title}(ID:#{@task.item_id})", product_path(@task.item) %>
            <% elsif key == 'user_id' %>
                <%= link_to @task.user.nickname, user_path(@task.user) if @task.user.present? %>
            <% else %>
                <%= @task.__send__(key) %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div id="item_task_more_information">
    <a style="margin-left: 90%;">
      <span class="icon-clickable fa fa-angle-double-down">More</span>
    </a>
    <script>
        $("#item_task_more_information > a > span").click(function () {
            $(".item_task_more_attribute").each(function () {
                if ($(this).hasClass("hidden")) {
                    $(this).removeClass("hidden");
                } else {
                    $(this).addClass("hidden");
                }
            });
            if ($(this).hasClass("fa-angle-double-down")) {
                $(this).removeClass("fa-angle-double-down").addClass("fa-angle-double-up");
                $(".item_task_more_attribute").each(function () {
                    $(this).removeClass("hidden");
                });
            } else {
                $(this).removeClass("fa-angle-double-up").addClass("fa-angle-double-down");
                $(".item_task_more_attribute").each(function () {
                    $(this).addClass("hidden");
                });
            }
        });
    </script>
  </div>
</div>
