<% if @item_details[:current].present? %>
    <div class="col-md-4" style="padding-left: 0; padding-right: 0">
      <div style="text-align: center;
              <%= 'border: 1px solid red;' unless @item_details[:previous][:images].include?(@item_details[:current][:images][0]) %>
      ">
        <%= link_to @item_details[:current][:images][0], target: '_blank' do %>
            <%= image_tag_content_400_400(image_url: @item_details[:current][:images][0], style: "width: 255px;") %>
        <% end %>
      </div>
      <% @item_details[:current][:images][1..-1].each do |image_url| %>
          <div style="text-align: center;width:126px;display: inline-block;margin-top: 1px;
                  <%= 'border: 1px solid red;' unless @item_details[:previous][:images].include?(image_url) %>
          ">
            <%= link_to image_url, target: '_blank' do %>
                <%= image_tag_content_200_200(image_url: image_url, style: "width: 126px;") %>
            <% end %>
          </div>
      <% end %>
    </div>

    <div class="col-md-8" style="padding-left: 0; padding-right: 0">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Title</strong>
          </td>
          <td align="left" class="col-md-8">
            <%= link_to product_path(@task.item), target: '_blank' do %>
                <%= raw Utils::BkOps.bk_html_diff(@item_details[:previous][:title], @item_details[:current][:title]) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Description</strong>
          </td>
          <td align="left" class="col-md-8">
            <%= raw Utils::BkOps.bk_html_diff(@item_details[:previous][:desc], @item_details[:current][:desc]) %>
          </td>
        </tr>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>BrandName</strong>
          </td>
          <td align="left" class="col-md-8">
            <%= raw Utils::BkOps.bk_html_diff(@item_details[:previous][:brand], @item_details[:current][:brand]) %>
          </td>
        </tr>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Price</strong>
          </td>
          <td align="left" class="col-md-8">
            <%= raw Utils::BkOps.bk_html_diff(@item_details[:previous][:local_price], @item_details[:current][:local_price]) %>
          </td>
        </tr>
        <tr>
          <td align="right" class="active col-md-4">
            <strong>Location</strong>
          </td>
          <td align="left" class="col-md-8">
            <%= raw Utils::BkOps.bk_html_diff(
                            "#{@item_details[:previous][:country]}, #{@item_details[:previous][:region]}, #{@item_details[:previous][:city]}",
                            "#{@item_details[:current][:country]}, #{@item_details[:current][:region]}, #{@item_details[:current][:city]}"
                    ) %>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="table table-bordered">
        <tbody>
        <% @other_item_details.each do |key, value| %>
            <tr>
              <td align="right" class="active col-md-4">
                <strong><%= key.to_s.humanize %></strong>
              </td>
              <td align="left" class="col-md-8">
                <% if key == :owner %>
                    <%= link_to value, user_path(@task.item.user_id), target: '_blank' %>
                <% else %>
                    <%= value %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% else %>
    <h3>Do not capture old item snapshot,
      <%= link_to "click here to item page", product_path(@task.item), target: '_blank' %>
    </h3>
<% end %>
