
<h2>Item Review Task List</h2>

<hr/>

<div class="col-md-6" style="padding-left: 0;">
  <table class="table table-bordered text-center">
    <tbody>
    <tr>
      <td class="col-md-6">
        <%= link_to item_tasks_path({"grid"=>{"f"=>{"state"=>[Settings.ITEM_TASK_STATE.ActionExecuted, Settings.ITEM_TASK_STATE.Created]}}}) do %>
            All (<%= @pending_process_task_count %>)
        <% end %>
      </td>
      <td class="col-md-6">
        <%= link_to item_tasks_path({execute_action_more_24h_tasks: true, "grid"=>{"f"=>{"state"=>[Settings.ITEM_TASK_STATE.ActionExecuted]}}}) do %>
            Executed Over 24 Hours (<%= @execute_action_more_24h_task_count %>)
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<table class="table table-bordered text-center">
  <tbody>
  <tr>
    <td>
      <% @task_type_counts.each_pair do |task_type, count| %>
          <%= link_to item_tasks_path(grid: {f: {task_type: task_type}}) do %>
              <%= task_type %> (<%= count %>)
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<%= grid(@item_tasks_grid) do |g|

  g.column name: 'ID', attribute: 'id', model: 'ItemTask', html: {class: 'col-md-1'} do |task|
    link_to(task.id, item_task_path(task))
  end

  g.column name: 'Item', attribute: 'id', model: 'EntityItem', html: {class: 'col-md-3'} do |task|
    link_to(task.item.title, product_path(task.item), target: '_blank') if task.item
  end

  g.column name: 'Owner', attribute: 'id', model: 'EntityItem', html: {class: 'col-md-1'} do |task|
    link_to(task.user.nickname, user_path(task.user), target: '_blank') if task.user
  end

  g.column name: "Processor", attribute: 'processor', html: {class: 'col-md-1'}

  g.column name: "Task Type", attribute: 'task_type', html: {class: 'col-md-2'}

  g.column name: "State", attribute: 'state', html: {class: 'col-md-1'},
           custom_filter: Settings.ITEM_TASK_STATE.to_a

  # g.column name: 'Comments', attribute: 'id', filter: false, model: 'ItemTaskComment', html: {class: 'col-md-2'} do |task|
  #   task.comments_text()
  # end

  g.column name: 'Create Time', attribute: 'created_at', html: {class: 'col-md-1'}

  g.column name: 'Execute Action Time', attribute: 'execute_action_at', html: {class: 'hidden'}

end -%>

