<div class="height-scroll-title">
  <h2>Item Task</h2>

  <hr/>
</div>

<div class="height-scroll col-md-4" style="background-color: lavender;padding-top: 15px;">
  <%= render 'information' %>

  <div class="panel panel-info">
    <div class="panel-heading">Comments and Review History</div>
    <div class="panel-body">
      <%= render 'comments' %>
    </div>
  </div>
</div>

<div class="height-scroll col-md-8">
  <% if @task.state == Settings.ITEM_TASK_STATE.Created %>
      <div class="panel panel-info">
        <div class="panel-heading">Actions</div>
        <div class="panel-body">
          <%= render 'actions' %>
        </div>
      </div>
  <% end %>

  <div class="panel panel-info">
    <div class="panel-heading">Item Detail</div>
    <div class="panel-body">
      <%= render 'item_detail' %>
    </div>
  </div>

  <% if @task.state != Settings.ITEM_TASK_STATE.Completed %>
      <div class="panel panel-info">
        <div class="panel-heading">Complete Actions</div>
        <div class="panel-body">
          <%= render 'complete' %>
        </div>
      </div>
  <% end %>
</div>

<% if @is_alter_flag.present? %>
    <script>
        $(document).ready(function () {
            alert("User has deleted this item.\nThis task is completed automatically.");
        });
    </script>
<% end %>
