<%= form_for @admin, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <% if @admin.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@admin.errors.size, "error") %></h3>
          <ul>
            <% @admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :username, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :username, class: 'form-control', autofocus: true, autocomplete: 'off' %>
      </div>
    </div>

    <% if @admin.new_record? %>
        <div class="form-group">
          <%= f.label :password, class: 'col-md-4 control-label' %>
          <div class="col-md-4">
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :user_type, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :user_type, options_for_select(Settings.BACKEND_USER.Types, @admin.user_type), {prompt: 'Please select an option'}, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :review_roles, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :review_roles, options_for_select(Settings.BACKEND_USER.Roles.to_a, @admin.review_roles.to_s.split(',')), {prompt: 'Please select an option', include_blank: true}, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :email, class: 'form-control', autofocus: true, autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <%= f.label class: 'control-label' do %>
            <%= f.check_box :is_super_admin %>
            Is Super Administrator?
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <%= label_tag class: 'control-label' do %>
            <%= check_box_tag :is_bi_user, '1', @admin.bi_level == 1 %>
            Has permission to access BI information?
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-5 col-md-5">
        <%= f.submit class: "btn btn-md btn-primary" %>
        <%= link_to 'Cancel', admins_path, class: "btn btn-md btn-default" %>
      </div>
    </div>

    <script>
        $(function () {
            if ($('select#admin_review_roles option:selected').val() != '') {
                $('input#admin_email').prop('required', true);
            }

            $('select#admin_review_roles').click(function () {
                if ($(this).children('option:selected').val() != '') {
                    $('input#admin_email').prop('required', true);
                } else {
                    $('input#admin_email').prop('required', false);
                }
            });
        });
    </script>

<% end %>
