<h2>Edit White List</h2>

<hr/>

<div class="col-md-6">
  <%= form_for @white_list, as: :white_list, url: white_list_admins_path(@configuration),
               method: :post, html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <label>Notes:</label>
          <span>1 line for 1 user id</span>

          <p>
            <label>Update Time:</label>
            <%= @white_list.updated_at %>
            (<%= ((Time.current - @white_list.updated_at) / 60 / 60).round(1) %>hours ago)
          </p>
        </div>
        <div class="panel-body">
          <div>
            <%= f.text_area :content, style: 'width: 100%;', rows: 20, required: true %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group" style="margin-bottom: 0;">
            <div class="col-md-offset-5">
              <%= f.submit 'Update', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
