<h2> Admins </h2>

<hr/>

<% if session[:is_super_admin] %>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group pull-right">
        <%= link_to "Create", new_admin_path, class: "btn btn-md btn-primary" %>
      </div>
    </div>
<% end %>


<%= grid(@admins_grid) do |g|

  g.column name: "ID", attribute: 'id', html: {class: 'col-md-1'}

  g.column name: "Username", attribute: 'username', ordering: false, html: {class: 'col-md-2'} do |task|
    link_to task.username, admin_path(task)
  end

  g.column name: "Review Role", attribute: 'review_roles', html: {class: 'col-md-2'}

  g.column name: 'Email', attribute: 'email', html: {class: 'col-md-2'}

  g.column name: 'BI', attribute: 'bi_level', html: {class: 'col-md-1'}

  g.column name: "Is Super Admin", attribute: 'is_super_admin', auto_reload: true do |task|
    task.is_super_admin? ? "Yes" : "No"
  end

  g.column name: "Data Joined", attribute: 'created_at', html: {class: 'col-md-2'} do |task|
    task.created_at.to_date if task.created_at
  end

  if session[:is_super_admin]
    g.column html: {class: 'col-md-1'} do |task|
      if task.id == session[:current_admin_id]
        link_to("Disable", '#', class: 'btn btn-sm btn-danger disabled')
      else
        link_to("Disable", admin_path(task), method: :delete,
                data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
                class: 'btn btn-sm btn-danger') if task.is_enabled?
      end
    end

    g.column html: {class: 'col-md-1'} do |task|
      if task.super?
        if task.id == session[:current_admin_id]
          link_to('Demote', '#', class: 'btn btn-sm btn-danger disabled')
        else
          link_to('Demote', admin_super_state_path(task), method: :delete,
                  data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
                  class: 'btn btn-sm btn-danger')
        end
      else
        if task.id == session[:current_admin_id]
          link_to('Promote', '#', class: 'btn btn-sm btn-success disabled')
        else
          link_to('Promote', admin_super_state_path(task), method: :post,
                  data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
                  class: 'btn btn-sm btn-success')
        end
      end
    end
  end


end -%>
