<div class="row">
  <div class="col-md-12">
    <div class="row">
      <%= form_tag password_admin_path, class: 'form-horizontal' do %>

          <div class="form-group">
            <%= label_tag :old_password, "Old Password", class: 'col-md-5 control-label' %>
            <div class="col-md-3">
              <%= password_field_tag :old_password, nil, class: 'form-control', autofocus: true, autocomplete: 'off' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :password, "New Password", class: 'col-md-5 control-label' %>
            <div class="col-md-3">
              <%= password_field_tag :password, nil, class: 'form-control', autocomplete: 'off' %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :password_confirmation, "Confirm Password", class: 'col-md-5 control-label' %>
            <div class="col-md-3">
              <%= password_field_tag :password_confirmation, nil, class: 'form-control', autocomplete: 'off' %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-5 col-md-5">
              <%= submit_tag "Submit", class: "btn btn-md btn-primary" %>
              <%= link_to 'Cancel', admins_path, class: "btn btn-md btn-default" %>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
