<h2> Information </h2>

<hr/>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Profile
        <%= link_to "Edit", edit_admin_path(@admin), class: "btn btn-xs btn-primary pull-right" %>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <tbody>
        <% @admin.attributes.each_pair do |key, value| %>
            <% if key != 'password_digest' %>
                <tr>
                  <th align="right"><%= key.humanize %></th>
                  <td>
                    <%= admin_attr_value(@admin, key) %>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Schedules
        <%= link_to "Add", new_schedule_path(operator_id: @admin.id, from_url: admin_path(@admin)), class: "btn btn-xs btn-primary pull-right" %>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <thead>
        <th>From</th>
        <th>To</th>
        <th>State</th>
        <th>Action</th>
        </thead>
        <tbody>
        <% @admin.schedules.order(state: :desc).order(start_time: :asc).each do |schedule| %>
            <tr>
              <td>
                <%= schedule.start_time %>
              </td>
              <td>
                <%= schedule.end_time %>
              </td>
              <td>
                <%= Settings.BACKEND_USER.ScheduleStates.invert[schedule.state] %>
              </td>
              <td>
                <%= link_to 'Edit', edit_schedule_path(schedule, from_url: admin_path(@admin)), class: 'btn btn-danger' %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
