<h2>Start Image</h2>

<hr/>

<% unless @launch.new_record? %>
    <div id="launch_info" class="col-md-6">
      <div class="col-md-3">
        <a href="<%= @launch.image_url %>" target="_blank">
          <%= launch_thumb_image(@launch) %>
        </a>
      </div>
      <div class="col-md-9">
        <div class="col-md-12">
          <label class="col-md-4">Status:</label>
          <span><%= campaign_status(@launch) %></span>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">Start Time:</label>
          <span><%= @launch.begin_at if is_campaign_valid(@launch) %></span>
        </div>
        <div class="col-md-12">
          <label class="col-md-4">End Time:</label>
          <span><%= @launch.end_at if is_campaign_valid(@launch) %></span>
        </div>
        <!--<div class="col-md-12">-->
          <!--<label class="col-md-4">Click Action:</label>-->
          <!--<span><%#= @launch.click_action %></span>-->
        <!--</div>-->
        <div class="col-md-12">
          <label class="col-md-4">Comment:</label>
          <span><%= @launch.comment %></span>
        </div>
        <% if is_campaign_valid(@launch) %>
            <div class="col-md-12">
              <%= link_to 'Disable', tools_start_image_path, method: :delete, class: 'btn btn-md btn-primary col-md-offset-1' %>
            </div>
        <% end %>
      </div>
    </div>
<% end %>

<div class="col-md-6">
  <div id="preview_image">
  </div>
  <%= form_for @launch, as: 'campaign', url: tools_start_image_path, method: :put do |f| %>
      <div class="form-group">
        <label class="control-label">
          Image
        </label>
        <%= cl_image_upload_tag(:image, class: 'form-control') %>
        <span class="help-block">Size: <%= Settings.CAMPAIGN.IMAGE.Launch.With %> * <%= Settings.CAMPAIGN.IMAGE.Launch.Height %> px</span>
        <%= text_field_tag 'campaign[image_url]', nil, class: 'hidden' %>
      </div>
      <!--<div class="form-group">-->
        <!--<label class="control-label">-->
          <!--Click Action-->
        <!--</label>-->
        <!--<%#= campaign_click_action_tag(@launch.click_action) %>-->
      <!--</div>-->
      <div class="form-group">
        <label class="control-label">
          Start Time(Zone:<%= Time.zone.name %>)
        </label>
        <%= date_field_tag 'campaign[begin_at]', is_campaign_valid(@launch) ? @launch.begin_at.to_date : Time.current.to_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label">
          End Time(Zone:<%= Time.zone.name %>)
        </label>
        <%= date_field_tag 'campaign[end_at]', is_campaign_valid(@launch) ? @launch.end_at.to_date : Time.current.to_date, class: 'form-control' %>
      </div>
      <div class="form-group">
        <label class="control-label">
          Comment
        </label>
        <%= f.text_field :comment, class: 'form-control' %>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2">
          <%= f.submit class: 'btn btn-md btn-default'%>
        </div>
      </div>
  <% end %>
</div>

<%= cloudinary_js_config %>
<script>
    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
        $('div#preview_image').html(
                $.cloudinary.image(data.result.public_id,
                        { format: data.result.format, version: data.result.version,
                            crop: 'fill', width: <%= Settings.CAMPAIGN.THUMBNAIL_IMAGE.Launch.With %>, height: <%= Settings.CAMPAIGN.THUMBNAIL_IMAGE.Launch.Height %> })
        );
        $('input#campaign_image_url').val(data.result.url);
        return true;
    });
    $('.cloudinary-fileupload').bind('cloudinaryfail', function(e, data) {
        alert("upload fail!");
    });
</script>
