<h3>Checked In Users</h3>

<hr/>

<div class="row">
  <div class="col-md-6">
    <div class="table-responsive text-center">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Name</th>
          <th class="text-center">Assigned</th>
          <th class="text-center">CheckedIn?</th>
          <th class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <% @operator_audit_info.each do |audit_info| %>
            <tr id="<%= audit_info[:id] %>">
              <td><%= audit_info[:id] %></td>
              <td><%= audit_info[:username] %></td>
              <td><%= audit_info[:item_cnt] %></td>
              <td><%= audit_info[:is_my] %></td>
              <td><%= link_to 'Check out & Reassign',
                              smart_audit_operator_path(id: audit_info[:id], reassign: 1),
                              method: :put,
                              data: {confirm: 'Do you confirm?',
                                     disable_with: 'Processing ...'},
                              class: 'btn btn-primary' %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
