<h2>Edit Configuration</h2>

<hr/>

<div class="col-md-6">
  <%= form_for @configuration, as: :configuration, url: configuration_path(@configuration), html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <label>Name:</label>
          <%= @configuration.name %>
        </div>
        <div class="panel-body">
          <div class="help-block">
            <p>
              <label>Update Time:</label>
              <%= @configuration.updated_at %>(<%= ((Time.current - @configuration.updated_at) / 60 / 60).round(1) %>
              hours ago)
            </p>

            <p>1 line for 1 keyword(s)</p>
          </div>
          <div>
            <%= f.text_area :content, style: 'width: 100%;', rows: 20 %>
          </div>
        </div>
        <div class="panel-footer">
          <div class="form-group" style="margin-bottom: 0;">
            <div class="col-md-offset-1 col-md-10">
              <%= f.submit class: 'btn btn-primary' %>
              <%= link_to 'Cancel', configurations_path, class: 'btn btn-default pull-right' %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
