<h2>Backend Configuration List</h2>

<hr/>

<%= grid(@configurations_grid) do |g|

  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}

  g.column name: 'Name', attribute: 'name', html: {class: 'col-md-2'}

  g.column name: 'Content', attribute: 'content' do |task|
    content = task.content
    if content.size > 100
      content = content[0..100] + '  ...'
    end
    content
  end

  g.column html: {class: 'col-md-2'} do |task|
    link_to('Edit', edit_configuration_path(task), class: 'btn btn-md btn-primary')
  end

end -%>
