// Place all the styles related to the smart_review/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.smart_review table > tbody > tr > td, .smart_review table > tbody > tr > th{
  border-bottom: #99cc00 1px solid;
  border-left: #99cccc 0px solid;
  padding: 2px;
}
.smart_review span,.smart_review div{
  font-size: 10px;
}
.smart_review .btn {
  padding: 2px 4px;
  font-size: 12px;
  margin: 2px;
}

.smart_review .btn_p100{
  width:100%
}

.smart_review .panel-heading {
  padding: 5px 10px;
}

.smart_review table td{
  border-left:solid 0px;
  border-right:solid 0px;
}

.smart_review .item_row{
  margin: 2px;
}

.smart_review .user-risk {
  background-color: orange;
}

.smart_review Table .info{
  margin: 5px;
  margin-top: 10px;
  width: 98%;
  border-bottom:solid 5px #add9c0;


}
.smart_review Table .info td{
  border: #99cc00 1px solid;
  padding: 0.1em;
  border-left: #99cccc 0px;
  border-right: #99cccc 0px;
  border-top: #99cccc 0px;
}

.smart_review .smart_table th{
  border: #99cc00 1px solid;
  border-left: #99cccc 0px;
  border-right: #99cccc 0px;
  background-color:#EAA163;
  font-weight:bold;
  line-height: 30px;
}

.smart_review div .info{
  padding: 0.05em;
}
.smart_review Table .imgs td, .smart_review Table .imgs th {
  border: #99cc00 0px solid;
}

.smart_review .is_my{
  border: #99cc00 1px solid;
}

.smart_review .operator_info{
  width:100%;
  text-align:left;

}
.smart_review .operator_info .op_cnt{
  float: right;
}

.smart_review .page_title{
  border-bottom: #99cccc 2px;
}


.smart_review #last_takedown_list a{
  margin: 3px;
}

.smart_review .sub_img{
  weight:180px;
}

.smart_review .img_item{
  float:left;border:1px gray solid;
  display:block;margin:5px;
  position:relative;height:430px
}

#audit_operators button.current{
  background-color: #99cccc;
}

@media (max-width: 350px) {
  .container-fluid{
    padding1: 2px;
  }

  .col-md-12{
    padding: 2px;
  }

  .smart_review .sub_img{
    weight:280px
  }
  .smart_review .img_item{
    weight:280px;
    float:left;border:1px gray solid;
    display:block;margin:5px;
    position:relative;height: -1px;
  }
}

