// Place all the styles related to the smart_review/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.smart_review table > tbody > tr > td, .smart_review table > tbody > tr > th{
  border-bottom: #99cc00 1px solid;
  border-left: #99cccc 0px solid;
  padding: 2px;
}
.smart_review span,.smart_review div{
  font-size: 10px;
}
.smart_review .btn_small {
  padding: 2px 4px;
  font-size: 12px;
  margin: 2px;
}

.smart_review .btn_p100{
  width:100%
}

.smart_review .panel-heading {
  padding: 5px 10px;
}

.smart_review table td{
  border-left:solid 0px;
  border-right:solid 0px;
}

.smart_review .item_line{
  margin: 2px;
  border-bottom: #2D21E7 2px solid;

}

.smart_review .user-risk {
  background-color: orange;
}

.smart_review Table .info{
  margin: 5px;
  margin-top: 10px;
  width: 98%;
  border-bottom:solid 5px #add9c0;
}

.smart_review .info_group{

  margin-top: 10px;
  width: 98%;
  border-bottom:solid 5px #add9c0;
}

.smart_review div .info{

  margin:2px;
  margin-top: 10px;
  border-bottom:solid 5px #add9c0;
}

.smart_review Table .info td{
  border: #99cc00 1px solid;
  padding: 0.1em;
  border-left: #99cccc 0px;
  border-right: #99cccc 0px;
  border-top: #99cccc 0px;
}

.smart_review .smart_table th{
  border: #99cc00 1px solid;
  border-left: #99cccc 0px;
  border-right: #99cccc 0px;
  background-color:#EAA163;
  font-weight:bold;
  line-height: 30px;
}

.smart_review div .info{
  padding: 0.05em;
}
.smart_review Table .imgs td, .smart_review Table .imgs th {
  border: #99cc00 0px solid;
}

.smart_review .is_my{
  border: #99cc00 1px solid;
}

.smart_review .left_menu_item{
  width:100%;
  text-align:left;
}
.smart_review #left_menu .op_cnt{
  float: right;
}

.smart_review .page_title{
  border-bottom: #99cccc 2px;
}


.smart_review #left_menu {
  position: fixed;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height:100%;
  padding-right: 12px;
}

@media (max-width: 400px) {
  .smart_review #left_menu {
    position:inherit;
  }
}


