<h2>Review Report List</h2>

<hr/>

<%= grid(@review_reports_grid) do |g|


  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}

  g.column name: 'ReviewScore', attribute: 'score', model: 'ReviewReview', html: {class: 'col-md-1'} do |task|
    task.review.score
  end

  g.column name: 'ReviewText', attribute: 'comment', model: 'ReviewReview',
           ordering: false, filter: false, html: {class: 'col-md-3'} do |task|
    task.review.comment
  end

  g.column name: 'ReviewID', attribute: 'id', model: 'ReviewReview',
           ordering: false, html: {class: 'col-md-1'} do |task|
    link_to task.review_id, users_reviews_path({"grid" => {"f" => {"id" => {"eq" => task.review_id}}}}), target: '_blank'
  end

  g.column name: 'State', attribute: 'is_processed', custom_filter: Settings.Report.State.to_a do |task|
    task.is_processed ? Settings.Report.State.invert[1] : Settings.Report.State.invert[0]
  end

  g.column name: 'CreateTime', attribute: 'created_at', html: {class: 'col-md-2'}

  g.column name: 'Reason', attribute: 'reason', custom_filter: @report_reason_options_for_select,
           html: {class: 'col-md-1'} do |task|
    @report_reason_options_for_select.invert[task.reason]
  end

  g.column name: 'Reason Content', attribute: 'reason_content', html: {class: 'col-md-1'}

  g.column name: 'Processor', html: {class: 'col-md-1'} do |task|
    content_tag(:p, nil, class: "review_report_operator", data: {report_id: task.id})
  end

  g.column name: 'Zendesk Ticket', html: {class: 'col-md-1'} do |task|
    unless task.is_processed
      link_to 'Create', create_zendesk_ticket_users_review_report_path(task),
              data: {confirm: 'Are you confirm to create zendesk ticket?', disable_with: 'Processing'},
              class: 'btn btn-sm btn-primary'
    else
      content_tag(:div, '', class: 'z_ticket', 'data-report-id' => task.id)
    end
  end

  g.column do |task|
    link_to 'Feedback', users_review_report_path(task), class: 'btn btn-sm btn-danger' unless task.is_processed
  end

end -%>

<script id="tmpl_zendesk_ticket_link" type="text/x-jquery-tmpl">
  <a href="<%= Settings.Zendesk.TicketPagePrefix %>/${ticket_id}" target="_blank">${ticket_id}</a>
</script>

<script>
    var report_ticket_hash = <%= raw review_report_get_report_ticket_json(@review_reports_grid.current_page_records.map {|p| p.id}) %>;
    $('.z_ticket').each(function () {
        $('#tmpl_zendesk_ticket_link').tmpl(report_ticket_hash[$(this).data('report-id')]).appendTo($(this));
    });
</script>

<script>
    $(document).ready(function () {
        function review_report_get_processors() {
            var report_ids = [];
            $('.review_report_operator').each(function () {
                var report_id = $(this).data('report-id');
                report_ids.push(report_id);
            });
            console.log(report_ids);
            $.ajax({
                url: "<%= ajax_users_review_reports_path(format: :json, fn: "processors") %>",
                type: "GET",
                data: {report_ids: report_ids},
                cache: false,
                timeout: <%= Settings.AJAX.Timeout %>,
                success: function (data) {
                    console.log(data);
                    $('.review_report_operator').each(function () {
                        var report_id = $(this).data('report-id');
                        $(this).text(data[report_id]);
                    });
                },
                error: function (xhr, status, error) {
                    alert(status + '.Please try again.');
                }
            });
        }

        review_report_get_processors();
    });
</script>
