<h2>Review Report</h2>

<hr/>

<%= form_tag users_review_report_path(@review_report), method: :put, class: 'form-horizontal', role: 'form' do %>
    <div class="form-group">
      <%= label_tag :reporter, nil, class: 'col-md-4 control-label' %>
      <div class="col-md-5">
        <p class="form-control">
          <%= @reporter.nickname %>
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= label_tag class: 'control-label' do %>
            <%= check_box_tag :is_send_flag, '1', true %>
            Send Message
        <% end %>
      </div>
    </div>

    <div id="message_content">
      <div class="form-group">
        <%= label_tag :message_template, nil, class: 'col-md-4 control-label' %>
        <div class="col-md-5">
          <label class="radio-inline col-md-5">
            <%= radio_button_tag 'is_ok', '0', false, required: true %> Review Delete
          </label>
          <label class="radio-inline col-md-offset-6">
            <%= radio_button_tag 'is_ok', '1', false, required: true %> Review OK
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :system_message_content, nil, class: 'col-md-4 control-label' %>
        <div class="col-md-5">
          <%= text_area_tag 'system_message_content', nil, required: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :push_content, nil, class: 'col-md-4 control-label' %>
        <div class="col-md-5">
          <%= text_area_tag 'push_content', nil, required: true, maxlength: 120, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= submit_tag 'Comfirm', class: "btn btn-md btn-primary" %>
        <%= link_to 'Cancel', users_review_reports_path(
                                    wice_grid_custom_filter_params(
                                            grid_name: 'grid', attribute: 'is_processed', value: 'f'
                                    )), class: "btn btn-md btn-default pull-right" %>
      </div>
    </div>
<% end %>
<script>
    var message_content_html = '';
    $('input#is_send_flag').click(function () {
        if ($(this).attr('checked')) {
            $(this).removeAttr('checked');
            $('div#message_content').fadeOut("slow");
            message_content_html = $('div#message_content').remove();
        } else {
            $(this).attr('checked', 'checked');
            $(this).parents('div.form-group').append(message_content_html);
            $('div#message_content').fadeIn("slow");
        }
    });
    $("form").on("click", 'input[name="is_ok"]', function () {
        var is_ok = $(this).val();
        var data = {};

        $('#system_message_content').val('');
        $('#push_content').val('');

        data['is_ok'] = is_ok;

        $.ajax({
            url: "<%= ajax_users_review_reports_path(format: :json, fn: "sm_push_template_content") %>",
            type: "GET",
            data: data,
            cache: false,
            timeout: <%= Settings.AJAX.Timeout %>,
            success: function (data) {
                console.log(data);
                $('#system_message_content').val(data['system_message_content']);
                $('#push_content').val(data['push_content']);
            },
            error: function (xhr, status, error) {
                alert(status + '.Please try again.');
            }
        });
    });
</script>
