<%= define_grid(@users_grid,
                hide_submit_button: true,
                hide_reset_button: true) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', detach_with_id: :id_filter do |task|
    link_to(task.id, user_path(task, active_tab: 'info'), target: '_blank')
  end

  g.column name: 'Portrait', attribute: 'portrait', filter: false, ordering: false, html: {class: 'col-md-1'} do |task|
    user_thumb_image_tag(task)
  end

  g.column name: 'Email', attribute: 'email', html: {class: 'col-md-2'}, ordering: false,
           detach_with_id: :email_filter

  g.column name: 'Country', attribute: 'country', html: {class: 'col-md-1'}, detach_with_id: :country_filter do |task|
    task.country if task.country.present?
  end

  g.column name: 'City', attribute: 'city', html: {class: 'col-md-1'}, detach_with_id: :city_filter do |task|
    task.city if task.city.present?
  end

  g.column name: 'Robot?', attribute: 'is_robot', custom_filter: {Yes: 1, No: 0},
           detach_with_id: :is_robot_filter, html: {class: 'col-md-1'} do |task|
    task.is_robot? ? 'Yes' : 'No'
  end

  g.column name: 'Products', html: {class: 'col-md-1'} do |task|
    link_to(task.products.size, user_path(task, active_tab: 'items'))
  end

  g.column name: 'Os & Version', attribute: 'os', detach_with_id: :os_filter, html: {class: 'col-md-1'} do |task|
    "#{task.os} #{task.os_version}"
  end

  g.column name: 'App Version', attribute: 'app_version', detach_with_id: :app_version_filter, html: {class: 'col-md-1'}

  g.column name: 'Weight', attribute: 'weight', detach_with_id: :weight_filter, html: {class: 'col-md-1'}

  g.column name: 'Weight Update Time', attribute: 'weight_updated_at', detach_with_id: :weight_updated_at_filter,
           html: {class: 'col-md-1'}

  # g.column name: 'Active?', attribute: 'is_active', custom_filter: {Yes: 1, No: 0},
  #          detach_with_id: :is_active_filter, html: {class: 'hidden'} do |task|
  #   task.is_active? ? 'Yes' : 'No'
  # end

  g.column name: 'Nickname', attribute: 'nickname', ordering: false, html: {class: 'hidden'}, detach_with_id: :nick_name_filter

  g.column name: 'Os Version', attribute: 'os_version', detach_with_id: :os_version_filter, html: {class: 'hidden'}

  g.column name: 'MobilePhone', attribute: 'mobile_phone', detach_with_id: :mobile_phone_filter, html: {class: 'hidden'}

  g.column name: 'Last Login', attribute: 'last_login_at', html: {class: 'hidden'}, detach_with_id: :last_login_filter do |task|
    task.last_login_at if task.last_login_at
  end

  g.column name: 'Date Joined', attribute: 'created_at', html: {class: 'hidden'}, detach_with_id: :date_joined_filter do |task|
    task.created_at if task.created_at
  end

  g.column name: 'FacebookID', attribute: 'fb_user_id', html: {class: 'hidden'}, detach_with_id: :fb_user_id_filter
  g.column name: 'FuzzyUserID', attribute: 'fuzzy_user_id', html: {class: 'hidden'}, detach_with_id: :fuzzy_user_id_filter

  g.column name: 'Region', attribute: 'region', detach_with_id: :region_filter, html: {class: 'hidden'}

  # g.column do |task|
  #   if task.active?
  #     link_to('Disable', '#',
  #             data: {toggle: "modal", target: "#disableUser"},
  #             class: 'btn btn-sm btn-danger', id: task.id)
  #   else
  #     link_to('Enable', enable_users_path(id: task.id), method: :post,
  #             data: {disable_with: 'Processing...'},
  #             class: 'btn btn-sm btn-success', id: task.id)
  #   end
  # end

end -%>