<script id="tmpl_items" type="text/x-jquery-tmpl">
  <div class="table-responsive text-center">
      <table class="table table-bordered" id="items">
        <thead>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>CreateTime</th>
            <th>Offer/Review</th>
            <th>Censored</th>
            <th>State</th>
        </thead>
        <tbody>
        {{each content}}
          {{if censored=="ApproveRisk"}}
            <tr class="item-risk">
          {{else}}
            <tr>
          {{/if}}
                <td><a href="${item_detail_page_url_prefix}/${id}" target="_blank">${id}</a></td>
                <td><img width='100' src='${cloudinary_get_image_url_with_width(images[0], 100)}'></img></td>
                <td><a href="${item_detail_page_url_prefix}/${id}" target="_blank">${title}</a></td>
                <td>${created_time}</td>
                <td>${offer_count}/${review_count}</td>
                <td>${censored}</td>
                <td>${state}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</script>
