<script id="tmpl_statistics" type="text/x-jquery-tmpl">
  <div class="row">
    <div class="table-responsive col-md-4">
      <table class="table table-bordered" id="statistics">
        <tbody>
          {{each content[0]}}
            <tr>
              <td align="right" class="active col-md-4"><strong>${key}</strong></td>
              <td align="left" class="col-md-8">${value}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive col-md-4">
      <table class="table table-bordered">
        <tbody>
          {{each content[1]}}
            <tr>
              <td align="right" class="active col-md-4"><strong>${key}</strong></td>
              <td align="left" class="col-md-8">${value}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</script>
