<script id="tmpl_zendesk_ticket" type="text/x-jquery-tmpl">
  <span class="help-block">
      Notes: Update every <%= Settings.ZendeskConfig.Ticket.UpdateThreshold %> minutes.
  </span>
  <div class="table-responsive text-center">
      <table class="table table-bordered" id="zendesk_ticket">
        <thead>
            <th>Ticket ID</th>
            <th>Via</th>
            <th>Subject</th>
            <th>Created At</th>
            <th>Status</th>
            <th>Current Tags</th>
            <th>Assignee Name</th>
        </thead>
        <tbody>
        {{each content}}
            <tr>
                <td><a href="${zendesk_ticket_page_url_prefix}/${tid}" target="_blank">${tid}</a></td>
                <td>${via}</td>
                <td>${subject}</a></td>
                <td>${created_at}</td>
                <td>${status}</td>
                <td>${current_tags}</td>
                <td>${assignee_name}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</script>
