<script id="tmpl_audits" type="text/x-jquery-tmpl">
<div class="row">
    <div class="table-responsive col-md-8">
      <table class="table table-bordered" id="audits">
        <thead>
        <tr>
          <th class="text-center col-md-1">Action</th>
          <th class="text-center col-md-1">Operator</th>
          <th class="text-center col-md-2">AuditTime</th>
          <th class="text-center col-md-4">Reason</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{each content}}
            <tr>
              <td>${action}</td>
              <td>${operator}</td>
              <td>${audit_time}</td>
              <td>${reason}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</div>
</script>
