<script id="tmpl_offer_messages_tbody" type="text/x-jquery-tmpl">
              <tr>
                <td class="text-center" data-search="${item_id}"><a href="${item_detail_page_url_prefix}/${item_id}" target="_blank">${item_id}</a></td>
              {{if current_user_id == owner_id}}
                <td class="text-center">Yes</td>
              {{else}}
                <td class="text-center">No</td>
              {{/if}}
                <td class="text-center" data-search="${owner_id}"><a href="${user_detail_page_url_prefix}/${owner_id}" target="_blank">${owner_id}</a></td>
                <td class="text-center" data-search="${current_user_id}">${current_user_id}</td>
              {{if direction == 0}}
                <td class="text-center">=></td>
              {{else}}
                <td class="text-center"><=</td>
              {{/if}}
                <td class="text-center" data-search="${user_id}"><a href="${user_detail_page_url_prefix}/${user_id}" target="_blank">${user_id}</a></td>
                <td class="text-center">${offer_type}</td>
                <td>
                  {{if flags.score_flag == 1}}
                    <p>
                      <label>Score:</label>
                      ${payload.score}
                    </p>
                  {{/if}}

                  {{if flags.text_flag == 1}}
                    <p>
                      ${payload.text}
                    </p>
                  {{/if}}

                  {{if flags.picture_flag == 1}}
                    <p>
                      <a href="${payload.picture_url}" target="_blank">
                        Picture
                      </a>
                    </p>
                  {{/if}}

                  {{if flags.address_flag == 1}}
                      <p>
                        <a href="${payload.address_map_thumb}" target="_blank">
                          <label>Address(Lon:${payload.lon}, Lat:${payload.lat}):</label>
                          ${payload.address_name}
                        </a>
                      </p>
                  {{/if}}

                  {{if flags.other_flag == 1}}
                     <p>
                       ${payload}
                     </p>
                  {{/if}}
                </td>
                <td class="text-center">${time}</td>
            </tr>
</script>

<script id="tmpl_offer_messages" type="text/x-jquery-tmpl">
  <div class="table-responsive">
      <table class="table table-bordered" id="offer_messages">
        <thead>
            <th class="text-center">Item</th>
            <th class="text-center">Current <br/> user's item</th>
            <th class="text-center">Item's <br/> owner</th>
            <th class="text-center">Current <br/> user</th>
            <th class="text-center">Message <br/> Direction</th>
            <th class="text-center">Other <br/> user</th>
            <th class="text-center">OfferType</th>
            <th class="text-center" style="width: 30%;">Message</th>
            <th class="text-center">Time</th>
        </thead>
        <tfoot>
        <tr>
          <!--Item-->
          <th class="search"></th>
          <!--Current user's item-->
          <th class="search"></th>
          <!--Item's owner-->
          <th class="search"></th>
          <!--Current user-->
          <th class="search"></th>
          <!--Message Direction-->
          <th class="search"></th>
          <!--The other user-->
          <th class="search"></th>
          <!--OfferType-->
          <th class="search"></th>
          <!--Message-->
          <th class="search"></th>
          <!--Time-->
          <th class="search"></th>
        </tr>
        </tfoot>
        <tbody>
        {{tmpl($data.content) '#tmpl_offer_messages_tbody'}}
        </tbody>
      </table>
    </div>
</script>
