<script id="tmpl_offered_items" type="text/x-jquery-tmpl">
  <div class="table-responsive text-center">
      <table class="table table-bordered" id="offered_items">
        <thead>
            <th>ID</th>
            <th>Image</th>
            <th>Title</th>
            <th>Seller</th>
            <th>LastOfferedTime</th>
            <th>AuditState</th>
            <th>State</th>
        </thead>
        <tbody>
        {{each content}}
            <tr>
                <td><a href="${item_detail_page_url_prefix}/${id}" target="_blank">${id}</a></td>
                <td><img width='100' src='${cloudinary_get_image_url_with_width(images[0], 100)}'></img></td>
                <td><a href="${item_detail_page_url_prefix}/${id}" target="_blank">${title}</a></td>
                <td><a href="${user_detail_page_url_prefix}/${seller_id}" target="_blank">${seller_nickname}</a></td>
                <td>${last_offered_at}</td>
                <td>${audit_state}</td>
                <td>${state}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</script>
