<script id="tmpl_item_reports" type="text/x-jquery-tmpl">
<div class="row">
    <div class="table-responsive col-md-12">
      <table class="table table-bordered" id="item_reports">
        <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center col-md-2">Item</th>
          <th class="text-center">ItemID</th>
          <th class="text-center col-md-1">Reporter</th>
          <th class="text-center col-md-2">Reason</th>
          <th class="text-center col-md-4">ReasonContent</th>
          <th class="text-center col-md-2">CreatedTime</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {{each content}}
            <tr>
              <td><a href="${item_report_index_page_url_prefix}${id}" target="_blank">${id}</a></td>
              <td>${item_title}</td>
              <td><a href="${item_detail_page_url_prefix}/${item_id}" target="_blank">${item_id}</a></td>
              <td><a href="${user_detail_page_url_prefix}/${reporter_id}" target="_blank">${reporter_name}</a></td>
              <td>${reason}</td>
              <td>${reason_content}</td>
              <td>${created_time}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</div>
</script>
