<script id="tmpl_info" type="text/x-jquery-tmpl">
  <div class="table-responsive">
      <table class="table table-bordered" id="info">
        <tbody>
        {{each content}}
            <tr>
              <td align="right" class="active col-md-4"><strong>${key}</strong></td>
              <td align="left" class="col-md-8">${value}</td>
            </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
</script>
