<table class="table table-bordered table-striped">
  <tbody>
  <% @products_current_page.each do |product| %>
      <tr>
        <td style="<%= 'background-color: orange;' if product.risk.present? %>">
          <div class="row h5">
            <strong>
              <div class="col-md-1">ID: <%= link_to product.id, product_path(product) %></div>
              <div class="col-md-7">Title: <%= product.title %></div>
              <div class="col-md-2">Censored: <%= Settings.PRODUCT_INTERNAL_STATUSES.invert[product.internal_status] %></div>
              <div class="col-md-2">Status: <%= Settings.PRODUCT_STATUSES.invert[product.state] %></div>
            </strong>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="row">
            <% product.images.order(is_first: :desc).each do |image| %>
                <div class="col-md-2">
                  <div class="thumbnail">
                    <%= image_tag image.image_path %>
                  </div>
                </div>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if @product_offset_current_page < @product_offset_next_page %>
    <ul class="pager">
      <li class="<%= 'disabled' if @product_offset_current_page <= 0 %>">
        <a id="<%= @product_offset_previous_page %>">&larr; Previous</a>
      </li>
      <li><%= "#{@product_offset_current_page + 1} - #{@product_offset_next_page} / #{@product_total}" %></li>
      <li class="<%= 'disabled' if @product_total <= @product_offset_next_page %>">
        <a id="<%= @product_offset_next_page %>">Next &rarr;</a>
      </li>
    </ul>
    <script>
        function user_get_product_table() {
            $('ul.pager > li[class!="disabled"] > a').click(function (e) {
                e.preventDefault();
                var offset = $(this).attr('id');
                $.ajax({
                    url: "<%= ajax_users_path(fn: 'user_product_table', id: @user_id) %>",
                    type: "GET",
                    data: {offset: offset},
                    cache: false,
                    timeout: <%= Settings.AJAX.Timeout %>,
                    success: function (data) {
                        $('div#products').html(data);
                    },
                    error: function (xhr, status, error) {
                        alert(status + '.Please try again.');
                    }
                });
            });
        }
        user_get_product_table();
    </script>
<% end %>
