
<h2>Risk User List</h2>

<hr/>

<div class="col-md-8">
  <%= grid(@risk_users_grid) do |g|


    g.column name: 'ID', attribute: 'id'

    g.column name: 'User', attribute: 'user_id', html: {class: 'col-md-1'} do |task|
      link_to task.user_id, user_path(task.user_id), target: '_blank'
    end

    g.column name: 'Reason', attribute: 'reason', ordering: false, filter: false, html: {class: 'col-md-9'}

  end -%>
</div>
