<h2>Bad User List</h2>

<hr/>

<div class="col-md-10">
  <%= grid(@bad_users_grid) do |g|

    g.column name: 'ID', attribute: 'id'

    g.column name: 'UserID', attribute: 'user_id', html: {class: 'col-md-1'} do |task|
      link_to task.user_id, user_path(task.user_id), target: '_blank'
    end

    g.column name: 'Takedown-prohibited/illegal days', attribute: 'day_count' do |task|
      task.day_count
    end

    g.column name: 'Last prohibited/illegal time', attribute: 'total_count_updated_at' do |task|
      task.total_count_updated_at
    end

    g.column name: 'Status', attribute: 'status', custom_filter: Settings.USER_STATE.to_a, html: {class: 'col-md-1'} do |task|
      Settings.USER_STATE.invert[task.status]
    end

    g.column html: {class: 'col-md-1'} do |task|
      if Settings.USER_STATE.Valid == task.status
        button_tag "Disable", class: 'disable_user btn btn-md btn-danger', data: {user_id: task.user_id}
      end
    end

  end -%>
</div>

<script id="tmpl_disable_user_modal" type="text/x-jquery-tmpl">
<div class="modal fade" id="disable_user_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">
          Disable User
        </h4>
      </div>
      <div class="modal-body">
        <textarea class="center-block" name="reason" cols="60" rows="10" placeholder="Please input disable reason ..." required="required"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="confirm btn btn-primary" data-user-id="${user_id}">
          Confirm
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
</script>

<script>
    $('button.disable_user').click(function () {
        var user_id = $(this).data('user-id');
        if (user_id) {
            $('#tmpl_disable_user_modal').tmpl({user_id: user_id}).appendTo(document.body);
            $('#disable_user_modal').on('hidden.bs.modal', function () {
                $(this).remove();
            });
            $('#disable_user_modal button.confirm').click(function () {
                var user_id = $(this).data('user-id');
                var reason = $('#disable_user_modal textarea[name="reason"]').val().trim();
                console.log("user_id = " + user_id + ", reason = " + reason);
                if (reason && user_id) {
                    var ret = confirm("Attention: After being disabled, user can not be enabled. \nPress OK to confirm.");
                    if (ret) {
                        var req_url = "/users/disable.json";
                        var req_data = {id: user_id, reason: reason};
                        req_post_data(req_url, req_data, function (res_data) {
                            console.log(res_data);
                            if (res_data.data.is_error) {
                                alert(res_data.data.message);
                            } else {
                                window.location.reload();
                            }
                        }, function () {
                        }, function (error) {
                            console.log(error);
                        });
                    }
                } else if (!reason) {
                    alert("Please input disable reason");
                } else if (!user_id) {
                    alert("User id is empty")
                }
            });
            $('#disable_user_modal').modal('show');
        } else {
            alert("Can not get user id.");
        }
    });
</script>
