<h2>Users</h2>

<hr/>

<%= form_for '', method: :post do |f| %>

    <%= render 'grid' %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapsedFilter">
            Filters ( Click to collapse or expand the filter )
          </a>
        </h4>
      </div>
      <div id="collapsedFilter" class="panel-collapse collapse in">
        <div class="panel-body">

          <div class="row form-group">
            <div class="col-md-1">
              <label>ID</label>
              <%= grid_filter @users_grid, :id_filter %>
            </div>
            <div class="col-md-2">
              <label>Nickname</label>
              <%= grid_filter @users_grid, :nick_name_filter %>
            </div>
            <div class="col-md-3">
              <label>Email</label>
              <%= grid_filter @users_grid, :email_filter %>
            </div>
            <!--<div class="col-md-1">-->
            <!--<label>Active?</label>-->
            <!--<%#= grid_filter @users_grid, :is_active_filter %>-->
            <!--</div>-->
            <div class="col-md-1">
              <label>Robot?</label>
              <%= grid_filter @users_grid, :is_robot_filter %>
            </div>
            <div class="col-md-2">
              <label>Country</label>
              <%= grid_filter @users_grid, :country_filter %>
            </div>
            <div class="col-md-2">
              <label>FacebookID</label>
              <%= grid_filter @users_grid, :fb_user_id_filter %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-2">
              <label>City</label>
              <%= grid_filter @users_grid, :city_filter %>
            </div>

            <div class="col-md-1">
              <label>Os</label>
              <%= grid_filter @users_grid, :os_filter %>
            </div>

            <div class="col-md-1">
              <label>OsVersion</label>
              <%= grid_filter @users_grid, :os_version_filter %>
            </div>

            <div class="col-md-1">
              <label>AppVersion</label>
              <%= grid_filter @users_grid, :app_version_filter %>
            </div>

            <div class="col-md-1">
              <label>Weight</label>
              <%= grid_filter @users_grid, :weight_filter %>
            </div>

            <div class="col-md-2">
              <label>WeightUpdateTime</label>
              <%= grid_filter @users_grid, :weight_updated_at_filter %>
            </div>

            <div class="col-md-2">
              <label>LastLogin</label>
              <%= grid_filter @users_grid, :last_login_filter %>
            </div>
            <div class="col-md-2">
              <label>DateJoined</label>
              <%= grid_filter @users_grid, :date_joined_filter %>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-md-2">
              <label>MobilePhone</label>
              <%= grid_filter @users_grid, :mobile_phone_filter %>
            </div>
          </div>

          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button type="button" class="wg-external-submit-button btn btn-md btn-primary" data-grid-name="grid"><%= t :filter %></button>
              <button type="button" class="wg-external-reset-button btn btn-md btn-default" data-grid-name="grid"><%= t :reset %></button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="btn-toolbar" role="toolbar">

      <div class="btn-group pull-right">

        <%= link_to 'Batch Change Weight', '#',
                    data: {toggle: "modal", target: "#batchChangWeight"},
                    class: 'btn btn-md btn-info' %>

        <%#= submit_tag t(:batch_enable),
                       data: {confirm: 'Press OK to confirm.',
                              disable_with: 'Processing...'},
                       class: 'btn btn-md btn-success', formaction: enable_users_path %>

        <%#= link_to t(:batch_disable), '#',
                       data: {toggle: "modal", target: "#batchDisableUser"},
                       class: 'btn btn-md btn-danger' %>

      </div>

      <div class="btn-group pull-right">
        <%= link_to 'Map View', map_users_path, method: :get, class: 'btn btn-md btn-default' %>
      </div>

    </div>

    <%= render_grid @users_grid %>

    <div class="modal fade" id="batchDisableUser" tabindex="-1" role="dialog"
         aria-labelledby="batchDisableUserLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="batchDisableUserLabel">
              Disable User(s)
            </h4>
          </div>
          <div>
            <div class="col-md-12">
              <%= text_area_tag 'batchReason', nil, cols: '60', rows: '10', class: "center-block", style: 'width: inherit;', placeholder: 'Please input reason ...' %>
            </div>
            <div class="col-md-12" style="margin-top: 5px;">
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <%= submit_tag "Save Changes", formaction: disable_users_path, class: 'btn btn-primary btn-block' %>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">
                  Cancel
                </button>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="batchChangWeight" tabindex="-1" role="dialog"
         aria-labelledby="batchChangWeightLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Change Weight
            </h4>
          </div>
          <div class="modal-body">
            <div id="change_weight" class="form-group">
              <%= text_field_tag 'weight', nil, class: 'form-control' %>
              <span class="help-block"><%= "Weight value range: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-offset-1 col-md-4">
              <%= submit_tag "Save Changes", formaction: weight_users_path, id: 'save_weight', class: 'btn btn-primary btn-block', disabled: true %>
            </div>

            <div class="col-md-offset-2 col-md-4">
              <button type="button" class="btn btn-info btn-block" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
    </div>

<% end %>

<script>
    $(document).ready(function () {
        var risk_user_ids = <%= raw user_wice_grid_risk_ids(@users_grid) %>;
        var wice_grid_title_list = [];
        $('tr.wice-grid-title-row > th').each(function () {
            if ($(this).children('a').length == 0) {
                wice_grid_title_list.push($(this).text());
            } else {
                wice_grid_title_list.push($(this).children('a').text());
            }
        });
        $('div#grid > table > tbody > tr > td > input[name="grid[selected][]"]').each(function () {
            var uid = $(this).val();
            if (risk_user_ids.indexOf(uid) != -1) {
                $(this).parents('tr').addClass('user-risk');
            }
        });
    });
</script>
