<h2>Users Map View</h2>

<hr/>

<div id="usersMap" style="height:700px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=false"></script>

<script>
    function initialize() {

        var centerLatlng = new google.maps.LatLng(10, 80);
        var mapOptions = {
            zoom: 3,
            center: centerLatlng
        };

        var map = new google.maps.Map(document.getElementById('usersMap'), mapOptions);

        var markers = []
        var data = <%= raw @profiles.to_json %>;

        for( var i = 0; i < data.length; i++){
            var user = data[i];

            var position = new google.maps.LatLng(user.latitude, user.longitude);
            var marker = new google.maps.Marker({
                position: position,
                title: user.username
            });
            markers.push(marker)
        }

        var markerCluster = new MarkerClusterer(map, markers);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

