<div class="modal fade" id="setUserRisk" tabindex="-1" role="dialog"
     aria-labelledby="setUserRiskLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag risk_users_path(id: @user_id), method: :post, role: 'form', class: 'form-horizontal' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="setUserRiskLabel">
              Edit User Risk
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label class="col-md-2 control-label">UserRisk</label>

              <div class="col-md-3">
                <%= select_tag 'is_set_risk', options_for_select({'No' => 0, 'Yes' => 1}, @is_risk_user ? 1 : 0), class: 'form-control' %>
              </div>
            </div>
            <div id="user_risk_reason" class="form-group <%= 'hidden' unless @is_risk_user %>">
              <label class="col-md-3 control-label">UserRiskReason</label>

              <div style="padding-left: 23px;padding-right: 23px;">
                <%= text_area_tag 'user_risk', @reason, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag 'Confirm', id: 'confirm_set_user_risk', class: 'btn btn-md btn-primary' %>
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
    <script>
        $(document).ready(function () {
            $('select#is_set_risk').click(function(){
                var is_set_risk =  $(this).children('option:selected').val();
                console.log(is_set_risk);
                if (is_set_risk == "0") {
                    $('div#user_risk_reason').addClass('hidden');
                    $('div#user_risk_reason > div > textarea').removeAttr('required');
                } else {
                    $('div#user_risk_reason').removeClass('hidden');
                    $('div#user_risk_reason > div > textarea').attr('required', 'required');
                }
            });
        });
    </script>
  </div>
</div>
