<div class="row">
  <div class="col-md-10">

    <h2 style="display: inline-block">User Detail</h2>
    <a href="<%= Settings.APP_SITE_USER_URI_PREFIX + @user.fuzzy_user_id %>" target="_blank"> Go App Site</a>

    <div style="width: 400px;float: right;margin-top: 40px;">
      <div class="col-md-8" style="padding: 0;">
        <%= form_tag weight_user_path(@user), method: :post, remote: true do %>
            <span class="col-md-8" style="padding: 1px"><%= "Weight(#{Settings.WEIGHT.Min}~#{Settings.WEIGHT.Max}):" %></span>

            <div id="display_weight" style="padding: 1px"><%= @user.weight %></div>
            <div id="change_weight" class="hidden">
              <%= text_field_tag 'weight', nil, class: "col-md-3", style: 'padding:0' %>
              <button id="save_weight" type="submit" style="padding: 1px; background-color: #ffffff; cursor: pointer; border: 1px solid transparent">
                <span class="glyphicon glyphicon-repeat"></span>
              </button>
            </div>
        <% end %>
      </div>
      <div id="change_weight_btn" class="col-md-3" style="padding: 0; cursor: pointer"><a herf="#">Change</a></div>
    </div>

    <hr/>
  </div>
  <div class="col-md-2 user-portrait" data-user-id="<%= @user.id %>">
    <%= user_thumb_image_tag(@user) %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-2 text-center" style="padding-left: 0; padding-right: 0;">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td><%= link_to "User subscriptions",
                          users_subscriptions_path({"grid"=>{"f"=>{"entity_user.id"=>{"eq"=>"#{@user.id}"}}}}),
                          target: '_blank' %></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-offset-6 col-md-4">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group pull-right">
          <button id="set_risk" class="btn btn-md btn-default">EditRisk</button>
          <% unless @user.is_disabled? %>
              <%= link_to 'Disable', '#',
                          data: {toggle: "modal", target: "#disableUser"},
                          class: 'btn btn-md btn-danger' %>
              <div class="modal fade" id="disableUser" tabindex="-1" role="dialog"
                   aria-labelledby="disableUserLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        &times;
                      </button>
                      <h4 class="modal-title" id="approveRiskLabel">
                        Disable User
                      </h4>
                    </div>
                    <div>
                      <%= form_tag disable_users_path(id: @user.id), method: :post, role: 'form' do %>
                          <div class="col-md-12">
                            <%= text_area_tag 'reason', nil, cols: '60', rows: '10', class: "center-block", style: 'width: inherit;', placeholder: 'Please input reason ...' %>
                          </div>
                          <div class="col-md-12" style="margin-top: 5px;">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                              <%= submit_tag "Save Changes", data: {confirm: "Attention: After being disabled, user can not be enabled. \nPress OK to confirm."}, class: 'btn btn-primary btn-block' %>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                              <button type="button" class="btn btn-info btn-block" data-dismiss="modal">
                                Cancel
                              </button>
                            </div>
                            <div class="col-md-1"></div>
                          </div>
                      <% end %>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<ul id="userTab" class="nav nav-pills" role="tablist">
  <li data-user-tab-type="info">
    <a href="#info" role="tab" data-toggle="tab">Information</a>
  </li>
  <li data-user-tab-type="items">
    <a href="#items" role="tab" data-toggle="tab">Items
      <span class="badge">0</span></a>
  </li>
  <li data-user-tab-type="offered_items">
    <a href="#offered_items" role="tab" data-toggle="tab">Offered Items(Buy)
      <span class="badge">0</span></a>
  </li>
  <li data-user-tab-type="offer_messages">
    <a href="#offer_messages" role="tab" data-toggle="tab">Offer Messages
      <span class="badge">0</span></a>
  </li>
  <li data-user-tab-type="zendesk_ticket">
    <a href="#zendesk_ticket" role="tab" data-toggle="tab">Ticket In Zendesk
      <span class="badge">0</span></a>
  </li>
  <li data-user-tab-type="statistics">
    <a href="#statistics" role="tab" data-toggle="tab">Statistics</a>
  </li>
  <li data-user-tab-type="audits">
    <a href="#audits" role="tab" data-toggle="tab">Audits
      <span class="badge">0</span>
    </a>
  </li>
  <li data-user-tab-type="user_reports">
    <a href="#user_reports" role="tab" data-toggle="tab">UserReports
      <span class="badge">0</span>
    </a>
  </li>
  <li data-user-tab-type="item_reports">
    <a href="#item_reports" role="tab" data-toggle="tab">ItemReports
      <span class="badge">0</span>
    </a>
  </li>
</ul>
<div id="userContent" style="margin-top:5px">

</div>

<%= render 'jquery_tmpl_info' %>

<%= render 'jquery_tmpl_items' %>

<%= render 'jquery_tmpl_offered_items' %>

<%= render 'jquery_tmpl_offer_messages' %>

<%= render 'jquery_tmpl_zendesk_ticket' %>

<%= render 'jquery_tmpl_statistics' %>

<%= render 'jquery_tmpl_audits' %>

<%= render 'jquery_tmpl_user_reports' %>

<%= render 'jquery_tmpl_item_reports' %>

<%= pagination_tag %>
<script>
    var item_detail_page_url_prefix = '/products';
    var user_detail_page_url_prefix = '/users';
    var user_report_index_page_url_prefix = '/user_reports?grid%5Bf%5D%5Bid%5D%5Beq%5D=';
    var item_report_index_page_url_prefix = '/product_reports?grid%5Bf%5D%5Bid%5D%5Beq%5D=';
    var zendesk_ticket_page_url_prefix = '<%= Settings.Zendesk.TicketPagePrefix %>';

    function user_update_tab_content(data, user_tab_type) {
        $.each(data['header'], function (key, value) {
            $("#userTab > li[data-user-tab-type='" + key + "'] > a > span").text(value);
        });
        $("#userContent").html($("#tmpl_" + user_tab_type).tmpl(data));
        if (data['pagination']) {
            var request_url = "<%= ajax_users_path(fn: "user_tab", format: :json) %>";
            var request_data = {};
            request_data['id'] = <%= @user.id %>;
            request_data['user_tab_type'] = user_tab_type;
            $("#tmpl_pagination").tmpl(data).appendTo($("#userContent"));
            pagination_get_data(request_url, request_data, function (data) {
                user_update_tab_content(data, user_tab_type);
            }, function (xhr, status, error) {
                alert(status + '.Please try again.');
            });
        }
    }
    function user_get_information() {
        $("ul#userTab > li").click(function () {
            var user_tab_type = $(this).data("user-tab-type");
            $("ul#userTab > li").each(function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");
            $.ajax({
                url: "<%= ajax_users_path(fn: "user_tab", format: :json) %>",
                type: "GET",
                data: {id: <%= @user.id %>, user_tab_type: user_tab_type},
                cache: false,
                timeout: <%= Settings.AJAX.Timeout %>,
                success: function (data) {
                    console.log(data);
                    user_update_tab_content(data, user_tab_type);
                    if (user_tab_type == "offer_messages") {
                        add_data_table_search_function(user_tab_type);
                    }
                },
                error: function (xhr, status, error) {
                    alert(status + '.Please try again.');
                }
            });
        });
    }
    function add_data_table_search_function(user_tab_type) {
        var table_selector = '#' + user_tab_type;

        $(table_selector + ' tfoot th').each(function () {
            if ($(this).hasClass('search')) {
                var my_index = $(this).index();
                if (my_index != 1 && my_index != 4) {
                    var title = $(table_selector + ' tfoot th').eq(my_index).text();
                    if (my_index == 7 || my_index == 8) {
                        $(this).html('<input type="text" placeholder="" ' + title + '" />');
                    } else {
                        $(this).html('<input type="text" placeholder="" style="width: 50px;"' + title + '" />');
                    }

                }
            }
        });
        var my_data_table = $(table_selector).DataTable({
            initComplete: function () {
                var api = this.api();
                $.each([1, 4], function (index, value) {
                    var column = api.column(value);
                    var select = $('<select></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $(this).val();
                                column.search(val ? '^' + val + '$' : '', true, false).draw();
                            });
                    if (1 == value) {
                        $.each([['Select', ''], ['Yes', 'Yes'], ['No', 'No']], function (index, value) {
                            select.append('<option value="' + value[1] + '">' + value[0] + '</option>');
                        });
                    }
                    else if (4 == value) {
                        $.each([['Direction', ''], ['=>', '=>'], ['<=', '<=']], function (index, value) {
                            select.append('<option value="' + value[1] + '">' + value[0] + '</option>');
                        });
                    }
                });
            },
            "scrollX": false,
            "order": [8, 'desc'],
            "dom": '<"top"ip<"clear">>rt<"bottom"ip<"clear">>',
            "lengthMenu": [[100], [100]],
            "columnDefs": []
        });
        // Apply the search
        my_data_table.columns().eq(0).each(function (colIdx) {
            $('input', my_data_table.column(colIdx).footer()).on('keyup change', function () {
                var text_value = this.value;
                if (text_value.length > 0 && (colIdx == 1 || colIdx == 2 || colIdx == 3)) {
                    text_value = '^' + text_value + '$';
                    my_data_table.column(colIdx).search(text_value, true, false).draw();
                } else {
                    my_data_table.column(colIdx).search(text_value).draw();
                }
            });
        });
        // Move search box to the after place of table header.
        $('.dataTables_scrollHead').after($('.dataTables_scrollFoot'));
    }
    function init_func() {
        user_get_information();
        var active_tab = $.url('?active_tab') || $.url('#') || 'info';
        $("#userTab > li[data-user-tab-type='" + active_tab + "']").click();
    }
    init_func();
</script>

<script>
    $(document).ready(function () {
        $('button#set_risk').click(function () {
            $.ajax({
                url: "<%= ajax_users_path(fn: "set_risk") %>",
                type: "GET",
                data: {id: <%= @user.id %>},
                cache: false,
                timeout: <%= Settings.AJAX.Timeout %>,
                success: function (data) {
                    $(data).modal('show');
                },
                error: function (xhr, status, error) {
                    alert(status + '.Please try again.');
                }
            });
        });
    });
</script>
