<%= form_for @subscription, as: 'subscription', url: loc_url, method: loc_method, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <div class="form-group">
      <%= f.label :user_id, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.text_field :user_id, class: 'form-control', placeholder: 'User ID', autofocus: true, required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :type, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :notification_type, Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE,
                     {prompt: 'Please select a notification type'},
                     class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :method, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :notification_method, Settings.USER_SUBSCRIPTIONS.NOTIFICATION_METHOD,
                     {prompt: 'Please select a notification method'},
                     class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :state, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <label class="radio-inline">
          <%= f.radio_button :state, Settings.USER_SUBSCRIPTIONS.State['Unsubscribed'], checked: @subscription.state.blank? %> Unsubscribed
        </label>
        <label class="radio-inline">
          <%= f.radio_button :state, Settings.USER_SUBSCRIPTIONS.State['Subscribed'], checked: @subscription.state.present? %> Subscribed
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.text_field :comment, class: 'form-control', maxlength: 200, required: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel', users_subscriptions_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
