<h2> User Subscriptions </h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <%= link_to "Create", new_users_subscription_path, class: "btn btn-md btn-primary" %>
  </div>
</div>

<%= grid(@subscriptions) do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: "User", attribute: 'id', model: 'EntityUser' do |task|
    link_to(task.user.id, user_path(task.user)) if task.user.present?
  end

  g.column name: "Type", attribute: 'notification_type',
           custom_filter: Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.to_a do |task|
    Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.invert[task.notification_type]

  end

  g.column name: 'Method', attribute: 'notification_method',
           custom_filter: Settings.USER_SUBSCRIPTIONS.NOTIFICATION_METHOD.to_a do |task|
    Settings.USER_SUBSCRIPTIONS.NOTIFICATION_METHOD.invert[task.notification_method]
  end

  g.column name: "State", attribute: 'state',
           custom_filter: Settings.USER_SUBSCRIPTIONS.State.to_a  do |task|
    task.state ? Settings.USER_SUBSCRIPTIONS.State.invert[1] : Settings.USER_SUBSCRIPTIONS.State.invert[0]
  end

  g.column name: 'Updated Time', attribute: 'updated_at' do |task|
    task.updated_at
  end

  g.column name: 'Edit' do |task|
    link_to 'Edit', edit_users_subscription_path(task), class: 'btn btn-sm btn-success'
  end

end -%>
