<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag users_review_path(@review), method: :put, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="disapproveLabel">
              ApproveReview
            </h4>
          </div>
          <div class="modal-body">
            <% if @review.state == Settings.USER_REVIEW_STATES.PendingReview %>
                <div class="form-group">
                  <div class="col-md-offset-2">
                    <p>
                      <%= check_box_tag "is_send_reviewee", "1", true %>
                      Send Message to reviewee
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag 'system_message_content' %>
                  <div class="col-md-offset-2">
                    <%= text_area_tag 'system_message_content', @system_message_template_content, required: true, class: "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= label_tag 'push_content' %>
                  <div class="col-md-offset-2">
                    <%= text_area_tag 'push_content', @push_template_content, required: true, maxlength: 120, class: "form-control" %>
                  </div>
                </div>

            <% elsif @review.state == Settings.USER_REVIEW_STATES.Disapprove %>
                <div>
                  <p>
                    Are you confirm?
                  </p>
                </div>

            <% end %>
          </div>
          <div class="modal-footer">
            <%= submit_tag 'Confirm', class: 'btn btn-md btn-primary' %>
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
