<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag users_review_path(@review), method: :delete, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="disapproveLabel">
              DisapproveReview
            </h4>
          </div>
          <div class="modal-body">
            <%= text_area_tag 'reason', nil, required: true, class: "form-control", placeholder: 'Please input disapprove reason ...' %>
          </div>
          <div class="modal-footer">
            <%= submit_tag 'Confirm', class: 'btn btn-md btn-primary' %>
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
