<h2> User Review List </h2>

<hr/>

<%= grid(@user_reviews_grid) do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: "Score", attribute: 'score'

  g.column name: 'Text', attribute: 'comment', html: {class: 'col-md-2'}

  g.column name: 'From', attribute: 'nickname', model: 'EntityUser' do |task|
    link_to user_path(task.reviewer_id) do
      content_tag(:p) do
        task.reviewer.nickname
      end + content_tag(:p) do
        "ID:#{task.reviewer_id}#{'(S)' if task.direction == Settings.UserReview.Direction.SellerToBuyer}"
      end
    end if task.reviewer.present?
  end

  g.column name: 'To', attribute: 'nickname', model: 'EntityUser', table_alias: 'reviewee_review_review' do |task|
    link_to user_path(task.target_user) do
      content_tag(:p) do
        task.reviewee.nickname
      end + content_tag(:p) do
        "ID:#{task.target_user}#{'(S)' if task.direction == Settings.UserReview.Direction.BuyerToSeller}"
      end
    end if task.reviewee.present?
  end

  g.column name: 'Direction', attribute: 'direction', custom_filter: Settings.UserReview.Direction.to_a do |task|
    Settings.UserReview.Direction.invert[task.direction]
  end

  g.column name: 'Item', attribute: 'item_id', html: {class: 'col-md-1'} do |task|
    link_to task.item_id, product_path(task.item_id)
  end

  g.column name: 'ModifiedTime', attribute: 'last_updated_at', html: {class: 'col-md-2'}

  g.column name: 'UpdateTime', attribute: 'updated_at', html: {class: 'col-md-2'}

  g.column name: 'State', attribute: 'state', custom_filter: Settings.USER_REVIEW_STATES.to_a, html: {class: 'col-md-1'} do |task|
    Settings.USER_REVIEW_STATES.invert[task.state]
  end

  g.column html: {class: 'col-md-4'} do |task|
    content_tag(:div, class: 'pull-left') do
      if task.state != Settings.USER_REVIEW_STATES.Approve
        button_tag "Approve", data: {review_id: task.id}, class: "user-review-approve btn btn-sx btn-success"
      end
    end + content_tag(:div, class: 'pull-right') do
      if task.state != Settings.USER_REVIEW_STATES.Disapprove
        button_tag "Disapprove", data: {review_id: task.id}, class: "user-review-disapprove btn btn-sx btn-danger"
      end
    end
  end

end -%>

<script>
    $('.user-review-approve').click(function () {
        console.log('user review approve');
        var review_id = $(this).data('review-id');
        console.log(review_id);
        $.ajax({
            url: "<%= ajax_users_reviews_path(fn: "approve_window") %>",
            type: "GET",
            data: {id: review_id},
            cache: false,
            timeout: <%= Settings.AJAX.Timeout %>,
            success: function (data) {
                $(data).modal('show');
            },
            error: function (xhr, status, error) {
                alert(status + '.Please try again.');
            }
        });
    });
    $('.user-review-disapprove').click(function () {
        console.log('user review disapprove');
        var review_id = $(this).data('review-id');
        console.log(review_id);
        $.ajax({
            url: "<%= ajax_users_reviews_path(fn: "disapprove_window") %>",
            type: "GET",
            data: {id: review_id},
            cache: false,
            timeout: <%= Settings.AJAX.Timeout %>,
            success: function (data) {
                $(data).modal('show');
            },
            error: function (xhr, status, error) {
                alert(status + '.Please try again.');
            }
        });
    });
    $('input#grid_f_entity_user_nickname').attr("placeholder", "Nickname");
    $('input#grid_f_reviewee_review_review_nickname').attr("placeholder", "Nickname");
</script>
