<div class="jumbotron">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h1>Boss Management System for 5Miles</h1>

      <h2>Welcome, <%= session[:current_admin_username] %></h2>

      <p>If you have any questions, please contact with <b>liuyanliang@wespoke.com</b>.</p>

    </div>
  </div>

</div>
