<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Fivemiles Backend System</title>

  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

<div class="container text-center">

  <% if flash[:success] %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:success] %>
      </div>
  <% end %>
  <% if flash[:warning] %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:warning] %>
      </div>
  <% end %>
  <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[:error] %>
      </div>
  <% end %>

  <%= form_tag login_path, class:"form-signin", role:"form" do %>
    <h2 class="form-signin-heading">Fivemiles Backend</h2>
    <input type="text" class="form-control" name="username" placeholder="Username" required autofocus autocomplete="off">
    <input type="password" class="form-control" name="password" placeholder="Password" required autocomplete="off">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <% end %>

</div>
</body>
</html>