#!/bin/sh
set -e

APP_ROOT=<%= current_path %>
PID=$APP_ROOT/tmp/pids/sneakers.pid
API_WORKERS="ItemWorker,ReportWorker,FeedbackWorker,ReviewWorker"
AS_USER="<%= "#{fetch(:deploy_user)}" %>"

run () {
  if [ "$(id -un)" = "$AS_USER" ]; then
    eval $1
  else
    su -c "$1" - $AS_USER
  fi
}

sig () {
  test -s "$PID" && kill -$1 `cat $PID`
}

case "$1" in
  start)
    sig 0 && echo >&2 "Already Running" && exit 0
    run "cd $APP_ROOT; RAILS_ENV=<%= "#{fetch(:rails_env)}" %> WORKERS=$API_WORKERS bundle exec rake sneakers:run"
    ;;
  stop)
    if kill -0 `cat $PID`
    then
        cd $APP_ROOT
        kill -TERM `cat $PID`
        echo "stopping...."
    else
        echo "not running"
    fi
    ;;
  *)
    echo >&2 "Usage: $0 <start|stop>"
    exit 1
    ;;
esac
