<%= fetch(:rails_env) %>:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  host: 127.0.0.1
  database: <%= "#{fetch(:application)}_#{fetch(:rails_env)}" %>
  pool: 5
  username: <%= "#{fetch(:application)}_#{fetch(:rails_env)}" %>
  password:
  socket: /var/lib/mysql/mysql.sock
