upstream unicorn {
  server unix:/tmp/unicorn.<%= fetch(:full_app_name) %>.sock fail_timeout=0;
}

server {
  server_name <%= fetch(:server_name) %>;
  listen 80;
  root <%= fetch(:deploy_to) %>/current/public;
  access_log <%= fetch(:deploy_to) %>/current/log/access.log main;
  error_log <%= fetch(:deploy_to) %>/current/log/error.log;

  # location ^~ /assets/ {
  #  gzip_static on;
  #  expires max;
  #  add_header Cache-Control public;
  # }

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://unicorn;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}

<% if fetch(:enable_ssl) %>
server {
  server_name <%= fetch(:server_name) %>;
  listen 443;
  root <%= fetch(:deploy_to) %>/current/public;
  access_log <%= fetch(:deploy_to) %>/current/log/access.log;
  error_log <%= fetch(:deploy_to) %>/current/log/error.log;

  # location ^~ /assets/ {
  #  gzip_static on;
  #  expires max;
  #  add_header Cache-Control public;
  # }

  try_files $uri/index.html $uri @unicorn;
  location @unicorn {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header   X-Forwarded-Proto https;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://unicorn;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
  ssl on;
  ssl_certificate <%= fetch(:deploy_to) %>/shared/ssl_cert.crt;
  ssl_certificate_key <%= fetch(:deploy_to) %>/shared/ssl_private_key.key;
}#
<% end %>
