:concurrency: 5
:pidfile: <%= current_path %>/tmp/pids/sidekiq.pid
:logfile: <%= current_path %>/log/sidekiq.log

:queues:
  - [high, 6]
  - auto_dispatch
  - default

development:
  :concurrency: 5
staging:
  :concurrency: 10
production:
  :concurrency: 25
