<h2>User Reports</h2>

<hr/>

<%= grid(@user_reports_grid) do |g|


  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}

  g.column name: 'User', attribute: 'nickname', model: 'EntityUser',
           ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    link_to(task.user.nickname, user_path(task.user)) if task.user
  end

  g.column name: 'Reporter', attribute: 'nickname', model: 'EntityUser',
           ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    link_to(task.reporter.nickname, user_path(task.reporter)) if task.reporter
  end

  g.column name: 'State', attribute: 'is_processed', custom_filter: Settings.Report.State.to_a do |task|
    task.is_processed ? Settings.Report.State.invert[1] : Settings.Report.State.invert[0]
  end

  g.column name: 'Reason', attribute: 'reason', custom_filter: @report_reason_options_for_select.to_a,
           html: {class: 'col-md-2'} do |task|
    @report_reason_options_for_select.invert[task.reason]
  end

  g.column name: 'Reason Content', attribute: 'reason_content', html: {class: 'col-md-2'}

  g.column name: 'Reply Content', attribute: 'reply_content', html: {class: 'col-md-2'}

  g.column name: 'Create Time', attribute: 'created_at', html: {class: 'col-md-2'} do |task|
    task.created_at
  end

  g.column name: 'Zendesk Ticket', html: {class: 'col-md-1'} do |task|
    unless task.is_processed
      link_to 'Create', create_zendesk_ticket_user_report_path(task),
              data: {confirm: 'Are you confirm to create zendesk ticket?', disable_with: 'Processing'},
              class: 'btn btn-sm btn-primary'
    else
      content_tag(:div, '', class: 'z_ticket', 'data-report-id' => task.id)
    end
  end

  g.column  do |task|
    unless task.is_processed
      link_to('Feedback', feedback_user_report_path(task),
              class: 'btn btn-sm btn-danger')
    end
  end

end -%>

<script id="tmpl_zendesk_ticket_link" type="text/x-jquery-tmpl">
  <a href="<%= Settings.Zendesk.TicketPagePrefix %>/${ticket_id}" target="_blank">${ticket_id}</a>
</script>

<script>
    var report_ticket_hash = <%= raw user_report_get_report_ticket_json(@user_reports_grid.current_page_records.map {|p| p.id}) %>;
    $('.z_ticket').each(function () {
        $('#tmpl_zendesk_ticket_link').tmpl(report_ticket_hash[$(this).data('report-id')]).appendTo($(this));
    });
</script>
