<h2>Trace Logs</h2>

<hr/>

<%= grid(@log_grid) do |g|

  g.column name: 'DateTime', attribute: 'created_at'

  g.column name: 'Operator', attribute: 'username', model: 'Admin' do |task|
    task.operator.username
  end

  g.column name: 'Type', attribute: 'op_type'

  g.column name: 'Target', attribute: 'op_target'

  g.column name: 'Business ID', attribute: 'op_business_id'

  g.column name: 'Content', attribute: 'op_content', html: {class: 'col-md-6'} do |task|
    trace_log_display_content(task)
  end

end -%>
