<h2> Trigger </h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <%= link_to "Create", new_fmmc_trigger_path, class: "btn btn-md btn-primary" %>
  </div>
</div>


<%= grid(@trigger_grid) do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: "Name", attribute: 'name', ordering: false, html: {class: 'col-md-1'}

  g.column name: 'Task', attribute: 'name', model: 'FmmcTask', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    link_to(task.task.name, fmmc_task_path(task.task), target: '_blank') if task.task.present?
  end

  g.column name: "Status", attribute: 'status', custom_filter: Settings.FMMC_STATUSES.to_a,
           html: {class: 'col-md-1'} do |task|
    Settings.FMMC_STATUSES.invert[task.status]
  end

  g.column name: 'Trigger Type', attribute: 'trigger_type', html: {class: 'col-md-1'}, custom_filter: Settings.TRIGGER_TYPES.to_a do |task|
    Settings.TRIGGER_TYPES.invert[task.trigger_type]
  end

  g.column name: 'Time', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    task.normal_trigger_time
  end

  g.column name: 'Update Time', attribute: 'updated_at', html: {class: 'col-md-1'}

  g.column name: 'Comment', attribute: 'comment', ordering: false, filter: false, html: {class: 'col-md-1'}

  g.column do |task|
    link_to 'Edit', edit_fmmc_trigger_path(task), class: 'btn btn-sm btn-success'
  end

  g.column  do |task|
    if task.status == Settings.FMMC_STATUSES.Disabled
      link_to "Enable", enable_fmmc_trigger_path(task), class: 'btn btn-md btn-info'
    else
      link_to "Disable", disable_fmmc_trigger_path(task), class: 'btn btn-md btn-danger'
    end
  end

end -%>
