<%= form_for @rule, as: :rule, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <% if @rule.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@rule.errors.size, "error") %></h3>
          <ul>
            <% @rule.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label "Rule Name", class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :name, class: 'form-control', autofocus: true, required: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-5">
        <%= f.check_box :is_keep_audit_state %>
        Do not change status to <b>InReview</b>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Show Type", class: 'col-md-3 control-label' %>
      <div class="col-md-9">
          <div class="row col-md-9">
            <%= check_box_tag('show_type_names[do_not_show]', Settings.ItemOperationRules.ShowType.DoNotShow, @show_type_checked_states[:do_not_show]) %>
            <%= label_tag('show_type_names[do_not_show]', "Do not show on Manal Execution Selection List") %>
            </div>
          <div class="row col-md-9">
            <%= check_box_tag('show_type_names[image_audit]', Settings.ItemOperationRules.ShowType.ImageAudit,  @show_type_checked_states[:image_audit]) %>
            <%= label_tag('show_type_names[image_audit]', "Show on ImageAudit")%></div>
          <div class="row col-md-9">
            <%= check_box_tag('show_type_names[often_use]', Settings.ItemOperationRules.ShowType.OftenUse,  @show_type_checked_states[:often_use]) %>
            <%= label_tag('show_type_names[often_use]',"Often use") %></div>
       </div>
    </div>

    <div class="form-group">
      <%= f.label :action, class: 'col-md-3 control-label' %>
      <div class="col-md-9">
        <div class="row col-md-3">
          <%= f.radio_button :action, 'lower_weight', checked: @rule.action == 'lower_weight' %><%= label_tag 'Lower Weight' %>
        </div>
        <div class="row col-md-2">
          <%= f.select :lower_weight_value, [0, 1, 2, 3, 4], {}, class: 'form-control', require: true %>
        </div>
        <div class="row col-md-9">
          <%= f.radio_button :action, 'take_down', checked: @rule.action == 'take_down' %><%= label_tag 'Take down' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :notify_user, class: 'col-md-3 control-label' %>
      <div class="col-md-2">
        <%= f.select :notify_user, options_for_select({True: 1, False: 0}, @rule.notify_user), {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Push message", class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_area :push_message, cols: 40, rows: 2, class: 'form-control', required: true, maxlength: 80 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Email title", class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :email_title, class: 'form-control', autofocus: true, required: true, maxlength: 80 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "System message & first part of email", class: 'col-md-3 control-label' %>
      <div class="col-md-6">
        <%= f.text_area :email_and_system_message, cols: 40, rows: 5, class: 'form-control', required: true %>
        <span class="help-block">variables: ${item_title}  -  title of item</span>
      </div>
    </div>

    <div class="form-group hidden">
      <div class="col-md-offset-3 col-md-6">
        <label>
          <input type="checkbox" name="is_auto_complete" value="1">
          Auto Complete if no modify
        </label>

        <div id="auto_complete_box" style="">

        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-5">
        <%= f.submit class: 'btn btn-primary' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Cancel', item_operation_rules_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>

<script id="tmpl_auto_complete_box" type="text/x-jquery-tmpl">
          <p>
            DelayTime:
            <input type="text" name="rule[delay_time]" required="required">
            hours later
          </p>

          <p id="auto_approve_complete_box">
            <input type="radio" name="rule[action_type]" value="<%= Settings.ItemOperationRules.ActionType.ApproveAndComplete %>" required="required">
            Approve & Complete

            <div class="auto_complete_action" id="change_weight_box" style="padding-left: 15px;">

            </div>
          </p>

          <p id="change_rule_box">
            <input type="radio" name="rule[action_type]" value="<%= Settings.ItemOperationRules.ActionType.ExchangeRule %>" required="required">
            Execute another rule

            <div class="auto_complete_action" id="target_rule_id_box" style="padding-left: 15px;">

            </div>
          </p>


</script>
<script id="tmpl_change_weight_box" type="text/x-jquery-tmpl">
                <input type="checkbox" name="rule[change_weight]" value="1">
                Change weight
                <div id="target_weight_box" style="padding-left: 15px;">

                </div>


</script>
<script id="tmpl_target_weight_box" type="text/x-jquery-tmpl">
                Target weight:
                <input type="text" name="rule[target_weight]" required="required">


</script>
<script id="tmpl_target_rule_id_box" type="text/x-jquery-tmpl">
                Rules:
                <%= select_tag "rule[target_rule_id]",
                               options_for_select(ItemOperationRule.where(status: true).order(:name).pluck(:name, :id)),
                               prompt: 'Please select a rule',
                               required: true %>
</script>
<script>
    var auto_complete_params = <%= raw auto_complete_params.to_json %>;

    function init_func() {
        $('input[name="is_auto_complete"]').click(function () {
            if ($(this).prop('checked') === false) {
                $('#auto_complete_box').removeAttr('style').html('');
            } else {
                $('#tmpl_auto_complete_box').tmpl().appendTo('#auto_complete_box');
                $('#auto_complete_box').attr('style', "padding-left: 15px; padding-top: 15px; border: 1px solid #cccccc;border-radius: 4px;");
                if (auto_complete_params['delay_time'] !== undefined && auto_complete_params['delay_time'] !== null) {
                    $('input[name="rule[delay_time]"]').val(auto_complete_params['delay_time']);
                }
                if (auto_complete_params['action_type'] !== undefined && auto_complete_params['action_type'] !== null) {
                    if (auto_complete_params['action_type'] === <%= raw Settings.ItemOperationRules.ActionType.ApproveAndComplete %>) {
                        if ($('p#auto_approve_complete_box > input[name="rule[action_type]"]').prop('checked') === false) {
                            $('p#auto_approve_complete_box > input[name="rule[action_type]"]').click();
                        }
                    } else if (auto_complete_params['action_type'] === <%= raw Settings.ItemOperationRules.ActionType.ExchangeRule %>) {
                        if ($('p#change_rule_box > input[name="rule[action_type]"]').prop('checked') === false) {
                            $('p#change_rule_box > input[name="rule[action_type]"]').click();
                        }
                    }
                }
            }
        });

        $('#auto_complete_box').on('click', 'input[name="rule[action_type]"]', function () {
            console.log('click input[name="rule[action_type]"]');
            console.log($(this));
            $('input[name="rule[action_type]"]').each(function () {
                console.log($(this).parent().text() + ':' + $(this).prop('checked'));
            });
            console.log($('input[name="rule[action_type]"]:checked').parent().text());

            var checked_value = $(this).val();
            console.log(checked_value);
            $('div.auto_complete_action').each(function () {
                $(this).html('');
            });
            if (checked_value === '<%= Settings.ItemOperationRules.ActionType.ApproveAndComplete %>') {
                $('#tmpl_change_weight_box').tmpl().appendTo('#change_weight_box');
                if (auto_complete_params['target_weight'] !== undefined && auto_complete_params['target_weight'] !== null) {
                    $('#change_weight_box > input[name="rule[change_weight]"]').click();
                }
            } else if (checked_value === '<%= Settings.ItemOperationRules.ActionType.ExchangeRule %>') {
                $('#tmpl_target_rule_id_box').tmpl().appendTo('#target_rule_id_box');
                if (auto_complete_params['target_rule_id'] !== undefined && auto_complete_params['target_rule_id'] !== null) {
                    $('select[name="rule[target_rule_id]"] > option[value="' + auto_complete_params['target_rule_id'] + '"]').attr('selected', 'selected');
                }
            }
        });

        $('#auto_complete_box').on('click', 'input[name="rule[change_weight]"]', function () {
            if ($(this).prop('checked') === false) {
                $('#target_weight_box').html('');
            } else {
                $(this).prop('checked', true);
                $('#tmpl_target_weight_box').tmpl().appendTo('#target_weight_box');
                if (auto_complete_params['target_weight'] !== undefined && auto_complete_params['target_weight'] !== null) {
                    $('#target_weight_box > input[name="rule[target_weight]"]').val(auto_complete_params['target_weight']);
                }
            }
        });

        $('input[name="rule[action]"]').click(function () {
            var value = $(this).val();
            if (value === "lower_weight") {
                $('#auto_complete_box').parents('.form-group').removeClass('hidden');
                if (auto_complete_params['delay_time'] !== undefined && auto_complete_params['delay_time'] !== null) {
                    if ($('input[name="is_auto_complete"]').prop('checked') === false) {
                        $('input[name="is_auto_complete"]').click();
                    }
                }
            } else {
                $('#auto_complete_box').parents('.form-group').addClass('hidden');
                if ($('input[name="is_auto_complete"]').prop('checked')) {
                    $('input[name="is_auto_complete"]').click();
                }
            }
        });

        $('input[name="rule[action]"]:checked').click();
    }
    init_func();
</script>
