<h2> Item Operation Rules </h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
     <%= link_to "Create", new_item_operation_rule_path, class: "btn btn-md btn-primary" %>
  </div>
</div>


<%= grid(@rules_grid) do |g|

  g.column name: 'ID', attribute: 'id',
           filter: false, ordering: false

  g.column name: "Name", attribute: 'name',
           filter: false, ordering: false, html: {class: 'col-md-5'} do |task|
    link_to task.name, item_operation_rule_path(task)
  end

  g.column name: 'Action', attribute: 'action',
           filter: false, ordering: false

  g.column name: 'Notify User', attribute: 'notify_user',
           filter: false, ordering: false

  # g.column name: 'Push Message', attribute: 'push_message',
  #          filter: false, ordering: false, html: {class: 'col-md-2'}
  #
  # g.column name: 'Long Message Title', attribute: 'notify_long_message_title',
  #          filter: false, ordering: false, html: {class: 'col-md-2'}
  #
  # g.column name: 'Long Message', attribute: 'notify_long_message',
  #          filter: false, ordering: false, html: {class: 'col-md-2'}

  g.column name: 'Edit' do |task|
    link_to 'Edit', edit_item_operation_rule_path(task), class: 'btn btn-sm btn-success'
  end

  g.column name: "Status", attribute: 'status', filter: false, ordering: false do |task|
    task.status ? "Enabled" : "Disabled"
  end

  g.column do |task|
    if task.is_enabled?
      link_to 'Disable', disable_item_operation_rule_path(task), class: 'btn btn-sm btn-warning'
    else
      link_to 'Enable', enable_item_operation_rule_path(task), class: 'btn btn-sm btn-success'
    end
  end

end -%>
