<h2>Item Operation Rule</h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <%= link_to "Edit", edit_item_operation_rule_path(@rule), class: "btn btn-md btn-primary" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
    <% @rule.attributes.each_pair do |key, value| %>
        <tr>
          <td align="right" class="active col-md-4"><strong><%= key.humanize %></strong></td>
          <td align="left" class="col-md-8">
            <%= value %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
