<h1>Compose System Message</h1>

<hr/>

<div>
  <%= form_tag manual_system_messages_path, method: :post, remote: true, role: 'form', class: 'form-horizontal' do %>
      <div class="form-group">
        <div class="col-md-offset-2">
          <span class="help-text text-danger">Note: The content with * are required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          To
        </label>

        <div class="col-md-6">
          <%= ztree_country_tree_tag('to') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Gender
        </label>

        <div class="col-md-6">
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Male, true %> Male
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Female, true %> Female
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Unknown, true %> Unknown
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Registered Time', class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= select_tag 'registered_time[type]', options_for_select(Settings.REGISTERED_TIME_TYPE.to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[value]', options_for_select((1..59).to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[unit]', options_for_select(FmmcFrequencyPeriod.all.map { |fp| [fp.name, fp.id] }.reverse[0..-2]), class: 'select-inline', prompt: '---' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Last Number of UID
        </label>

        <div class="col-md-6">
          <% (0..9).each do |v| %>
              <label class="checkbox-inline">
                <%= check_box_tag 'uid_suffix[]', v, true %>
                <%= v %>
              </label>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Message Content
        </label>

        <div class="col-md-6">
          <%= text_area_tag 'system_message[content]', nil, rows: 5, cols: 50, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Image URL', class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= text_field_tag 'system_message[image]', nil, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Message Link', class: 'col-md-2 control-label' %>
        <div class="col-md-3">
          <%= select_tag 'system_message[action]', options_for_select(@system_actions), prompt: 'Please select an action', class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'system_message[action_param]', nil, class: 'form-control hidden' %>
        </div>
        <div id="search_with_banner_upload_image" class="col-md-4 hidden">
          <a class="btn btn-md btn-default col-md-3" onclick="$('input.cloudinary-fileupload').click()">
            <i class="fa fa-upload"></i>
            Upload
            <div class="progress progress-striped active" style="height: 3px; margin-bottom: 0;">
              <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
              </div>
            </div>
          </a>
          <%= hidden_field_tag 'system_message[s2][image][url]' %>
          <%= hidden_field_tag 'system_message[s2][image][width]' %>
          <%= hidden_field_tag 'system_message[s2][image][height]' %>
          <div id="preview_search_with_banner_image" class="thumbnail col-md-8 hidden" style="position: absolute; z-index: 10; right: 15px;">
          </div>
        </div>
      </div>

      <div class="form-group hidden">
        <div class="col-md-offset-2 col-md-6">
          <%= check_box_tag :is_with_push, '1', true %>
          <%= label_tag 'Also PUSH' %>
        </div>
      </div>

      <div id="push_content_block">

        <div class="form-group">
          <label class="col-md-2 control-label">
            <span class="prompt-required">*</span>
            Push Type
          </label>

          <div class="col-md-3">
            <%= select_tag 'push[type]', options_for_select(Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.to_a[1..3]), prompt: 'Please select a notification type', required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= label_tag nil, 'Push Title(Android)', class: 'col-md-2 control-label' %>
          <div class="col-md-6">
            <%= text_field_tag 'push[title]', nil, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">
            <span class="prompt-required">*</span>
            Push Text
          </label>

          <div class="col-md-6">
            <%= text_field_tag 'push[content]', nil, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">
            <span class="prompt-required">*</span>
            Push Link
          </label>
          <div id="push_action_box" data-with-banner="0">

          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-6">
            <%= check_box_tag 'push[mute]', '1', false %>
            <%= label_tag 'Mute' %>
          </div>
        </div>

      </div>

      <div class="form-group">
        <%= label_tag :remarks, 'Remarks', class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= text_field_tag :remarks, nil, class: 'form-control' %>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
          <%= text_field_tag :test_user_id, nil, placeholder: "User ID for test", class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= submit_tag 'Send for test', id: 'manual_system_message_test', class: 'btn btn-default btn-block btn-info' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Start Time
        </label>

        <div class="col-md-10">
          <label class="radio-inline">
            <%= radio_button_tag 'immediate', '1', false, required: true %> Immediately
          </label>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <label class="radio-inline col-md-3">
            <%= radio_button_tag 'immediate', '0', false, required: true %> SetTime(Zone:<%= Time.zone.name %>)
          </label>
        </div>
        <div id="select_datetime" class="col-md-offset-2 col-md-10 hidden" style="top: 5px;padding-left: 35px;">
          <%= select_datetime %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
          <%= submit_tag 'Send', id: 'manual_system_message_send', data: {confirm: 'Press OK to confirm.'}, class: 'btn btn-md btn-default btn-block btn-primary' %>
        </div>
      </div>

  <% end %>
</div>

<script id="tmpl_push_action_without_banner" type="text/x-jquery-tmpl">
            <div class="col-md-3">
              <%= select_tag 'push[action]', options_for_select(Settings.SYSTEM_MESSAGE_ACTIONS.sort), prompt: 'Please select an action', required: true, class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <%= text_field_tag 'push[action_param]', nil, class: 'form-control hidden' %>
            </div>
</script>
<script id="tmpl_push_action_with_banner" type="text/x-jquery-tmpl">
            <div class="col-md-6">
              <p class='form-control'>= Message Link</p>
            </div>
</script>
<script>
    $('#tmpl_push_action_without_banner').tmpl().appendTo('#push_action_box');
</script>

<from>
  <%= cl_image_upload_tag(:image, html: {class: 'hidden', style: 'padding: 6px 0;'}) %>
</from>

<%= cloudinary_js_config %>

<script>
    $('.cloudinary-fileupload').bind('fileuploadprogress', function (e, data) {
        if ($('div.progress-bar').hasClass('progress-bar-danger'))
            $('div.progress-bar').removeClass('progress-bar-danger').addClass('progress-bar-success');
        $('div.progress-bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
    });
    $('.cloudinary-fileupload').bind('cloudinarydone', function (e, data) {
        $('div#preview_search_with_banner_image').html(
                $.cloudinary.image(data.result.public_id,
                        {format: data.result.format, version: data.result.version})
        );
        $('input#system_message_s2_image_url').val(data.result.url);
        $('input#system_message_s2_image_width').val(data.result.width);
        $('input#system_message_s2_image_height').val(data.result.height);
        $('div#preview_search_with_banner_image').removeClass('hidden');
        return true;
    });
    $('.cloudinary-fileupload').bind('cloudinaryfail', function (e, data) {
        $('div.progress-bar').removeClass('progress-bar-success').addClass('progress-bar-danger');
        alert("upload fail!");
    });
</script>
<script>
    var system_message_action_params = <%= raw @system_action_params.to_json %>;
    var push_action_params = <%= raw Settings.SYSTEM_MESSAGE_ACTION_PARAMS.to_json %>;
</script>

<%= ztree_country_tree_js_tag() %>
