<%= form_for sms_template, as: 'sms', url: loc_url, method: loc_method, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <% if sms_template.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(sms_template.errors.size, "error") %></h3>
          <ul>
            <% sms_template.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: 'off', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_area :content, cols: 30, rows: 10, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_area :comment, class: 'form-control', cols: 30, rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.check_box :status %>
        <label>Is Valid?</label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-5">
        <div class="col-md-2">
          <%= f.submit class: "btn btn-md btn-primary" %>
        </div>
        <div class="col-md-offset-7 col-md-2">
          <%= link_to 'Cancel', :back, class: "btn btn-md btn-default" %>
        </div>
      </div>
    </div>

<% end %>
