<%= define_grid(@smses_grid) do |g|

  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}

  g.column name: 'Name', attribute: 'name', html: {class: 'col-md-2'} do |task|
    link_to task.name, templates_sms_path(task), target: '_blank'
  end

  g.column name: 'Status', attribute: 'status', html: {class: 'col-md-1'},
           custom_filter: Settings.FMMC_STATUSES.to_a  do |task|
    Settings.FMMC_STATUSES.invert[task.status]
  end

  g.column name: 'Created', attribute: 'created_at', html: {class: 'col-md-1'}

  g.column name: 'Updated', attribute: 'updated_at', html: {class: 'col-md-1'}

  g.column html: {class: 'col-md-1'} do |task|
    link_to "Edit", edit_templates_sms_path(task), target: '_blank', class: 'btn btn-md btn-primary'
  end

  g.column html: {class: 'col-md-1'} do |task|
    if task.status == Settings.EMAIL_TEMP_STATUSES.Disable
      link_to "Enable", enable_templates_sms_path(task), class: 'btn btn-md btn-info'
    else
      link_to "Disable", disable_templates_sms_path(task), class: 'btn btn-md btn-danger'
    end
  end
end -%>