
<h2>SMS Template List</h2>

<hr/>

<div id="templates_content">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group pull-right col-md-2">
          <%= link_to 'Add', new_templates_sms_path, method: :get, target: '_blank', class: 'btn btn-block btn-primary' %>
        </div>
      </div>
      <%= render "grid" %>
      <%= render_grid @smses_grid %>
    </div>
  </div>
</div>
