<h2>SMS Template</h2>

<hr/>

<div class="col-md-12">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right col-md-2">
        <%= link_to "Edit", edit_templates_sms_path(@sms), class: "btn btn-md btn-danger btn-block" %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-bordered table-hover">
    <tbody>
    <% @sms.attributes.each_pair do |key, value| %>
        <tr>
          <th align="right"><%= key.humanize %></th>
          <td>
            <%= key == 'status' ? Settings.FMMC_STATUSES.invert[value] : value %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
