<%= form_for @tag, as: 'tag', html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <% if @tag.errors.any? %>
        <div class="warning">
              <h2><%= pluralize(@tag.errors.size, "error") %> prohibited
                this tag from being saved:</h2>
          <ul>
            <% @tag.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.text_field :title, class: 'form-control',
                         autofocus: true, required: true, autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-4 control-label' %>
      <div class="col-md-2">
        <%= f.select :status, Settings.TAG_STATUSES,
                     {prompt: 'Please select the tag status'},
                     class: 'form-control' %>

        <label id='invalidSelected' class="alert-danger" style="display:none">Release all relations</label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    commodity_tags_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>