<h2>Tags</h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="wg-external-submit-button btn btn-md btn-primary" data-grid-name="grid"><%=t :filter %></button>
    <button type="button" class="wg-external-reset-button btn btn-md btn-default" data-grid-name="grid"><%=t :reset %></button>
  </div>
  <div class="btn-group pull-right">
    <%= link_to 'Create', new_commodity_tag_path, {class: 'btn btn-default btn-md'} %>
  </div>
</div>

<%= grid(@tags_grid,
         hide_submit_button: true,
         hide_reset_button: true) do |g|

  g.column name: 'Order', attribute: '_order', filter: false, html: {class: 'col-md-1 editable-order'}

  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}

  g.column name: 'Title', attribute: 'title', ordering: false, html: {class: 'col-md-3'}

  g.column name: 'Status', attribute: 'status',
           custom_filter: Settings.TAG_STATUSES.to_a do |task|
    Settings.TAG_STATUSES.invert[task.status]
  end

  g.column name: 'Publish Date', attribute: 'publish_date' do |task|
    task.publish_date.to_date if task.publish_date
  end

  g.column do |task|
    link_to('Edit', edit_commodity_tag_path(task), class: 'btn btn-sm btn-info')
  end

  g.column do |task|

    if task.publish? && !task.draft?
      link_to('Draft', commodity_tag_state_path(task), method: :delete,
              data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
              class: 'btn btn-sm btn-danger')
    elsif !task.publish? && task.draft?
      link_to('Publish', commodity_tag_state_path(task), method: :post,
              data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
              class: 'btn btn-sm btn-success')
    else
    end

  end

end -%>