<%= define_grid @user_feedback_grid do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: 'User', attribute: 'nickname', model: 'EntityUser', html: {class: 'col-md-1'} do |task|
    link_to(task.user.nickname, user_path(task.user)) if task.user.present?
    end

  g.column name: 'Text', attribute: 'text', filter: false, ordering: false, html: {class: 'col-md-4'}

  g.column name: 'OS', attribute: 'os'

  g.column name: 'OS Version', attribute: 'os_version'

  g.column name: 'App Version', attribute: 'app_version'

  g.column name: 'Device', attribute: 'device'

  g.column name: 'State', attribute: 'state', custom_filter: Settings.Report.State.to_a do |task|
    task.state ? Settings.Report.State.invert[1] : Settings.Report.State.invert[0]
  end

  g.column name: 'Created Time', attribute: 'created_at', html: {class: 'col-md-2'}

  g.column name: 'Reply Content', attribute: 'reply_content', html: {class: 'col-md-2'}

  g.column name: 'Zendesk Ticket', html: {class: 'col-md-1'} do |task|
    unless task.state
      link_to 'Create', create_zendesk_ticket_user_feedback_path(task),
              data: {confirm: 'Are you confirm to create zendesk ticket?', disable_with: 'Processing'},
              class: 'btn btn-sm btn-primary'
    else
      content_tag(:div, '', class: 'z_ticket', 'data-feedback-id' => task.id)
    end
  end

  g.column do |task|
    unless task.state
      link_to('Process', feedback_user_feedback_path(task),
              class: 'btn btn-sm btn-danger')
    end
  end

end -%>
