<h2>User Feedback</h2>

<hr/>

<%= render 'grid' %>
<%= render_grid @user_feedback_grid %>

<script id="tmpl_zendesk_ticket_link" type="text/x-jquery-tmpl">
  <a href="<%= Settings.Zendesk.TicketPagePrefix %>/${ticket_id}" target="_blank">${ticket_id}</a>
</script>

<script>
    var feedback_ticket_hash = <%= raw user_feedback_get_feedback_ticket_json(@user_feedback_grid.current_page_records.map {|p| p.id}) %>;
    $('.z_ticket').each(function () {
        $('#tmpl_zendesk_ticket_link').tmpl(feedback_ticket_hash[$(this).data('feedback-id')]).appendTo($(this));
    });
</script>
