
<div class="ctr_items" style="margin:5px">
    <div class="col-sm-12">
      <!--max-height:1200px;overflow:scroll;-->
	    <div style="padding:2px;" class="panel panel-default">

        <div style="width:100%;" class="panel-heading  top_menu">
            <select id="sel_type">
              <option value="ctr">Ctr List</option>
              <option value="weight_0">Risk List</option>
              <option value="query_cat">Categroy List</option>
              <option value="query_best_fields">Search (best_fields)</option>
              <option value="query_most_fields">Search (most_fields)</option>
            </select>
            <select id="sel_city">
                <optgroup label="USA Dallas">
                    <option value="32.7766642,-96.79698789999998" selected="selected"
                            desc="5331 East Mockingbird Lane Dallas, TX 75206">Dallas office</option>
                    <option value="32.780751,-96.5951238">Dallas east</option>
                    <option value="32.655968,-96.807983">Dallas south</option>
                    <option value="32.850000,-97.029083">Dallas west</option>
                    <option value="33.017127,-96.777770">Dallas north</option>
                    <option value="32.8373077,-96.7763969">Dallas center</option>
                </optgroup>
                <optgroup label="USA Others">
                    <option value="29.7604267,-95.3698028">Houston</option>
                    <option value="34.052234,-118.243685">Los Angeles</option>
                    <option value="47.606209,-122.332071">Seattle</option>
                    <option value="40.712784,-74.005941">New York</option>

                </optgroup>
                <optgroup label="Others">
                    <option value="40.416775,-3.703790">Madrid</option>
                    <option value="39.9208,116.4101">Beijing</option>
                </optgroup>
            </select>
            <input type="text" id="pgm-lat-field" placeholder="lat" style="width:80px"/>
            <input type="text" id="pgm-lng-field" placeholder="lng" style="width:80px"/>
            <input type="text" id="pgm-query-field" placeholder="query" style="width:200px"/>
            <input type="text" id="pgm-cat_id-field" placeholder="cat_id" style="width:50px"/>
            <button id="btn_home" class="btn btn-success">refresh</button>
            <button id="btn_next" class="btn btn-info">next</button>
            <br>
            <span id="page_num"></span>
            <span id="page_url"></span>
            <span id="loading" style="display:none" def_title="loading..." err_title="req error">loading...</span><br>
        </div>
        <table style="width:100%;" class="table table-striped">
            <tr>
                <th style='width:420px'>Goods Pictures</th>
                <th style='width:400px'>Goods Info</th>
                <th style='width:200px'>Seller Info</th>
                <th style='width:100px'></th>
            </tr>
            <tbody id="search_result">
                <tr>
                    <td colspan="4"><h2>no data</h2></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<script id="tmpl_search_result" type="text/x-jquery-tmpl">
    <tr>
    <td>
        <div class="sub_par">
        id:${_source.id}
        <hr>
            {{each _source.images}}
                <img act='zoom_img' width='100' title='click to zoom' class="sub_img sub_img_${$index}"
                        src='${get_img_w($value.imageLink,400,$index)}'
                        orig_url='${get_img_w($value.imageLink,600)}'></img>
            {{/each}}
        </div>
    </td>
    <td>
        <div class='item_row'><span>Title:</span><span>${_source.title}</span></div>
        <div class='item_row'><span>Description:</span><span>${_source.desc}</span></div>
        <div class='item_row'><span>Category:</span><span>${_source.cat_id}</span></div>
        <div class='item_row'><span>Brand:</span><span>${_source.brand_name}</span></div>
        <div class='item_row'><span>Price:</span><span>${_source.local_price}</span>//${_source.original_price}</div>
        <div class='item_row'><span>City:</span><span>${_source.city} , ${_source.region}</span>, country:${_source.country}</div>
        <hr>
        <div><span>create time:</span><span>
            ${format_time(_source.created_at)}<br>
            --->bj:${format_time_zone(_source.created_at,+8)}<br>
            --->tx:${format_time_zone(_source.created_at,-6)}<br>
        </span></div>
        <div><span>update time:</span><span>
            ${format_time(_source.updated_at)}<br>
            --->bj:${format_time_zone(_source.updated_at,+8)}<br>
            --->tx:${format_time_zone(_source.updated_at,-6)}<br>
        </span></div>
        <hr>
        <div class='item_row'><span>Weight:</span><span>${_source.weight}</span></div>
        <div><span>${pretty_date(_source.updated_at)}</span></div>
        <div><span>${get_distance(_source.location.lat,_source.location.lon)}</span></div>
        <hr>


        <div class='item_row'><span>Ctrs:</span><span>${_source.user_ctr}</span></div>
        <div class='item_row'><span>Likes:</span><span>${_source.likes}</span></div>
        <div class='item_row'><span>Offers:</span><span>${_source.offers}</span></div>
        <div class='item_row'><span>Items:</span><span>${_source.items}</span></div>

    </td>
    <td>
        Seller:${_source.owner.nickname}<br>
        robot:${_source.owner.is_robot}<br>
        verified:${_source.owner.verified}<br>

        <img act='zoom_img' width='100' title='${_source.owner.nickname}'
                    src='${get_img_w(_source.owner.portrait,100)}'></img>
        <table><tbody id="owner_${_source.owner['id']}">

        <tbody></table>
    </td>
    <td >
        <!--
        <button id="btn_next" class="btn btn-info">Approve</button>
        <button id="btn_next" class="btn btn-info">Approve(Rick)</button>
        -->
    </td>
    </tr>
</script>


<script>

    var m_page_next = 0;
    var biz_host = "";
    var m_curr_req_type = "";

    function sel_city_selected(){
        try{
            var op =$("#sel_city option:selected")
            var txt = op.text();
            if(txt.indexOf("office")){
                txt = op.attr("desc")
            }
            $('#search_addr').val(txt);

            var lbs = $('#sel_city').val();
            arr = lbs.split(",")
            show_lat_lng(arr[0],arr[1])

            console.info("sel_city_selected")
        }catch(e){
            console.warn(e);
        }

    }

    function init_search_act(){
        console.info("init_search_act")
        $("#sel_city").change(function(){

            sel_city_selected();
        })

        sel_city_selected()

        $("#btn_home").click(function(){
            get_home(true)
        })

        $("#btn_next").click(function(){
            get_home()
        })
    }

    function show_biz_data(data) {
        $("#search_result").html("");

        var objects = data['objects']
        console.info(objects)

        if(objects.length==0){
            $("#search_result").html("query no found!")
        }

        $("#tmpl_search_result").tmpl(objects).appendTo("#search_result");

        $("img[act='zoom_img']").click(function (){
            window.open($(this).attr('orig_url'))
        })

        //get_owner_info(objects);

    }

/*
    function get_owner_info(objects){
        owners = []
        objects.forEach(function (item) {
            console.info(item)

            owners.push(item['owner']['id'])
        })

        owners.forEach(function (item) {
            console.info(item)

            var object = {
                "items":13123,"sold":111,"listing":111,"unlisting":111,"unapproved":222,"unavalable":1111
            }

            $("#tmpl_owner_info").tmpl(object).appendTo("#owner_"+item);
        })

    }
*/

    function get_home(is_start){
        var url = biz_host+'/es/list'
        req_biz_data(is_start, url);

    }

    function req_biz_data(is_start, url ,q) {
        var lat = $("#pgm-lat-field").val()
        var lon = $("#pgm-lng-field").val()
        var query = $("#pgm-query-field").val()
        var cat_id = $("#pgm-cat_id-field").val()

        q = query;

        if (is_start == true) {
            m_page_next = ''
            //clean_markers()
        }
        m_curr_req_type = $("#sel_type").val()
        var data = {"type":m_curr_req_type}  //{"next": m_page_next}
        if (lat != '' && lon != '') {
            data = mergeObj(data, {"lat": lat, "lon": lon})
        }
        if (q){
            data = mergeObj(data, {"q": q})
        }
        if (cat_id){
            data = mergeObj(data, {"cat_id": cat_id})
        }
        if (m_page_next){
            url = url+m_page_next
        }

        $("#page_url").text($.toJSON(data))
        $.get(url, data, function (data, textStatus, XMLHttpRequest) {
            try{
                console.info(data)
                show_biz_data(data);
                m_page_next = data['meta']['next']
                $("#page_num").text($.toJSON(data['meta']))

            }catch(e){
                console.error(e)
            }
        })
    }

    function get_img_w(img , w ,index){

        if(index==0){
            w = 400
        }

        var sss = "/image/upload/";
        return img.replace(sss,sss+"w_"+w+"/");  //",h_"+w+"
    }

    function pretty_date(ts){
        var zone = 0
        var new_ts = parseInt(ts+'000')

        var offset_h = new Date().getTimezoneOffset()/60;  //-8

        if(offset_h*-1==zone){
            // 同一时区
        }else{
            new_ts = new_ts + (offset_h+zone) *3600*1000
        }
        var str =  new Date(new_ts).format("yyyy-MM-ddThh:mm:ssZ");
        console.info(str)

        //"2015-06-28T20:24:17Z"
        return DateFormat.format.prettyDate(str)
    }

    function get_distance(lat2,lng2){

        var lat1 = $("#pgm-lat-field").val()
        var lng1 = $("#pgm-lng-field").val()

        console.info(lat1+","+lng1+","+lat2+","+lng2)

        var dis = getFlatternDistance(parseFloat(lat1),parseFloat(lng1), parseFloat(lat2),parseFloat(lng2))
        //console.info(dis)
        var disStr = ''
        if(dis>1000){
            dis = dis/1000
            disStr = dis.toFixed(1)+"km"
        }else{
            disStr = parseInt(dis)+"m"
        }

        var mi = (dis * 0.6213712).toFixed(2)+"mi"

        return disStr+" ("+mi+")"
    }


    function show_lat_lng(lat,lng){
        console.info(lat+";"+lng);

        lat = parseFloat(lat).toFixed(6)
        lng = parseFloat(lng).toFixed(6)

        $("#pgm-lat-field").val(lat);
        $("#pgm-lng-field").val(lng);

        $("#new_lat").text(lat)
        $("#new_lng").text(lng)
    }
    init_search_act()

</script>