<style>
.desc_text {
    font-family: "Aleo Regular", "Palatino Linotype", Palatino;
}
.sub_img_first{
    margin: 2px;
    border:1px;border-radius:2px;
    border-color: #ffa726;
}
.sub_img_others{
    margin: 2px;
    border:1px;border-radius:2px;
    border-color: #c7c2ff;
}
.text_danger{
    color: red;
}
</style>

<div id="main_view" class="audit_board" style="padding:2px">
  <div id="board_head" class="panel panel-default" style="border:0px;margin-bottom:2px;">
    <nav class="navbar navbar-default" style="margin-bottom:5px;border:0px;border-radius:0px;background-color:#ffffff;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="" style="color: darkorange;">Ads - DPA</a>
        </div>

        <div style="float:right;width:350px;margin:2px;padding:5px;text-align:right" class="panel panel-default">
          <div>
            Categroy:<select id="sel_cat_id">
            <option value="18">Video Games</option>
            <option value="14">Cars & Parts</option>
            <option value="9">Household & Tools</option>
            <option value="13">Electronics & Computers</option>
            <option value="17">Furniture</option>

          </select>
            <br>
            From:<input id="query_date_from" type="text" value="2015-06-23" >
            To:<input id="query_date_to" type="text" value="2015-06-30"><br>
            Top:<input id="query_load_size" type="text" value="50"><br>
            <a id="btn_search" class="btn btn-success">Search</a><a act="btn_next" class="btn btn-success">Next</a>
          </div>
        </div>
        <div style="float:right;width:350px;margin:2px;padding:5px;" class="panel panel-default">
          <div>City:  <select id="sel_city">
              <option value="dallas" feed_tag="Dallas">Dallas</option>
              <option value="houston" feed_tag="Houston">Houston</option>
              <option value="angeles" feed_tag="Los Angeles">Los Angeles</option>
              <option value="miami" feed_tag="Miami">Miami</option>
              <option value="atlanta" feed_tag="Atlanta">Atlanta</option>
          </select></div>
          <div>Feed URL:<input id="txt_feed_url" type="text" value=""  readonly="readonly" style="width:270px"/></div>
          <div>Update time:<span id="lbl_last_update_time">-</span></div>
          <div>Update items:<span id="lbl_last_update_cnt">-</span> / Current items:<span id="lbl_selected_cnt">-</span>
            <a id="btn_clean_feeds" href="#" class="btn btn-info">Clean</a></div>
        </div>

        <div style="clear:both;"></div>
      </div>
    </nav>
    <div style="float: right">
      <span id="loading" style="display:none" def_title="loading..." err_title="req error" count="0">loading...</span>
    </div>
  </div>
  <div id="board_body" style="padding:2px"  class="panel panel-default">
    <div>
      数据总量：<span id="lbl_search_result">-</span>/ offset：<span id="lbl_search_offset">-</span>
      <hr>
    </div>
    <div id="list_body_div">
        <h2>no data!</h2>
    </div>
    <hr>
    <a id="btn_feeds_select" class="btn btn_normal btn-success">Add items</a>
  </div>
</div>

<script id="tmpl_modal" type="text/x-jquery-tmpl">
    <div class="modal fade" id="approve" tabindex="-1" role="dialog"
         aria-labelledby="approveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title" id="disapproveLabel">
                    Approve Product
                  </h4>
                </div>
                <div class="modal-body">
                  <p style="padding-left: 15px;">Do you confirm?</p>
                </div>
                <div class="modal-footer">
                  <input class="btn btn-md btn-primary" id="confirm_product_approve" name="commit"
                  type="submit" value="Confirm" />
                  <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
                    Cancel
                  </button>
                </div>
            </div>
        </div>
    </div>
</script>

<!--
<script id="tmpl_description_audit" type="text/x-jquery-tmpl">
      <div id="list_body" class="container-fluid" style="padding:0px;min-height:200px"></div>
      <div style="clear:both;"></div>
      <hr>
      <div class="pagination" style="display:inline">

        <div style="height:30px;">
            <span style="float:right;margin-right:5px">
                items count:<span id="page_items_count">0</span>
            </span>
          </div>
      </div>
</script>
-->

<script id="tmpl_desc_item_images" type="text/x-jquery-tmpl">

    id:${_id}<br>
    fuzzy_id:${_source.id}<br>
    <div style="float:left">
    方图比例：<br>
        <img id="img_${_id}" act='zoom_img' width='260' class="sub_img "
                src='${get_img_fill(_source.images[0].imageLink,_source.id)}'></img>
    </div>
    <div style="float:left">
    原图比例：<br>
        <img id="img_${_id}" act='zoom_img' width='100' class="sub_img "
                src='${get_img_w(_source.images[0].imageLink, 200,_source.id)}'></img>
    </div>
</script>

<!--
    {{each _source.images}}
        <img act='zoom_img' width='100' title='click to zoom' class="sub_img sub_img_${$index}"
                src='${get_img_w($value.imageLink,200,$index)}'
                orig_url='${get_img_w($value.imageLink,600)}'></img>
    {{/each}}

    <table class="info_group">
      <tr><td width="100">create time:</td><td>
        ${format_time_zone(_source.created_at,0)}<br>
        ${format_time_zone(_source.created_at,+8)}----bj<br>
        ${format_time_zone(_source.created_at,-6)}----tx<br>
      </td></tr>
      <tr><td>renew time:</td><td>
        ${format_time_zone(_source.updated_at,0)}<br>
        ${format_time_zone(_source.updated_at,+8)}----bj<br>
        ${format_time_zone(_source.updated_at,-6)}----tx<br>
      </td></tr>
      <tr><td>modify time:</td><td>
        ${format_time_zone(_source.modified_at,0)}<br>
        ${format_time_zone(_source.modified_at,+8)}----bj<br>
        ${format_time_zone(_source.modified_at,-6)}----tx<br>
      </td></tr>
    </table>
-->

<script id="tmpl_description_item" type="text/x-jquery-tmpl">
    <div class="row item_line" id="${_source.id}">
      <div class="item_images col-sm-1" style="padding:2px">
        <input name="items" type="checkbox" value="${_id}"/>
      </div>
      <div class="item_images col-sm-4" style="padding:2px">
        {{tmpl($data) '#tmpl_desc_item_images'}}
      </div>
      <div class="col-sm-5" style="padding:2px">
        <table class="info_group basic">
          <tr class="title"><td width="100">Title</td><td><a href="/products/${_id}" target="_blank">${ _source.title }</a></td></tr>
          <tr class="desc"><td>Description</td><td><span class="desc_text" txt='${_source.desc}'></span></td></tr>
          <tr><td>Category</td><td><span class=${_source.cat_id}>${_source.cat_id}</span> </td>
          </tr>
          <tr><td>Brand</td><td>${_source.brand_name}</td></tr>
          <tr><td>Price</td><td class="${_source.price}">${_source.local_price}</td></tr>
          <tr><td>Location</td><td>${_source.city},${_source.region},${_source.country}</td></tr>
        </table>

        <table class="info_group">
          <tr><td width="100">Offers</td><td>${_source.offers}</td></tr>
          <tr><td>Likes</td><td>${_source.likes}</td></tr>
          <tr><td>Ctr</td><td>${_source.user_ctr}</td></tr>
          <tr><td>Weight</td><td>${_source.weight}</td></tr>
        </table>

        <table class="info_group">
          <tr><td width="100">create time:</td><td>
            ${format_time_zone(_source.created_at,0)} / ${format_time_zone(_source.created_at,-7)}--la<br>
          </td></tr>
          <tr><td>renew time:</td><td>
            ${format_time_zone(_source.updated_at,0)} / ${format_time_zone(_source.updated_at,-7)}--la<br>
          </td></tr>
          <tr><td>modify time:</td><td>
            ${format_time_zone(_source.modified_at,0)} / ${format_time_zone(_source.modified_at,-7)}--la<br>
          </td></tr>
        </table>

      </div>
      <div class="col-sm-2" style="padding:2px">
        <div class="owner_" style="padding:2px;border-radius:4px;">
            <img act='zoom_img' width='100' title='${_source.owner.nickname}'
                    src='${get_img_w(_source.owner.portrait,100)}'></img><br>
            ${_source.owner.nickname}<br>
            robot:${_source.owner.is_robot}<br>
            verified:${_source.owner.verified}<br>
        </div>
      </div>
      <div class="col-sm-2" style="padding:2px">
        <div class="audit_action_box" data-item-id=${item_id} style="height:200px;display:table-cell;vertical-align:middle;width:100%;float:left;padding:25px">

        </div>
      </div>
    </div>
</script>

<script>
    function act_img_zoom(){
        $("img[act='zoom_img']").click(function () {
            window.open($(this).attr('orig_url'));
        });
    }


    function get_img_w(img , w ,item_id){
        try{
            var sss = "/image/upload/";
            return img.replace(sss,sss+"w_"+w+"/");  //",h_"+w+"
        }catch(e){
            console.error(img)
            console.error("img error:"+item_id)

            return img
        }
    }

    function get_img_fill(img ,item_id){
        try{
            var sss = "/image/upload/";
            return img.replace(sss,sss+"w_600,h_600,c_lfill/");  //",h_"+w+"
        }catch(e){
            console.error(img)
            console.error("img error:"+item_id)

            return img
        }
    }

    function format_desc(desc){
        return desc.replaceAll("\n","<br>")
    }

</script>

<script>


    var biz_description_images = function () {

        var _page_next

        function _show_no_data(msg  , is_clean){

            if(!msg){
                msg = "No data on you.";
            }
            var chd = $("#list_body").children();
            if (chd.length == 0 || is_clean) {
                $("#list_body").html("<div id='no_data' class='no_data'>"+msg+"</div>")
            }

            $("#page_items_count").text(chd.length);
        }

        function _load_owner_info(data) {
            //console.info("get_owner_info..."+new Date())
            var owner_ids = [];
            var url = host_baseurl + "/owners.json";
            data.forEach(function (item) {
                if (owner_ids.indexOf(item['user_id']) == -1) {
                    owner_ids.push(item['user_id']);
                }
            });
            //console.info(owner_ids)
            if (owner_ids.length > 0) {
                $.get(url, {owner_ids: owner_ids}, function (data, textStatus, XMLHttpRequest) {
                    //console.info(data)
                    data.forEach(function (owner) {
                        $(".owner_" + owner.id).each(function () {
                            $("#tmpl_owner_info").tmpl(owner).appendTo(this);
                            if (owner.risk) {
                                $(this).addClass("user-risk");
                            }
                        });
                    });
                });
            }
        }

        function _show_data(data) {

            console.info(data)
            var objects = data['objects']

            if (data.length == 0) {
                //show_no_data(null, true);
            }else{
                $("#list_body_div").html("")
            }

            $("#tmpl_description_item").tmpl(objects).appendTo("#list_body_div");

            _data_events(objects);

            $(".desc_text").each(function(){
                var txt = $(this).attr("txt");

                $(this).html(format_desc(txt))

            });

            $("[name='items']").attr("checked",'true');//全选

            //_load_owner_info(data.data);

        }
        function _data_events(data) {

            act_img_zoom();


            $("#backToTop").click();

        }

        var _type = null;

        function _req_data(type, req_ext ,offset) {

            if(!_type){
                _type = type;
            }else{
                type = _type
            }

            if(!offset){
                offset = 0
            }

            var cat_id = $("#sel_cat_id").val()
            var date_from = $("#query_date_from").val()
            var date_to = $("#query_date_to").val()
            var load_size = $("#query_load_size").val()
            var city = $("#sel_city").val()

            var date_from_ts = parseInt(new Date().getTime()/1000);
            var date_to_ts = date_from_ts - 3600*24*7;

            var url = host_baseurl + "/board/list_items.json";
            var req_data = {'query_type': type, "cat_id":cat_id, "city":city, "date_from":date_from_ts,
                "date_to":date_to_ts, "limit":load_size, "operator_id":operator_id};
            console.info(req_data)
            if (req_ext) {
                dict_merge(req_data , req_ext)
            }
            console.info(req_data)
            //dict_merge(req_data , {'offset':offset,"limit":limit})
            if (_page_next){
                url = url+_page_next
            }

            req_get_data(url, req_data, function (data) {
                console.info(data)
                try{
                    total = data['meta']['total']
                    $("#lbl_search_result").text(total)

                    _show_data(data);

                    _page_next = data['meta']['next']
                    $("#lbl_search_offset").text(_page_next)
                }catch(e){
                    show_error(e);
                }
            });

        }
        return {
            close: function () {
                $("#module_filter_div").html("")
                $("#module_action_div").html("")
                $("#page_head").html("")
            },
            remove_item:function(id){
                $('#list_body > div#'+id).remove();
            },
            load_data: function (type, req_ext) {
                _page_next = ""
                _req_data(type, req_ext)
            },
            first: function () {
                console.info("first--->")
                _page_next = ""
                _req_data()
            },
            next: function () {
                console.info("next--->")
                _req_data()
            },
            init:function(){
                var type = "";
                var req_ext = "";
                _req_data(type, req_ext)
            }
        }

    }();

    function show_error(e){
        console.error(e)
    }

</script>
<script>

    var __ga_category = "Smart Audit Board";
    var __ga_page_or_data_loaded = __ga_set_event_time()

    var host_baseurl = "/smart_ads";

    var time_out = 25000;//<%= Settings.AJAX.Timeout %>

    var operator_id = '<%=session[:current_admin_id]%>';
    var operator_name = '<%=session[:current_admin_username]%>';
    var current_op_id = '<%=session[:current_admin_id]%>';


    var reedBaseUrl = "<%= Settings.FB_FETCH_PRODUCT_FEED_ULR_PREFIX%>?source=fb";

    var fetch_size = 50;
    var limit = fetch_size;

    document.title = "Smart Ads";


//    var __stat_interval_executor = null;
//    function auto_stat_info_refresh(){
//        if (__stat_interval_executor){
//            __stat_interval_executor.refresh_one();
//        }
//    }
//    function auto_stat_info_stop(){
//        //__stat_interval_executor.stop();
//    }
//    function auto_stat_info_start(){
//        if(__stat_interval_executor){
//            __stat_interval_executor.stop();
//            __stat_interval_executor = null;
//        }
//        __stat_interval_executor = interval_executor(auto_stat_info);
//        __stat_interval_executor.start();
//    }


    function select_feeds(city){

        var selected_list = [];
        $("input[name='items']:checked").each(function(){

                var id = $(this).val();
                var img_url = $("#img_"+id).attr("src");
                var cat_id = $("#sel_cat_id").val();
                var city = $("#sel_city").val();

                selected_list.push({"id":$(this).val(),"img_url":img_url,"cat_id":cat_id});


        })
,
        console.info(selected_list)

        var url = host_baseurl + "/board/select_feeds";
        var req_data= {"city":city, "selected_list":selected_list};
        req_post_data(url, req_data, function (res) {
            alert("Total " + res.data.success_item_cnt + " item(s) added successfully!")
            show_update_info();
        })
    }

    function clear_current_feeds(city){

        var url = host_baseurl + "/board/clear_current_feeds";
        var req_data= {"city":city}
        req_post_data(url, req_data, function (res) {
            alert("Item(s) removed successfully!")
        })
    }

    function city_selected(sel){
        var op =$("#"+sel.attr("id")+" option:selected")

        var feedTag = op.attr("feed_tag")
        var reedUrl = reedBaseUrl + "&city_name=" + feedTag;

        $("#txt_feed_url").val(encodeURI(reedUrl))
        show_update_info();
    }

    function show_last_exec_list(id , title){

        if ($("#last_exec_list").text()=="-"){
            $("#last_exec_list").text("")
        }
        var last_num = $("#last_exec_list").find("a").size()
        console.info("last_exec_list:"+last_num)
        if(last_num>=10){
            console.info("remove="+last_num)
            $("#last_exec_list").find(":first-child").remove()
        }
        //console.info($("#last_exec_list").find(":first-child"))

        $("#last_exec_list").append("<a href='/products/"+id+"' target='_blank'>"+id+"</a>")
    }


    function show_update_info(){

        console.info("show_update_info start")
        var url = host_baseurl + "/board/update_info.json";
        var city = $("select#sel_city option:selected").attr('feed_tag');

        var req_data = {"operator_id":operator_id, "city":city};

        req_get_data(url, req_data, function (res) {
            console.info("show_update_info ok");
            var res_data = res.data;
            $("#lbl_last_update_time").text(res_data.last_update_time);
            $("#lbl_last_update_cnt").text(res_data.last_update_cnt);
            $("#lbl_selected_cnt").text(res_data.selected_cnt);
        },null,function(err){
            $("#lbl_last_update_time").text("");
            $("#lbl_last_update_cnt").text(0);
            $("#lbl_selected_cnt").text(0);
        });
    }

    function init_page() {
        console.info("init_page.");

//        $("#query_date_from").attr("readonly",true);
//        $("#query_date_to").attr("readonly",true);

        show_update_info();

        $("#btn_search").click(function(){
            var type = "ctr_list";
            biz_description_images.load_data(type,{"operator_id":operator_id});
        });

        $("a[act='btn_next']").click(function(){
            biz_description_images.next()
        });

        $("#sel_city").change(function(){
            var sel = $(this);
            city_selected(sel);
        });
        city_selected($("#sel_city"));

        $("#btn_clean_feeds").click(function(){
            ret = confirm("Do you confirm to clear all selected items?");

            if (ret) {
                clear_current_feeds($("select#sel_city option:selected").attr('feed_tag'));
            }
        });

        $("#btn_feeds_select").click(function(){
            ret = confirm("Do you confirm to add items?");
            if(ret) {
                select_feeds($("select#sel_city option:selected").attr('feed_tag'));
            }
        });

        console.info("init_page. ok");
    }

    init_page();
</script>
<script>
    $(function () {
        $('#query_date_from').datetimepicker({
            format: "YYYY-MM-DD",
            showClear: true
        });
        $('#query_date_to').datetimepicker({
            format: "YYYY-MM-DD",
            showClear: true
        });
        $("#query_date_from").on("dp.change", function (e) {
            $('#query_date_to').data("DateTimePicker").minDate(e.date);
        });
        $("#query_date_to").on("dp.change", function (e) {
            $('#query_date_from').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
