
push_action_click = () ->
    #console.log('balabalabala')
    $('select#push_action').on 'click', ->
        action = $(this).children('option:selected').val()
        action_param = push_action_params[action]
        if action_param
          if typeof(push_action_params_default_key) != "undefined" and push_action_params_default_key == action
              $('input#push_action_param').attr('placeholder', action_param).attr('required', 'required').val(push_action_params_default_value).removeClass('hidden')
          else
              $('input#push_action_param').attr('placeholder', action_param).attr('required', 'required').val('').removeClass('hidden')
        else
            $('input#push_action_param').addClass('hidden').removeAttr('required').removeAttr('placeholder').val('')

height_scroll_with_title = () ->
    other_height = 15
    if $('.height-scroll').length != 0
        $(document.body).css('overflow', 'hidden')
    $('.height-scroll-title').each () ->
        other_height += $(this).height()
        $('hr').each () ->
            other_height += 40
    $('.height-scroll').css('overflow-y', 'auto').css('overflow-x', 'hidden').css('height',
            (window.document.documentElement.clientHeight - $('.navbar-fixed-top').height() - other_height) + 'px')

user_clear_portrait_button = () ->
    html_text = '<button id="user_clear_portrait_button" class="btn btn-xs btn-primary" style="position: absolute; right: 5px; top: 5px; z-index: 30;">ClearPortrait</button>';
    $('.user-portrait').each () ->
        user_portrait_url = $(this).find('img').attr('src');
        if (user_portrait_url.search(/person-head_magick\.jpg$/i) == -1)
            $(this).append(html_text)
            $(this).children('button#user_clear_portrait_button').on 'click', () ->
                is_confirm = confirm("Press OK to confirm.")
                if is_confirm
                    user_id = $(this).parent().data('user-id')
                    ajax_timeout = <%= Settings.AJAX.Timeout %>
                    user_portrait_image_tag = $(this).parent().find('img')
                    clear_portrait_button_tag = $(this)
                    console.log(user_id)
                    $.ajax({
                        url: "/users/ajax.json",
                        type: "GET",
                        data: {fn: 'clear_portrait', id: user_id},
                        cache: false,
                        timeout: ajax_timeout,
                        success: (data) ->
                            console.log(data)
                            portrait_url = data.url
                            if data.status == 'ok'
                                console.log(portrait_url)
                                user_portrait_image_tag.attr('src', portrait_url)
                                clear_portrait_button_tag.remove()
                        error: (xhr, status, error) ->
                            alert(status + '.Please try again.')
                    })

$(document).on 'page:change', ->
#  Discard the side nav bar
#  $('#menu').metisMenu({toggle: false})

  $('#backToTop').on 'click', (e) ->
    $('html, body').animate({scrollTop: 0}, 300)

  $('select[id ^= "registered_time_"]').on 'click', ->
    if $('select#registered_time_type').val() == '' and $('select#registered_time_value').val() == '' and $('select#registered_time_unit').val() == ''
      $('select#registered_time_type').removeAttr('required');
      $('select#registered_time_value').removeAttr('required');
      $('select#registered_time_unit').removeAttr('required');
    else
      $('select#registered_time_type').attr('required', 'required');
      $('select#registered_time_value').attr('required', 'required');
      $('select#registered_time_unit').attr('required', 'required');

  $('input[name="immediate"]').on 'click', ->
    if $(this).attr('value') == "0"
      $('div#select_datetime').removeClass('hidden')
    else
      $('div#select_datetime').addClass('hidden')

  $('#change_weight_btn > a').click (e) ->
    e.preventDefault()
    if $(this).text() == "Change"
      weight = $('#display_weight').text()
      $('#change_weight > input#weight').val(weight)
      $('#display_weight').addClass "hidden"
      $('#change_weight').removeClass "hidden"
      $(this).text("Cancel")
    else
      $('#change_weight').addClass "hidden"
      $('#display_weight').removeClass "hidden"
      $(this).text("Change")

  $('#change_weight > input#weight').on 'input', ->
    value_string = $(this).val().trim()
    weight_max = <%= Settings.WEIGHT.Max %>
    weight_min = <%= Settings.WEIGHT.Min %>
    if value_string == ''
      $('#save_weight').attr('disabled', 'disabled')
      $(this).attr('style', 'padding: 0;')
    else
      value = parseInt(value_string)
      if not isNaN(value) and value <= weight_max and value >= weight_min
        $('#save_weight').removeAttr('disabled')
        $(this).attr('style', 'padding: 0;')
      else
        $('#save_weight').attr('disabled', 'disabled')
        $(this).attr('style', 'padding: 0; border: 1px solid red')

  $('input#is_with_push').on 'click', ->
    if $(this).attr('checked')
      $(this).removeAttr('checked');
      $('div#push_content_block').addClass('hidden');
      $('select#push_type').removeAttr('required');
      $('input#push_content').removeAttr('required');
      $('select#push_action').removeAttr('required');
      $('input#push_action_param').removeAttr('required');
    else
      $(this).attr('checked', 'checked');
      $('select#push_type').attr('required', 'required');
      $('input#push_content').attr('required', 'required');
      $('select#push_action').attr('required', 'required');
      $('div#push_content_block').removeClass('hidden');
      if $('input#push_action_param').hasClass('hidden')
        $('input#push_action_param').removeAttr('required');
      else
        $('input#push_action_param').attr('required', 'required');

  $('input#is_with_email').on 'click', ->
    if $(this).attr('checked')
      $(this).removeAttr('checked');
      $('div#email_content_block').addClass('hidden');
      $('input#email_subject').removeAttr('required');
    else
      $(this).attr('checked', 'checked');
      $('input#email_subject').attr('required', 'required');
      $('div#email_content_block').removeClass('hidden');

  $('select#system_message_action').on 'click', ->
    action = $(this).children('option:selected').val()
    action_param = system_message_action_params[action]
    if action_param
      $('input#system_message_action_param').attr('placeholder', action_param).attr('required', 'required').removeClass('hidden')
    else
      $('input#system_message_action_param').addClass('hidden').removeAttr('required').removeAttr('placeholder')
    if action == 's2'
        console.log('s2')
        if $('#push_action_box').data('with-banner') == 0
            $('#push_action_box').data('with-banner', 1)
            $('#search_with_banner_upload_image').removeClass('hidden');
            $('#push_action_box').text('')
            $('#tmpl_push_action_with_banner').tmpl().appendTo('#push_action_box')
    else
        console.log('not s2')
        if $('#push_action_box').data('with-banner') == 1
            $('#push_action_box').data('with-banner', 0)
            $('#search_with_banner_upload_image').addClass('hidden');
            $('#push_action_box').text('')
            $('#tmpl_push_action_without_banner').tmpl().appendTo('#push_action_box')
            push_action_click()

  push_action_click()

$(document).on 'page:fetch', ->
    #$('div.screen-overlay').removeClass('hidden');
    ajax_loadding();

$(document).on 'page:receive', ->
    #$('div.screen-overlay').addClass('hidden');
    ajax_load_complete();

$(document).ajaxSend (evt, request, settings) ->
    #$(".screen-overlay").removeClass('hidden');
    ajax_loadding(request);

$(document).ajaxComplete (event, request, settings) ->
    #$(".screen-overlay").addClass('hidden');
    ajax_load_complete(request);

$(document).on 'ready page:load', ->
    height_scroll_with_title()
    user_clear_portrait_button()

$(window).resize () ->
    height_scroll_with_title()

#$(document).on "ready page:load", ->
#  $('table.wice-grid').DataTable({
#    "scrollX": true,
#    "bPaginate": false,
#    "bFilter": false,
#    "bSort": false,
#    "dom": '<"top">t<"bottom"><"clear">'
#  });
