<div class="modal fade" id="operatorWindow" tabindex="-1" role="dialog"
     aria-labelledby="operatorWindowLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag smart_review_bk_item_assign_path(@bk_item), method: :post, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="operatorWindowLabel">
              Assign To
            </h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <% @operators.each do |operator| %>
                    <div class="col-md-6">
                      <label>
                        <%= radio_button_tag "operator_id", operator.id %>
                        <%= operator.username %>
                      </label>
                    </div>
                <% end %>
              </div>
            </div>
            <div class="form-group">
              <%= text_area_tag 'reason', nil, required: true, class: "form-control", placeholder: 'Please input assign reason ...' %>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Confirm", class: 'btn btn-md btn-primary' %>
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
