
<style>
  .img_audit_item_info{
    padding:5px;position:absolute;left:0px;bottom:00px;height:60px;width:100%;

  }
</style>
<div class="container-fluid" style="padding:0px">
  <div class="row smart_review" style="margin: 2px">
    <div class="col-sm-12" id="main_view" style="padding:2px"></div>

    <script id="tmpl_smart_view" type="text/x-jquery-tmpl">
        <div style="padding:2px;" class="panel panel-default">
          <div style="width:100%;" class="panel-heading">
            <h4 class="page_title">Image Audit</h4>
            <span id="menu_all_pending">All pending</span> (<span id="all_pending_cnt">-</span>) :
            <span id="menu_rest_pending">Rest pending</span> (<span id="rest_pending_cnt">-</span>) /
            Audit operators:[<span id="audit_operators"></span>]

            <span id="loading" style="display:none" def_title="loading..." err_title="req error">loading...</span>
          <div style="margin-top:3px">
            <span>Recent Executed:</span>
            <span id="last_takedown_list"></span>
          </div>
          </div>

          <div id="list_body" style="margin:1px">
          </div>
          <div style="clear:both;"></div>
          <hr>
          <div class="pagination" style="width:100%;display:inherit;height:60px;margin:2px">
            <div style="height:30px;">
            <select id="list_order">
            <option value="asc">Oldest First</option>
            <option value="desc" selected>Newest First</option></select>
            <span style="float:right;margin-right:5px">
                items count:<span id="page_items_count">-</span> /
                images count:<span id="page_images_count">-</span>
            </span>
            </div>
            <div>

            <a href="#" id="pass_imgs" class="btn-primary btn-lg">Pass</a>
            <a href="#" id="pass_fetch_imgs" class="btn-primary btn-lg">Pass & Fetch to me</a>
            <a href="#" id="fetch_imgs" class="btn-primary btn-lg">Fetch to me</a>
            <a href="#" id="fetch_imgs_b" class="btn-danger btn-lg">Fetch to me</a>
            </div>

          </div>
        </div>
    </script>

    <script id="tmpl_image_item" type="text/x-jquery-tmpl">

        {{each images}}
        <div class="img_item" item_id="${item_id}">
            <img act='zoom_img' style=""  title='click to zoom' class="sub_img"
                src='${get_img_w($value,200)}' orig_url='${get_img_w($value,600)}'  title='${title}'></img>

            <div class="img_audit_item_info" style="background:${show_user_target(item_id)}">
                <div><span><a href="/products/${id}" target="_blank">id:${item_id}</a></span></div>
                <div>
                <span style="float:right">
                    <select act='selTaskType' style="width:100px">
                        <option value="-1">Select</option>
                        <option value="Image-PS">Image-PS</option>
                        <option value="Image-not actual item">Image-not actual item</option>
                        <option value="Image-screenshots">Image-screenshots</option>
                        <option value="Image-Other(Smart Image)">Image-Other</option>
                    </select>
                    <button act="btnExecTask" item_id="${item_id}" title='${title}' start_time="${pending_review_time_utc}">Execute</button>
                    <!--
                    <input name='chkRightDown' id="chk_id_${item_id}" type="checkbox" value="${item_id}"/>
                    <button act="btnRightDown" item_id="${item_id}" title='${title}'>set weight=1</button>
                    -->
                </span>
                <div id="take_weight_msg"></div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <script id="tmpl_operators" type="text/x-jquery-tmpl">
        <button act='btn_operator' class="btn btn-default" operator_id="${id}">
            <span id="menu_op_id_${id}" op_id="${id}">${username}</span><span class="op_cnt">(${item_cnt})</span>
        </button>
    </script>

    <script>

        var __ga_category = "Smart Image";
        var __ga_page_or_data_loaded = __ga_set_event_time()

        var smart_review_host = "/smart_review";
        var m_curr_req_type = "";

        var approve_url="<%= ajax_products_path(fn: "approve_window")%>";
        var approve_risk_url="<%= ajax_products_path(fn: "approve_risk_window")%>";
        var goto_task_url="<%= item_tasks_path({"grid"=>{"f"=>{"processor"=>"system","state"=>[Settings.ITEM_TASK_STATE.Created]}}})%>";

        var time_out = 25000;//<%= Settings.AJAX.Timeout %>
        var operator_id = '<%=session[:current_admin_id]%>';
        var operator_name = '<%=session[:current_admin_username]%>';

        var current_op_id = '<%=session[:current_admin_id]%>';

        var fetch_size = 100;
        var limit = fetch_size;

        var req_smart_review_data_start = false

        var current_operator_id = operator_id

        function get_img_w(img , w){
            var sss = "/image/upload/";
            return img.replace(sss,sss+"w_"+w+"/");  //",h_"+w+"
        }

        var last_item_id = ""
        var last_color = ""
        var item_colors = ['#FFE45C','#a1882b','#ffefc6','#8AC007','#808000']
        var tm_item_colors = []

        function show_user_target(item_id){

            if(tm_item_colors.length==0){
                tm_item_colors = item_colors.concat()
            }
            //console.info(">>>"+item_id+";"+last_item_id)
            if (last_item_id==item_id){
                //console.info("==="+item_id)
                col = last_color
            }else{
                //console.info("!!!"+item_id)
                col = tm_item_colors.pop()

                last_item_id=item_id
                last_color =col
            }
            //console.info("col:"+col)
            return col
        }

        function init_loading(){
            $(document).ajaxSend(function () {

                $("#loading").hide();
                $("#loading").text($('#loading').attr('def_title'));
                $("#loading").show();

                //console.info($("#loading"))

            });
            $(document).ajaxSuccess(function () {
                $("#loading").fadeOut("slow");
                $("#loading").text('');
            });
            $(document).ajaxError(function () {
                $("#loading").text($('#loading').attr('err_title'));
            });
        }
        var sel_list_order=null;

        function init_smart_view() {

            console.info("init_view_act");
            init_loading();

            $("#main_view").html("")
            $("#tmpl_smart_view").tmpl({}).appendTo("#main_view");

            show_images();

            pagination_acts(true , true);

            sel_list_order = sys_module_init_params_cahce().init("baudit_params_imgs_order","list_order");
            $("#list_order").change(function(){
                sel_list_order.setNewVal();
            })
        }

        function show_smart_review_data(data) {
            $("#list_body").html("");


            if (data.length == 0) {
                $("#list_body").html("<div style='margin:5px'>No images on you.</div>")
                $("#page_items_count").text(0)
                $("#page_images_count").text(0)
                pagination_acts(false , true);

                return
            }

            pagination_acts(false , false);


            $("#tmpl_image_item").tmpl(data).appendTo("#list_body");

            $("img[act='zoom_img']").click(function () {
                window.open($(this).attr('orig_url'));
            });

            var page_images_count = $(".img_item").size()
            var page_items_count = data.length
            $("#page_items_count").text(page_items_count)
            $("#page_images_count").text(page_images_count)

            //act_takedown();
            act_quicktask();

            $("#backToTop").click()

        }
        function act_quicktask(){

            $("button[act='btnExecTask']").click(function(){

                var oThis = $(this);
                var item_id = oThis.attr("item_id")
                var title = oThis.attr("title")
                var start_time = oThis.attr("start_time")

                //__ga_send_diff(__ga_category,"Execute Rule",operator_name,start_time);

                oThis.parent().parent().find("#take_weight_msg").text("")

                var task_type = oThis.parent().find("select").val()
                if(task_type && task_type!="-1"){

                    var url = smart_review_host + "/tasks/"+item_id+"/quick_task_exec.json";
                    req_post_send(url, {id: item_id,"operator_id":operator_id , "task_type":task_type},function(){
                        oThis.text("Sending...")
                    },function(){

                        __ga_send_diff(__ga_category,"Execute Rule",operator_name,start_time);

                        // 隐藏加权商品
                        $("div[item_id='"+item_id+"']").remove();//.hide()
                        show_last_takedown_list(item_id, title);

                    },function(){
                        oThis.text("Error!")
                    })
                }else{
                    oThis.parent().parent().find("#take_weight_msg").text("Please select task type!")
                }

                return false
            })
        }
/*
        function act_takedown(){

            $("button[act='btnRightDown']").click(function(){

                var oThis = $(this);
                var item_id = oThis.attr("item_id")
                var title = oThis.attr("title")

                var oBoxs = oThis.parent().find("#chk_id_"+item_id+":checked")
                if(oBoxs.length==1){

                    var url = smart_review_host + "/bk_images/"+item_id+"/right_down.json";
                    req_post_send(url, {id: item_id,"operator_id":operator_id},function(){
                        oThis.text("Sending...")
                    },function(){
                        // 隐藏加权商品
                        $("div[item_id='"+item_id+"']").remove();//.hide()

                        show_last_takedown_list(item_id, title);

                    },function(){
                        oThis.text("Error!")
                    })
                }else{
                    //alert("Please click checkbox!")
                    oThis.parent().parent().find("#take_weight_msg").text("Please select checkbox first!")
                }

                return false
            })
        }
*/
        function show_last_takedown_list(id , title){
            var last_num = $("#last_takedown_list").find("a").size()
            console.info(last_num)
            if(last_num>=10){
                console.info("remove="+last_num)
                $("#last_takedown_list:first-child").remove()
            }
            $("#last_takedown_list").append("<a href='/products/"+id+"' target='_blank'>"+id+"</a>")
        }

        //current_op_id
        function get_stat_info(op_id) {
            var url = smart_review_host + "/bk_images/stat_info.json";
            var req_data = {"operator_id":op_id,"limit":limit};
            $.get(url, req_data, function (res, textStatus, XMLHttpRequest) {

                console.info(res)
                //if (!res.data) {
                //    $("#list_no_found").html("query no found!")
                //}
                var res_data = res.data;

                $("#all_pending_cnt").text(res_data.all_pending_cnt)
                $("#rest_pending_cnt").text(res_data.rest_pending_cnt)

                $("#audit_operators").html("")
                $("#tmpl_operators").tmpl(res_data.operators).appendTo("#audit_operators");

                act_op()
                show_current_op(op_id);
            });
        }

        function act_op(){
            $("button[act='btn_operator']").click(function(){

                var oThis = $(this);
                var op_id = oThis.attr("operator_id");

                current_op_id = op_id;
                show_images(op_id);
                return false
            })
        }

        function show_images(op_id) {

            if(op_id){}
            else{
                op_id = operator_id
            }
            req_smart_review_data("images_data" ,{"operator_id":op_id});
        }

        function req_smart_review_data(type ,req_ext ,offset) {

            if(!offset){
                offset = 0
            }

            var url = smart_review_host + "/bk_images.json";
            var req_data = {'fn': type,'list_order':$("#list_order").val()};
            if (req_ext) {
                dict_merge(req_data , req_ext)
            }
            dict_merge(req_data , {'offset':offset,"limit":limit})

            if (req_smart_review_data_start){
                console.info("req_smart_review_data_start="+req_smart_review_data_start)
                return
            }
            req_smart_review_data_start = true
            console.info(req_data)
            $.get(url, req_data, function (data, textStatus, XMLHttpRequest) {

                show_smart_review_data(data['data']);



                __ga_set_event_time("__ga_page_or_data_loaded")

                if (current_op_id) {
                    setTimeout(function(){
                        get_stat_info(current_op_id);
                    },500)
                }

                req_smart_review_data_start = false
            });
        }

        function show_current_op(op_id){

            console.info("show_current_op="+op_id)

            if ($("button[act='btn_operator']").length==0){
                current_op_id = operator_id;
            }else{
                $("button[act='btn_operator']").each(function(index,it){
                    if (op_id==$(it).attr("operator_id")){
                        $(it).addClass("current")
                        current_op_id = op_id;
                    }
                })
            }

        }

        function pagination_acts(init , no_data){

            if (no_data){
                $("#fetch_imgs").show()
                $("#fetch_imgs_b").hide()

                $("#pass_imgs").hide()
                $("#pass_fetch_imgs").hide()
            }else{

                if(current_op_id!=operator_id) {
                    $("#fetch_imgs").hide()
                    $("#fetch_imgs_b").show()

                    $("#pass_imgs").show()
                    $("#pass_fetch_imgs").hide()
                }else{
                    $("#fetch_imgs").hide

                    ()
                    $("#fetch_imgs_b").hide()

                    $("#pass_imgs").show()
                    $("#pass_fetch_imgs").show()
                }
            }



            if (init){
                $('#pass_imgs').click(function () {
                    pass_or_next(false);
                    sel_list_order.setNewVal();

                    __ga_send_diff(__ga_category,"Pass",operator_name,__ga_page_or_data_loaded);

                    return false
                })

                $('#fetch_imgs').click(function () {
                    pass_or_next(true);
                    sel_list_order.setNewVal();

                    return false
                })
                $('#fetch_imgs_b').click(function () {
                    pass_or_next(true);
                    sel_list_order.setNewVal();

                    return false
                })
                $('#pass_fetch_imgs').click(function () {
                    pass_or_next(true);
                    sel_list_order.setNewVal();

                    return false
                })
            }

        }

        function pass_or_next(is_fetch_imgs){
            // todo 标记没问题的图片, set_items_imgs_ok
            var ids = [];
            $(".img_item").each(function(it,data){
                //console.info(data)
                ids.push($(data).attr("item_id"))
            })
            console.info(ids)

            var url = smart_review_host + "/bk_images/set_items_imgs_pass.json";
            req_post_send(url,{item_ids:ids,"operator_id":current_op_id},null,function(res) {

                get_stat_info();

                if (is_fetch_imgs) {

                    // todo 加载下一批数据，fetch_img_items
                    var url = smart_review_host + "/bk_images/fetch_img_items.json";
                    req_post_send(url, {
                        "operator_id": operator_id,
                        'list_order': $("#list_order").val()
                    }, null, function (data) {

                        __ga_send_diff(__ga_category,"Fetch",operator_name,__ga_page_or_data_loaded);

                        $("#list_body").html("");
                        setTimeout(function () {
                            show_images();
                        }, 1000)
                    })
                }else{
                    $("#list_body").html("");
                }
            })
        }

        init_smart_view();
    </script>
  </div>
</div>
