<div class="container-fluid" style="padding:0px">
  <div class="row smart_review" style="margin: 5px">
    <div class="col-sm-2">
        <div id="left_menu">
          <div style="border-bottom: #cc7e20 5px solid;"><h4 class="page_title">Smart Audit</h4></div>
          <div class="left_menu_item">
            <a id="btnSystemTask" href="#" target="_blank" class="btn btn-default btn_p100 left_menu_item">System task
            <span class="op_cnt">(<span id="task_cnt">-</span>)</span></a></div>
          <div class="left_menu_item">
            <a id="btnImgOtherTask" href="#" target="_blank" class="btn btn-default btn_p100 left_menu_item">Image-Other(Smart Image)

              <span class="op_cnt">(<span id="img_other_task_cnt">-</span>)</span></a></div>

          <div style="border-bottom: #99cc00 1px solid;">
            <a href="/smart_review/bk_images?t=3" class="btn left_menu_item" >
            <span id="menu_all_pending_img">All pending for <br>image check</span>
            <span class="op_cnt">(<span id="all_pending_img_cnt">-</span>)</span></a></div>
          <div  class="left_menu_item" style="padding:5px;border-bottom: #99cc00 1px solid;">
            <!--<a id="btnAllPendingForDescriptionCheck" href1="#" class="btn btn-default btn_p100" ></a>-->
            <span id="menu_all_pending_desc">All pending for <br>description check</span>
            <span class="op_cnt">(<span id="all_pending_desc_cnt">-</span>)</span></div>
          <div class=""><a id="btnRestPending" href="#" class="btn btn-default btn_p100 left_menu_item">
            <span id="menu_rest_pending">Rest pending</span>
            <span class="op_cnt">(<span id="rest_pending_cnt">-</span>)</span></a></div>
          <br>
          <div style="text-align: left;"><b>Operators:</b></div>
          <div id="operators">
            init...
          </div>
          <br>
          <button id="btnFetchN" class="btn-primary btn-lg">Fetch <span id="fetch_size_text">-</span> to me </button>
          <div id="loading_fetch"></div>
          <hr>
          <!--<div><a id="btnDoubleCheck" href="#" class="btn btn-default btn_p100" ><span id="menu_double_check">Double check</span> (<span id="check_cnt">-</span>)</a></div>-->
          <div><a id="btnTodayCheck" href="#" class="btn btn-default btn_p100" ><span id="menu_today_check">24hours check</span> (<span id="today_check_cnt">-</span>)</a></div>

        </div>
    </div>
    <div class="col-sm-10" id="main_view" style="padding: 3px">

    </div>
    <script id="tmpl_smart_view" type="text/x-jquery-tmpl">
        <div style="padding:0px;" class="panel panel-default">
          <div style="width:100%;" class="panel-heading">
            <span id="current_operator"></span>
            <span id="loading" style="display:none" def_title="loading..." err_title="req error">loading...</span>
          </div>
          <!--<table style="width:100%;" class="table table-striped smart_table">
            <tr>
              <th style='width:260px'>Item pictures</th>
              <th style=''>Item info</th>
              <th style='width:110px'>Seller info</th>
            </tr>
            <tbody  style="min-height: 100px">

            </tbody>
          </table>-->

          <div id="search_result" class="container-fluid" style="padding:0px"></div>

          <div id="list_no_found" style="margin: 20px"></div>
          <hr>
          <div class="pagination" style="display:inline">
            <a href="#" act="pagination_home" offset="0" class="btn btn-default">1</a>
            <a href="#" act="pagination_next" offset="" class="btn btn-primary" >next</a>

            per page:<span id="pagination_limit"></span>
          </div>

        </div>
    </script>

    <script id="tmpl_owner_info" type="text/x-jquery-tmpl">
       <div class=info>
          <a href="/users/${id}" target="_blank">
            <img width='100' src='${get_img_w(portrait,100)}'>
              <span class="help-block">Seller:${nickname}</span>
            </img>
          </a>
      </div>
      <table class=info_group><tbody>
        <tr><td>Items:</td><td>${item_total}</td></tr>
        <tr><td>Sold:</td><td>${item_sold_count}</td></tr>
        <tr><td>Listing:</td><td>${item_listing_count}</td></tr>
        <tr><td>Unlisted:</td><td>${item_unlisted_count}</td></tr>
        <tr><td>Unapproved:</td><td>${item_unapproved_count}</td></tr>
        <tr><td>Unavailable:</td><td>${item_unavailable_count}</td></tr>
      </tbody></table>
      <div style="margin:5px">
      {{if risk}}
        <br>
        <br>
        Risk:${risk}
      {{/if}}
      </div>
    </script>

    <script id="tmpl_search_result" type="text/x-jquery-tmpl">
        <div class="row item_line" id="${id}">
          <div class="col-sm-3" style="padding:2px">

          <img act='zoom_img' width='230' title='click to zoom'
                src='${get_img_w(images[0],200)}' style="float:left"
                orig_url='${get_img_w(images[0],600)}'></img><br>
            {{each images}}
              {{if $index>0}}
                <img act='zoom_img' width='110' title='click to zoom' class="sub_img" style="float:left"
                        src='${get_img_w($value,100)}' orig_url='${get_img_w($value,600)}'></img>
              {{/if}}
            {{/each}}
          </div>
          <div class="col-sm-5" style="padding:2px">
            <table class="info_group">
               <tr><td width="100">Title(id:${item_id})</td><td><a href="/products/${id}" target="_blank">${title}</a></td></tr>
               <tr><td>Description</td><td>${desc}</td></tr>
               <tr><td>Category</td><td><span id="field_category_${item_id}">${category}</span>
                    <span act='btn_change_category' class="glyphicon glyphicon-edit pull-right icon-clickable"
                        item_id="${id}"></span>
                </td>
                </tr>
               <tr><td>Brand</td><td>${brand_name}</td></tr>
               <tr><td>Price</td><td>${local_price}</td></tr>
               <tr><td>Location</td><td>${city},${region},${country}</td></tr>
            </table>
            <table class="info_group">
               <tr><td width="100">Offers</td><td>${offer_count}</td></tr>
               <!--<tr><td>Reviews</td><td>${review_count}</td></tr>-->
               <tr><td>Priority</td><td>${audit_priority}</td></tr>
            </table>
            <table class="info_group">
                <tr><td width="100">Status</td><td>${state_txt}</td></tr>
               <tr><td>Edited <br>after review</td><td>${is_edit_after_review}</td></tr>
               <tr><td>Padding <br>review time</td><td>
                ${pending_review_time[0]} minutes ago
                <div id="pending_review_time_${item_id}" utc="${pending_review_time_utc}">
                    <span> ${pending_review_time[1]}</span><br/>
                    <span> ${pending_review_time[2]}</span><br/>
                    <span> ${pending_review_time[3]}</span>
                </div></td></tr>
               <tr><td>Reviewer</td><td>${reviewer}</td></tr>
               <tr><td>Check tag</td><td>${audit_tag}</td></tr>
            </table>

          </div>
          <div class="col-sm-2" style="padding:2px">
            <div class="owner_${user_id}" style="padding:2px;border-radius:4px;"></div>
          </div>
           <div class="col-sm-2" style="padding:2px">
            <div style="height:200px;display:table-cell;vertical-align:middle;width:180px;padding:25px">
              {{if item_task_ids}}
                Task Id:
                {{each item_task_ids}}
                <a href="/item_tasks/${$value}" target="_blank">${$value}</a>
                {{/each}}
              {{else}}
                <div>
                <a id="item_approve" act="approve_btns" item_id="${id}" url='${approve_url}' class="btn-info btn-sm" style="width:180px;width: 100px;display: block;text-align: center;">Approve</a>
                </div>
                <div>
                <a id="item_approve_risk" act="approve_btns" item_id="${id}" url='${approve_risk_url}' class="btn" style="width:180px;width: 100px;display: block;">Approve(Risk)</a>
                </div>
                {{if state==0}}
                    <div style="margin-top:80px">
                    <div>Rule:<select act='sel_task_type' style="width:90px;margin:2px"></select></div>
                    <a type="button" act="btn_exec_task" item_id="${item_id}" title='${title}' class="btn btn-danger">Execute</a>
                    <div id="take_weight_msg"></div>
                    </div>
                {{/if}}
              {{/if}}

            </div>
          </div>
        </div>
    </script>
    <script id="tmpl_operators" type="text/x-jquery-tmpl">
      <div><button act='operators' class="btn btn-default left_menu_item ${show_my_tag(is_my)}" operator_id="${id}">
        <span id="menu_op_id_${id}">${username}</span><span class="op_cnt">(${item_cnt})</span></button>
      </div>
    </script>

    <script>

        var __ga_category = "Smart Audit";
        var __ga_page_or_data_loaded = __ga_set_event_time()

        var smart_review_host = "/smart_review";
        var m_curr_req_type = "";

        var approve_url="<%= ajax_products_path(fn: "approve_window")%>";
        var approve_risk_url="<%= ajax_products_path(fn: "approve_risk_window")%>";
        var goto_task_url="<%= item_tasks_path({"grid"=>{"f"=>{"processor"=>"system"}}})%>";
        var goto_img_other_task_url="<%= item_tasks_path({"grid"=>{"f"=>{"task_type"=>"Image-Other(Smart Image)"}}})%>";
        var change_cat_win_url="<%= ajax_products_path(fn: "batch_modify_category_window") %>";

        var time_out = 25000;  //<%= Settings.AJAX.Timeout %>
        var operator_id = '<%=session[:current_admin_id]%>';
        var operator_name = '<%=session[:current_admin_username]%>';
        var fetch_size = 20;
        var limit = fetch_size;

        function show_my_tag(is_my){
            //console.info("is_my="+is_my)
            if (is_my==true) {
                return 'is_my'
            }
            return ''
        }

        function item_category_modify() {
            $("span[act='btn_change_category']").click(function () {

                console.debug($("#btn_change_category_confirm"))
                //

                var item_id = $(this).attr("item_id");
                var selected_ids = []
                selected_ids.push(item_id)

                $.ajax({
                    url: change_cat_win_url,
                    type: "GET",
                    data: {selected_ids: selected_ids},
                    cache: false,
                    timeout: 15000,
                    success: function (data) {

                        $("body").append($(data))

                        $("div#batchModifyCategory").on('shown.bs.modal', function () {
                            item_category_modify_confirm(item_id)
                        })
                        $("div#batchModifyCategory").on('hidden.bs.modal', function () {
                            $('div#batchModifyCategory').remove();
                        })

                        $("div#batchModifyCategory").modal('show');

                    },
                    error: function (xhr, status, error) {
                        alert(status + '.Please try again.');
                    }
                });

            });

        }

        function item_category_modify_confirm(item_id){
            console.debug("item_category_modify_confirm")

            $("#btn_change_category_confirm").click(function () {

                console.debug("item_category_modify_confirm click")
                var data=$("#form_change_category").serialize();
                var url=$("#form_change_category").attr("action");
                $.ajax({
                    url: url,
                    type: "POST",
                    data: data,
                    cache: false,
                    timeout: 15000,
                    success: function (data) {
                        $("div#batchModifyCategory").modal('hide');
                        // 显示更新后的cat数据
                        var text = $("input[name='category_id']:checked").parent().text().trim();
                        $("#field_category_"+item_id).text(text);
                    },
                    error: function (xhr, status, error) {
                        alert(status + '.Please try again.');
                    }
                });
                return false
            });
        }


        function init_loading(){
            $(document).ajaxSend(function () {
                $("#loading").hide();
                $("#loading").text($('#loading').attr('def_title'));
                $("#loading").show();
            });
            $(document).ajaxSuccess(function () {
                $("#loading").fadeOut("slow");
                $("#loading").text('');
            });
            $(document).ajaxError(function () {
                $("#loading").text($('#loading').attr('err_title'));
            });
        }

        function init_smart_view() {

            console.info("init_view_act");

            $("#main_view").html("")
            $("#tmpl_smart_view").tmpl({}).appendTo("#main_view");
            $("#btnSystemTask").attr("href",goto_task_url);
            $("#btnImgOtherTask").attr("href",goto_img_other_task_url);

            get_home();

            pagination_acts();

            init_loading()

            act_fetch()

            init_task_rules_select()

            __ga_set_event_time()
        }

        var sel_task_type_obj = null
        function init_task_rules_select(){

            if (!sel_task_type_obj){
                console.info("sys_init_selects_remote")
                sel_task_type_obj = sys_init_selects_remote(
                        "select[act='sel_task_type']" , "/smart_review/tasks/get_rules",null, null, true)
            }
            sel_task_type_obj.init();

            act_quick_task();
        }

        function act_quick_task(){

            $("a[act='btn_exec_task']").click(function(){

                var oThis = $(this);
                var item_id = oThis.attr("item_id")

                oThis.parent().parent().find("#take_weight_msg").text("")

                var task_type = oThis.parent().find("select").val()
                if(task_type && task_type!="-1"){

                    var url = smart_review_host + "/tasks/"+item_id+"/quick_task_exec.json";
                    req_post_send(url, {id: item_id,"operator_id":operator_id , "task_type":task_type},function(){
                        oThis.text("Sending...")
                    },function(){
                        remove_item(item_id);

                        var pending_review_time_utc = $("#pending_review_time_"+item_id).attr("utc");
                        __ga_send_diff(__ga_category,"Execute Rule",operator_name,pending_review_time_utc);
                    },function(){
                        oThis.text("Error!")
                    })
                }
                return false
            })
        }

        function act_fetch(){
            $("#btnFetchN").click(function(){

                $("#loading_fetch").show();
                $("#loading_fetch").text("loading...")

                var url = smart_review_host + "/bk_items/fetch_items.json";
                var data = {"operator_id":operator_id,"fetch_size":fetch_size};
                $.get(url, data, function (data, textStatus, XMLHttpRequest) {
                    $("#loading_fetch").text("fetch ok!\n number="+data.res)
                    $("#loading_fetch").fadeOut("slow");

                    req_smart_review_data('data' , {"operator_id":operator_id})
                })
            })
            $("#fetch_size_text").text(fetch_size)
        }

        function act_approve_window() {
            $('a[act="approve_btns"]').click(function () {
                var item_id = $(this).attr("item_id");
                var url = $(this).attr("url");
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {id: item_id, is_remote: true},
                    cache: false,
                    timeout: time_out,
                    success: function (data) {
                        $(data).modal('show');
                    },
                    error: function (xhr, status, error) {
                        alert(status + '.Please try again.');
                    }
                });
            });
        }

        function get_home() {

            get_pending_review_info("pending_review_info" ,operator_id);

            setTimeout(function(){
                req_smart_review_data("data" ,{"operator_id":operator_id});
            },500)
        }
        function remove_item(id){
            $('#search_result > div#'+id).remove();
        }

        function callback_approve_ok(id, is_risk){
            $('.modal.fade').modal('hide');


            get_pending_review_info("pending_review_info");

            console.info("#pending_review_time_"+id)
            var pending_review_time_utc = $("#pending_review_time_"+id).attr("utc")
            if(is_risk=="true") {
                __ga_send_diff(__ga_category,"Approve(Risk)",operator_name,pending_review_time_utc);
            }else{
                __ga_send_diff(__ga_category,"Approve",operator_name,pending_review_time_utc);
            }

            remove_item(id);
        }

        function show_smart_review_data(data) {
            $("#search_result").html("");

            if (data.length == 0) {
                $("#list_no_found").html("query no found!")
            }else{
                $("#list_no_found").html("")
            }

            $("#tmpl_search_result").tmpl(data).appendTo("#search_result");

            $("img[act='zoom_img']").click(function () {
                window.open($(this).attr('orig_url'));
            });

            act_approve_window();

            $("#btnTodayCheck").click(function(){
                console.info("btnTodayCheck")
                req_smart_review_data("today_check")
                return false
            })
            $("#btnDoubleCheck").click(function(){
                console.info("btnDoubleCheck")
                req_smart_review_data("double_check")
                return false
            })
            $("#btnAllPending").click(function(){
                req_smart_review_data("all_pending")
                return false
            })
            $("#btnRestPending").click(function(){
                req_smart_review_data("rest_pending")
                return false
            })

            $("#backToTop").click()

            get_owner_info(data);

            init_task_rules_select()

            item_category_modify();

        }

        function get_pending_review_info(type) {

            if(!type){
                type = "pending_review_info"
            }

            var url = smart_review_host + "/bk_items.json";
            var data = {'fn': type,"operator_id":operator_id,"limit":limit};
            $.get(url, data, function (data, textStatus, XMLHttpRequest) {
                $("#operators").html("");

                if (data.data.length == 0) {
                    $("#list_no_found").html("query no found!")
                }
                //console.info(data.data)
                $("#tmpl_operators").tmpl(data.data).appendTo("#operators");

                $("#task_cnt").text(data.task_cnt)
                if(data.task_cnt>0){
                    $("#btnSystemTask").addClass("btn-warning")
                }else{
                    $("#btnSystemTask").removeClass('btn-default')
                }


                $("#img_other_task_cnt").text(data.img_other_task_cnt)
                if(data.img_other_task_cnt > 0){
                $("#btnImgOtherTask").addClass("btn-warning")
                }else{
                $("#btnImgOtherTask").removeClass('btn-default')
                }


                //$("#check_cnt").text(data.check_cnt)
                $("#today_check_cnt").text(data.today_cnt)

                $("#all_pending_img_cnt").text(data.all_pending_img_cnt)
                $("#all_pending_desc_cnt").text(data.all_pending_desc_cnt)

                $("#rest_pending_cnt").text(data.rest_pending_cnt)

                $('button[act="operators"]').click(function () {
                    var operator_id = $(this).attr('operator_id')
                    console.info("operator_id="+operator_id)
                    req_smart_review_data("data" , {"operator_id":operator_id})
                });
            });
        }

        function get_owner_info(data) {
            console.info("get_owner_info..."+new Date())
            var owner_ids = [];
            var url = smart_review_host + "/users.json";
            data.forEach(function (item) {
                if (owner_ids.indexOf(item['user_id']) == -1) {
                    owner_ids.push(item['user_id']);
                }
            });
            //console.info(owner_ids)
            if (owner_ids.length > 0) {
                $.get(url, {owner_ids: owner_ids}, function (data, textStatus, XMLHttpRequest) {
                    //console.info(data)
                    data.forEach(function (owner) {
                        $(".owner_" + owner.id).each(function () {
                            $("#tmpl_owner_info").tmpl(owner).appendTo(this);
                            if (owner.risk) {
                                $(this).addClass("user-risk");
                            }
                        });
                    });
                });
            }
        }


        var req_smart_review_data_start = false

        function req_smart_review_data(type ,req_ext ,offset) {

            if(!offset){
                offset = 0
            }

            var url = smart_review_host + "/bk_items.json";
            var req_data = {'fn': type};
            console.info(req_data)
            console.info(req_ext)
            if (req_ext) {
                dict_merge(req_data , req_ext)
            }
            console.info(req_data)
            dict_merge(req_data , {'offset':offset,"limit":limit})
            console.info(req_data)
            if (req_smart_review_data_start){
                console.info("req_smart_review_data_start="+req_smart_review_data_start)
                return
            }
            req_smart_review_data_start = true

            $.get(url, req_data, function (data, textStatus, XMLHttpRequest) {

                //console.info(data['meta'])
                $("a[act='pagination_next']").attr("offset", data['meta']['next'].replace("offset=", ""))
                $("a[act='pagination_next']").attr("title", data['meta']['next'])
                $("a[act='pagination_next']").attr("last_req", JSON.stringify(req_data))
                $("a[act='pagination_home']").attr("last_req", JSON.stringify(req_data))

                $("#pagination_limit").text( data['meta']['limit'])



                __ga_set_event_time("__ga_page_or_data_loaded")

                show_smart_review_data(data['data']);
                $("#current_operator").html('');

                var op_id = data['current_operator']['username']
                var op_name = $("#menu_op_id_"+op_id).text()

                var act_name = $("#menu_"+type).text()
                if (!act_name){
                    act_name = "Operator "
                }

                $("#current_operator").text(act_name+">>"+op_name)

                if (operator_id) {
                    //current_operator_id = operator_id

                    setTimeout(function(){
                        get_pending_review_info("pending_review_info");
                    },500)
                }

                req_smart_review_data_start = false

            });

        }

        var current_operator_id = operator_id

        function pagination_acts(){
            $('a[act="pagination_home"]').click(function () {
                var offset = $(this).attr("offset")
                var last_req = JSON.parse($(this).attr("last_req"))
                console.info(last_req)
                req_smart_review_data('data' ,last_req,offset)
                return false
            })
            $('a[act="pagination_next"]').click(function () {
                var offset = $(this).attr("offset")
                var last_req = JSON.parse($(this).attr("last_req"))
                console.info(last_req)

                req_smart_review_data('data' ,last_req ,offset)
                return false
            })
        }
        function get_img_w(img , w){
            var sss = "/image/upload/";
            return img.replace(sss,sss+"w_"+w+"/");  //",h_"+w+"
        }

        init_smart_view();
    </script>
  </div>
</div>

