<% if @is_success_flag %>
callback_approve_ok(<%= @product.id %>,"<%= @is_risk %>");
<% else %>
<% if @product.state == Settings.PRODUCT_STATUSES.Unavailable %>
callback_approve_ok(<%= @product.id %>,"<%= @is_risk %>");
<% end %>
alert('<%= @message %>');
<% end %>
