<%= form_tag process_operation_rule_product_state_path(@product), method: 'post', role: 'form' do %>
    <div class="row col-md-12 center-block form-horizontal">

      <div><br/></div>

      <div class="form-group">
        <%= label_tag "rule_label", "Item Operation Rule: ", class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= label_tag 'rule_name', @rule.name, class: 'control-label' %>
          <%= hidden_field_tag 'rule_id', @rule.id %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "short_message_label", "Short Message: ", class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= text_area_tag 'short_message', @short_message, cols: '60', rows: '2', class: "pull-left" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "message_title_label", "Long Message Title: ", class: 'control-label col-md-3' %>
        <div class="col-md-9">
          <%= text_field_tag 'long_message_title', @long_message_title, size: 80, class: "pull-left" %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag "long_message", "Long Message: ", class: 'control-label col-md-3' %>
        <div class="col-md-7">
          <%= text_area_tag 'long_message', @long_message, cols: '60', rows: '5', class: "pull-left" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-9 col-md-offset-3" >
          <%= check_box_tag 'notify_user', '1', true %>
          <%= label_tag 'Send message' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
          <%= submit_tag "Confirm", class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>