// Place all the styles related to the audit_board/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.audit_board table > tbody > tr > td, .audit_board table > tbody > tr > th{
  border-bottom: #99cc00 1px solid;
  border-left: #99cccc 0px solid;
  padding: 2px;
}
.audit_board span,.audit_board div{
  font-size: 10px;
}
.audit_board .btn {
  padding: 2px 4px;
  font-size: 12px;
  margin: 2px;
}

.audit_board .btn_normal {
  padding: 3px 6px;
  font-size: 15px;
  margin: 2px;
}

.audit_board .btn_p100{
  width:100%
}

.audit_board .panel-heading {
  padding: 5px 10px;
}

.audit_board table td{
  border-left:solid 0px;
  border-right:solid 0px;
}

.audit_board .item_row{
  margin: 2px;
}

.audit_board .user-risk {
  background-color: orange;
}

.audit_board Table .info{
  margin: 5px;
  margin-top: 10px;
  width: 98%;
  border-bottom:solid 5px #add9c0;


}
.audit_board Table .info td{
  border: #99cc00 1px solid;
  padding: 0.1em;
  border-left: #99cccc 0px;
  border-right: #99cccc 0px;
  border-top: #99cccc 0px;
}

.audit_board .smart_table th{
  border: #99cc00 1px solid;
  border-left: #99cccc 0px;
  border-right: #99cccc 0px;
  background-color:#EAA163;
  font-weight:bold;
  line-height: 30px;
}

.audit_board div .info{
  padding: 0.05em;
}
.audit_board Table .imgs td, .audit_board Table .imgs th {
  border: #99cc00 0px solid;
}

.audit_board .is_my{
  border: #99cc00 1px solid;
}

.audit_board .operator_info{
  width:100%;
  text-align:left;

}
.audit_board .operator_info .op_cnt{
  float: right;
}

.audit_board .page_title{
  border-bottom: #99cccc 2px;
}


.audit_board #last_exec_list a{
  margin: 3px;
}

.audit_board .sub_img{
  weight:180px;
}

.audit_board .img_item{
  float:left;border:1px gray solid;
  display:block;margin:5px;
  position:relative;height:430px
}

#audit_operators button.current{
  background-color: #99cccc;
}

.audit_board .item_line{
  margin: 2px;
  border-bottom: #2D21E7 2px solid;

}
.audit_board .info_group{

  margin-top: 10px;
  width: 98%;
  border-bottom:solid 5px #add9c0;
}

@media (max-width: 350px) {
  .container-fluid{
    padding1: 2px;
  }

  .col-md-12{
    padding: 2px;
  }

  .audit_board .sub_img{
    weight:280px
  }
  .audit_board .img_item{
    weight:280px;
    float:left;border:1px gray solid;
    display:block;margin:5px;
    position:relative;height: -1px;
  }
}


.img_audit_item_info{
  padding:5px;position:absolute;left:0px;bottom:00px;height:60px;width:100%;
}

.audit_board .no_data{
  margin:10px;
  font-size: 30px;
}