/**reset **/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/** body **/
.chat {width: 100%;height: 100%;}
.chat_ul {width: 100%;}
.chat_li {width: 100%;text-align: left;margin: 6px 0px;list-style: none;}
.chat_li_item {width: 90%;float: left;background-color: #dcdcdc;padding: 10px 0px;}
.chat_li_item-right {float: right;}
.chat_li_user {}
.chat_user_img {width: 40px;height: 40px;border-radius: 20px;margin: 6px;cursor: pointer;}
.chat_li_body {}
.chat_body_con {min-height: 40px;line-height: 20px;padding: 6px 0px;}
.chat_body_sub {color: #808080;font-size: 12px;}
.chat_img {width: 60px;height: 60px;border-radius: 6px;cursor: pointer;}
.chat_user_img:hover,.chat_img:hover {opacity: 0.5;}