<%= define_grid(@emails_grid,
                hide_submit_button: false,
                hide_reset_button: false) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}, detach_with_id: :id_filter

  g.column name: 'To', attribute: 'to', html: {class: 'col-md-1'}

  g.column name: 'Email Template', attribute: 'email_template_id', ordering: false, html: {class: 'col-md-2'},
           detach_with_id: :email_template_filter do |task|
    link_to(task.email_template.name, templates_email_path(task)) if task.email_template.present?
  end

  g.column name: 'Product IDs', attribute: 'product_ids', filter: false, ordering: false, html: {class: 'col-md-1'}

  g.column name: 'Remarks', attribute: 'remarks', filter: false, ordering: false, html: {class: 'col-md-2'}

  g.column name: 'User Total', attribute: 'user_total', html: {class: 'col-md-1'}

  g.column name: 'Error User Total', attribute: 'error_user_total', html: {class: 'col-md-1'}

  g.column name: 'Status', attribute: 'status', custom_filter: Settings.EMAIL_STATUSES.to_a do |task|
    Settings.EMAIL_STATUSES.invert[task.status]
  end

  g.column name: 'Create Time', attribute: 'created_at', html: {class: 'col-md-1'}, detach_with_id: :create_time_filter

  g.column name: 'Update Time', attribute: 'updated_at', html: {class: 'col-md-1'}, detach_with_id: :update_time_filter

end -%>
