<% if params[:commit] == 'Send'%>

var items = [];
items.push('<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">');
items.push('    <div class="modal-dialog">');
items.push('        <div class="modal-content">');
items.push('            <div class="modal-header">');
items.push('                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">');
items.push('                  &times;');
items.push('                </button>');
items.push('                <h4 class="modal-title" id="myModalLabel">');
items.push('                  Sending Mass Emails');
items.push('                </h4>');
items.push('            </div>');
items.push('            <div class="modal-body">');
<% if @is_success_flag %>
items.push('              <div> <%= @content %> </div>');
<% else %>
items.push('              <div class="text-danger"> <%= @content %> </div>');
<% end %>
items.push('            </div>');
items.push('            <div class="modal-footer">');
items.push('                <button type="button" class="btn btn-default" data-dismiss="modal">');
items.push('                  Close ');
items.push('                </button>');
items.push('            </div>');
items.push('        </div>');
items.push('    </div>');
items.push('</div>');

$(items.join("")).modal('show');
<% end %>

<% if params[:commit] == 'Send for test'%>

var items = [];
items.push('<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">');
items.push('    <div class="modal-dialog">');
items.push('        <div class="modal-content">');
items.push('            <div class="modal-header">');
items.push('                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">');
items.push('                  &times;');
items.push('                </button>');
items.push('                <h4 class="modal-title" id="myModalLabel">');
items.push('                  Sending Test Emails');
items.push('                </h4>');
items.push('            </div>');
items.push('            <div class="modal-body">');
<% if @is_success_flag %>
items.push('              <div> <%= @content %> </div>');
<% else %>
items.push('              <div class="text-danger"> <%= @content %> </div>');
<% end %>
items.push('            </div>');
items.push('            <div class="modal-footer">');
items.push('                <button type="button" class="btn btn-default" data-dismiss="modal">');
items.push('                  Close ');
items.push('                </button>');
items.push('            </div>');
items.push('        </div>');
items.push('    </div>');
items.push('</div>');

$(items.join("")).modal('show');
<% end %>
