<h1>Compose Email</h1>

<hr/>

<div>
  <%= form_tag manual_emails_path, method: :post, remote: true, role: 'form', class: 'form-horizontal' do %>
      <div class="form-group">
        <div class="col-md-offset-2">
          <span class="help-text text-danger">Note: The content with * are required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Type
        </label>

        <div class="col-md-6">
          <%= select_tag 'email[type]', options_for_select(Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.to_a[1..3]), prompt: 'Please select a notification type', required: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          To
        </label>

        <div class="col-md-6">
          <%= ztree_country_tree_tag('email[to]') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Gender
        </label>

        <div class="col-md-6">
          <label class="checkbox-inline">
            <%= check_box_tag 'email[gender][]', Settings.USER_GENDER.Male, true %> Male
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'email[gender][]', Settings.USER_GENDER.Female, true %> Female
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'email[gender][]', Settings.USER_GENDER.Unknown, true %> Unknown
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Registered Time', class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= select_tag 'registered_time[type]', options_for_select(Settings.REGISTERED_TIME_TYPE.to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[value]', options_for_select((1..59).to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[unit]', options_for_select(FmmcFrequencyPeriod.all.map { |fp| [fp.name, fp.id] }.reverse[0..-2]), class: 'select-inline', prompt: '---' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Subject
        </label>

        <div class="col-md-6">
          <%= text_field_tag 'email[subject]', nil, maxLength: 90, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          From
        </label>

        <div class="col-md-6">
          <%= text_field_tag 'email[from]', Settings.FROM_EMAIL_DOMAINS.Promption.Subscirbe, maxLength: 50, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Content
        </label>

        <div class="col-md-6">
          <%= text_area_tag 'email[content]', nil, rows: 20, cols: 50, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :remarks, 'Remarks', class: 'col-md-2 control-label' %>
        <div class="col-md-6">
          <%= text_field_tag 'email[remarks]', nil, class: 'form-control' %>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <%= text_field_tag :test_user_id, nil, placeholder: "User ID for test", class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= submit_tag 'Send for test', id: 'manual_email_test', class: 'btn btn-default btn-block btn-info' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">
          <span class="prompt-required">*</span>
          Start Time
        </label>

        <div class="col-md-10">
          <label class="radio-inline">
            <%= radio_button_tag 'immediate', '1', false, required: true %> Immediately
          </label>
        </div>
        <div class="col-md-offset-2 col-md-10">
          <label class="radio-inline col-md-3">
            <%= radio_button_tag 'immediate', '0', false, required: true %> SetTime(Zone:<%= Time.zone.name %>)
          </label>
        </div>
        <div id="select_datetime" class="col-md-offset-2 col-md-10 hidden" style="top: 5px;padding-left: 35px;">
          <%= select_datetime %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
          <%= submit_tag 'Send', id: 'manual_email_send', data: {confirm: 'Press OK to confirm.'}, class: 'btn btn-md btn-block btn-primary' %>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <%= link_to 'Preview', '#', id: 'manual_email_preview', data: {toggle: "modal", target: "#previewModal"}, class: 'btn btn-md btn-block btn-primary' %>
        </div>
      </div>

  <% end %>

  <div class="modal fade" id="previewModal" tabindex="-1" role="dialog"
       aria-labelledby="previewModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Email Preview
          </h4>
        </div>
        <div class="modal-body" id="emailPreview">

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>

<%= ztree_country_tree_js_tag() %>
