<h2>Compose Good Items</h2>
<hr/>

<div>
  <%= form_tag good_items_manual_emails_path, class: 'form-horizontal', role: 'form', method: :post, remote: true do %>
      <div class="form-group">
        <div class="col-md-offset-3">
          <span class="help-text text-danger">Note: The content with * are required</span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          To(Country)
        </label>

        <div class="col-md-6">
          <%= ztree_country_tree_tag('to') %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Gender
        </label>

        <div class="col-md-6">
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Male, true %> Male
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Female, true %> Female
          </label>
          <label class="checkbox-inline">
            <%= check_box_tag 'gender[]', Settings.USER_GENDER.Unknown, true %> Unknown
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, 'Registered Time', class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= select_tag 'registered_time[type]', options_for_select(Settings.REGISTERED_TIME_TYPE.to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[value]', options_for_select((1..59).to_a), class: 'select-inline', prompt: '---' %>
          <%= select_tag 'registered_time[unit]', options_for_select(FmmcFrequencyPeriod.all.map { |fp| [fp.name, fp.id] }.reverse[0..-2]), class: 'select-inline', prompt: '---' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Email Template
        </label>

        <div class="col-md-6">
          <%= select_tag :email_template, options_from_collection_for_select(@template_options_for_select, 'id', 'name'), class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Subject
        </label>

        <div class="col-md-6">
          <%= text_field_tag :subject, nil, class: 'form-control', maxLength: 90 %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :first_paragraph, "First Paragraph", class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= text_area_tag :first_paragraph, nil, class: 'form-control'%>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Item IDs
        </label>

        <div class="col-md-3">
          <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
        </div>
        <% 4.times.each do %>
            <div class="col-md-3 col-md-offset-3">
              <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
            </div>
            <div class="col-md-3">
              <%= text_field_tag 'product_ids[]', nil, placeholder: 'Item ID', class: 'form-control' %>
            </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= label_tag :remarks, 'Remarks', class: 'col-md-3 control-label' %>
        <div class="col-md-6">
          <%= text_field_tag :remarks, nil, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-4 col-md-offset-3">
          <%= text_field_tag :test_user_id, nil, placeholder: "User ID for test", class: 'form-control' %>
        </div>
        <div class="col-md-2">
          <%= submit_tag 'Send for test', id: 'manual_email_test', class: 'btn btn-default btn-block btn-info' %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">
          <span class="prompt-required">*</span>
          Start Time
        </label>

        <div class="col-md-9">
          <label class="radio-inline">
            <%= radio_button_tag 'immediate', '1', false, required: true %> Immediately
          </label>
        </div>
        <div class="col-md-offset-3 col-md-9">
          <label class="radio-inline col-md-3">
            <%= radio_button_tag 'immediate', '0', false, required: true %> SetTime(Zone:<%= Time.zone.name %>)
          </label>
        </div>
        <div id="select_datetime" class="col-md-offset-3 col-md-10 hidden" style="top: 5px;padding-left: 35px;">
          <%= select_datetime %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-2 col-md-offset-3">
          <%= submit_tag 'Send', id: 'manual_email_send', data: {confirm: 'Press OK to confirm.'}, class: 'btn btn-md btn-block btn-primary' %>
        </div>
      </div>

  <% end %>
</div>

<%= ztree_country_tree_js_tag() %>
