<%= form_for @cron, as: :cron, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <% if @cron.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@cron.errors.size, "error") %></h3>
          <ul>
            <% @cron.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :status, Settings.FMMC_STATUSES,
                     {prompt: 'Please select the status'},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-md-4 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :comment, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :frequency, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :frequency_period_id, FmmcFrequencyPeriod.all.map { |p| [p.name, p.id] },
                     {prompt: 'Please select the frequency'},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :frequency_quantity, class: 'col-md-4 control-label' %>
      <div class="col-md-1">
        <%= f.text_field :frequency_quantity, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :at, class: 'col-md-4 control-label' %>
      <div class="col-md-1">
        <%= f.text_field :at, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tz, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :tz, TZInfo::Timezone.all.map { |t| [t.name, t.name] },
                     {prompt: 'Please select the time zone'},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :task, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.select :task_id, FmmcTask.normal_scope.map { |t| [t.name, t.id] },
                     {prompt: 'Please select the task'},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    fmmc_crons_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>