<h2> Crons </h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <%= link_to "Create", new_fmmc_cron_path, class: "btn btn-md btn-primary" %>
  </div>
</div>


<%= grid(@cron_grid) do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: "Name", attribute: 'name', ordering: false, html: {class: 'col-md-2'}

  g.column name: "Status", attribute: 'status', custom_filter: {Enabled: 1, Disabled: 0},
           html: {class: 'col-md-1'} do |task|
    task.status==1 ? 'Enabled' : 'Disabled'
  end

  g.column name: 'Comment', attribute: 'comment', ordering: false, filter: false, html: {class: 'col-md-2'}

  g.column name: 'Task', attribute: 'name', model: 'FmmcTask', ordering: false, filter: false do |task|
    task.task.name if task.task.present?
  end

  g.column name: 'Edit' do |task|
    link_to 'Edit', edit_fmmc_cron_path(task), class: 'btn btn-sm btn-success'
  end

  g.column html: {class: 'col-md-1'} do |task|
    if task.status == Settings.FMMC_STATUSES.Disabled
      link_to "Enable", enable_fmmc_cron_path(task), class: 'btn btn-md btn-info'
    else
      link_to "Disable", disable_fmmc_cron_path(task), class: 'btn btn-md btn-danger'
    end
  end

end -%>
