// Place all the styles related to the ctrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ctr_items td,.ctr_items th{
  border-bottom: #99cc00 1px solid;
  border-left: #99cccc 1px solid;
  padding1: 0.05em;
}
.ctr_items span,.ctr_items div{
  font-size: 10px;
}
.ctr_items .btn {
  padding: 2px 4px;
  font-size: 12px;
  margin: 2px;
}
.ctr_items .panel-heading {
  padding: 5px 10px;
}
.ctr_items .table>thead>tr>th, .ctr_items .table>tbody>tr>th, .ctr_items .table>tfoot>tr>th,
.ctr_items .table>thead>tr>td, .ctr_items .table>tbody>tr>td, .ctr_items .table>tfoot>tr>td {
  padding: 2px;
}
.ctr_items .sub_img_0{
  /*display: none;*/
}
.ctr_items .item_row{
  margin: 2px;
}

.items .top_menu{
  position:fixed; top: 50px; left:0px;
}

.ctr_items .sub_par {position:relative;width:500px;}
.ctr_items .sub_img {border: 0px red solid;float: right;clear: right;margin-bottom: 6px;}
.ctr_items .sub_img_0 {border: 0px blue solid; float:left;width: 390px;left:0px;top:0px;margin-left: 0px;}
