@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  word-wrap: break-word;
  word-break: break-all;
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}

.wice-grid-container table {
  > thead > tr[class='wice-grid-title-row'] > th,
  > tbody > tr > td {
    text-align: center ! important;
  }
}

label.radio-inline > input[type="radio"], label.checkbox-inline > input[type="checkbox"] {
  margin-top: 2px !important;
}

.select-inline {
  padding: 6px 12px;
  border-radius: 4px;
}

label + div > input[type="checkbox"] {
  margin-top: 8px !important;
}

.clear-search {
  width: 20px !important;
}

.btn-toolbar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-clickable {
  cursor: pointer;
}

.icon-clicked {
  color: #ccc
}

/* fixed the expand and collapse button */
.expand-multi-select-icon, .collapse-multi-select-icon {
  margin-top: 10px;
}

.back-to-top {
  position: fixed;
  opacity: .32;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}

.dropdown-submenu{
  position:relative;
}

.dropdown-submenu > .dropdown-menu
{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
//  -webkit-border-radius:0 6px 6px 6px;
//  -moz-border-radius:0 6px 6px 6px;
//  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover {
  background-color: #cccccc;
}

.dropdown-submenu:hover > .dropdown-menu{
  display:block;
}

.dropdown-submenu > a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
  border-left-color:#ffffff;
}

//.dropdown-submenu .pull-left{
//  float:none;
//}

//.dropdown-submenu.pull-left > .dropdown-menu{
//  left:-100%;
//  margin-left:10px;
//  -webkit-border-radius:6px 0 6px 6px;
//  -moz-border-radius:6px 0 6px 6px;
//  border-radius:6px 0 6px 6px;
//}

// list items by position
.list-item > .item {
  position: relative;
}
.list-item > .item > .item-desc {
  position: absolute;
  padding-left: 360px;
  top: 10px;
}

.list-group > .list-group-item.selected {
  background-color: #cccccc;
}

div.screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#cccccc;
  z-index: 1000;
  opacity:.60;

  p {
    text-align: center;
    margin-top: 25%;
  }
}

//.dataTable thead th {
//  white-space: nowrap;
//}

.table-striped > tbody > tr.item-risk > td, .table-striped > tbody > tr > td.user-risk {
  background-color: orange;
}

.table-striped > tbody > tr.user-risk > td, tbody > tr.user-risk > td {
  background-color: orange;
}

.item-order-image {
  position: relative;
}

.pager > li > a {
  cursor: pointer;
}

span.prompt-required {
  color: red;
}

//.form-control
.datetime-select {
  display: inline-block;
  //  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
