// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glyphicon-image-status-ok {
  font-size: 20px;
  color: #5cb85c;
  border-color: #4cae4c;
}

.glyphicon-image-status-remove {
  font-size: 20px;
  color: #d2322d;
  border-color: #ac2925;
}