<%= form_for push_template, as: 'push', url: loc_url, method: loc_method, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <% if push_template.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(push_template.errors.size, "error") %></h3>
          <ul>
            <% push_template.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :name, class: 'form-control', autofocus: true, autocomplete: 'off', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_area :content, cols: 30, rows: 10, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_area :comment, class: 'form-control', cols: 30, rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :payload, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_area :payload, class: 'form-control', cols: 30, rows: 5 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :title, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :daily_quota, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.text_field :daily_quota, class: 'form-control', autofocus: true, autocomplete: 'off' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :flag, class: 'col-md-3 control-label' %>
      <div class="col-md-5" style="padding-top: 7px">
        <% if push_template.id.nil? %>
            <%= f.radio_button :flag, 1, checked: true %><%= label_tag 'Ring' %>
        <% else %>
            <%= f.radio_button :flag, 1 %><%= label_tag 'Ring' %>
        <% end %>
        <%= f.radio_button :flag, 2 %><%= label_tag 'Vibration' %>
        <%= f.radio_button :flag, 3 %><%= label_tag 'Ring and Vibration' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :notification_type, class: 'col-md-3 control-label' %>
      <div class="col-md-2">
        <%= f.select  :notification_type, Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.to_a, {}, class: 'form-control', require: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-3 control-label' %>
      <div class="col-md-5">
        <%= f.check_box :status %>
        <label>Is Valid?</label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-5">
        <div class="col-md-2">
          <%= f.submit class: "btn btn-md btn-primary" %>
        </div>
        <div class="col-md-offset-7 col-md-2">
          <%= link_to 'Cancel', :back, class: "btn btn-md btn-default" %>
        </div>
      </div>
    </div>

<% end %>
