<%= define_grid(@pushes_grid) do |g|
  g.column name: 'ID', attribute: 'id', html: {class: 'col-md-1'}

  g.column name: 'Name', attribute: 'name', html: {class: 'col-md-2'} do |task|
    link_to task.name, templates_push_path(task), target: '_blank'
  end

  g.column name: 'Notification type', attribute: 'notification_type', html: {class: 'col-md-2'} do |task|
    Settings.USER_SUBSCRIPTIONS.NOTIFICATION_TYPE.invert[task.notification_type] if task.notification_type.present?
  end

  g.column name: 'PUSH TEXT', attribute: 'content', html: {class: 'col-md-2'}

  g.column name: 'Status', attribute: 'status', html: {class: 'col-md-1'},
           custom_filter: Settings.PUSH_TEMP_STATUSES.to_a do |task|
    Settings.PUSH_TEMP_STATUSES.invert[task.status]
    end

  g.column name: 'Created', attribute: 'created_at', html: {class: 'col-md-1'}

  g.column name: 'Updated', attribute: 'updated_at', html: {class: 'col-md-1'}

  g.column html: {class: 'col-md-1'} do |task|
    link_to "Edit", edit_templates_push_path(task), target: '_blank', class: 'btn btn-md btn-primary'
  end

  g.column html: {class: 'col-md-1'} do |task|
    if task.status == Settings.PUSH_TEMP_STATUSES.Disable
      link_to "Enable", enable_templates_push_path(task), class: 'btn btn-md btn-info'
    else
      link_to "Disable", disable_templates_push_path(task), class: 'btn btn-md btn-danger'
    end
  end
end -%>