<h2>PUSH Template List</h2>

<hr/>

<div id="templates_content">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar" role="toolbar">
        <div class="col-md-2 btn-group pull-right">
          <%= link_to 'Add', new_templates_push_path, method: :get, target: '_blank', class: 'btn btn-block btn-primary' %>
        </div>
      </div>
      <%= render "grid" %>
      <%= render_grid @pushes_grid %>
    </div>
  </div>

</div>
