<h2>PUSH Template</h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right col-md-2">
    <%= link_to "Edit", edit_templates_push_path(@push), class: "btn btn-md btn-danger btn-block" %>
  </div>
</div>

<div class="col-md-12">
  <table class="table table-bordered table-hover">
    <tbody>
    <% @push.attributes.each_pair do |key, value| %>
        <tr>
          <th align="right"><%= key.humanize %></th>
          <td>
            <%= push_template_attr_value(@push, key) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
