<div class="col-md-8">
  <%= form_for @category, as: 'category', url: form_url, method: form_method, html: {class: 'form-horizontal', role: 'form'} do |f| %>

      <% if @category.errors.any? %>
          <div class="warning">
                <h2><%= pluralize(@category.errors.size, "error") %> prohibited
                  this category from being saved:</h2>
            <ul>
              <% @category.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.text_field :title, class: 'form-control', maxlength: 50, required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :icon, class: 'col-md-4 control-label' %>
        <div class="col-md-7">
          <%= f.url_field :icon, class: 'form-control', required: true %>
          <div class="progress progress-striped active" style="height: 3px; margin-bottom: 0;">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <a class="btn btn-md btn-default pull-right" onclick="$('input.cloudinary-fileupload').click()">
            <i class="fa fa-upload"></i>
          </a>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :gender, class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.select :gender, options_for_select(Settings.USER_GENDER, @category.gender), {prompt: 'Please select an option'}, required: true, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :weight, class: 'col-md-4 control-label' %>
        <div id="change_weight" class="col-md-8">
          <%= f.text_field :weight, id: 'weight', required: true, class: 'form-control' %>
          <span class="help-block"><%= "Weight value range: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: 'col-md-4 control-label' %>
        <div class="col-md-8">
          <%= f.text_area :description, maxlength: 200, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <%= f.submit id: 'save_weight', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', :back, :class => 'btn btn-default' %>
        </div>
      </div>

  <% end %>
</div>
<div id="preview_image" class="thumbnail col-md-4 <%= 'hidden' if @category.icon.blank? %>">
  <%= image_tag_content_with_options(image_url: @category.icon) if @category.icon.present? %>
</div>

<from>
  <%= cl_image_upload_tag(:image, html: {class: 'hidden', style: 'padding: 6px 0;'}) %>
</from>

<%= cloudinary_js_config %>

<script>
    $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
        if ($('div.progress-bar').hasClass('progress-bar-danger')) {
            $('div.progress-bar').removeClass('progress-bar-danger').addClass('progress-bar-success');
        }
        $('div.progress-bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%');
    });
    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
        $('div#preview_image').html(
                $.cloudinary.image(data.result.public_id,
                        { format: data.result.format, version: data.result.version })
        );
        $('input#category_icon').val(data.result.url);
        $('div#preview_image').removeClass('hidden');
        return true;
    });
    $('.cloudinary-fileupload').bind('cloudinaryfail', function(e, data) {
        $('div.progress-bar').removeClass('progress-bar-success').addClass('progress-bar-danger');
        alert("upload fail!");
    });
</script>
