<h2>Category List</h2>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <a role="button" class="btn btn-default btn-md" href="/categories/treeview"
       data-toggle="tooltip" data-placement="top" title="Show the tree view">
      <span class="glyphicon glyphicon-tree-conifer"></span>
      &nbsp;Tree View
    </a>
  </div>
  <div class="btn-group pull-right">
    <%= link_to 'Add Category', new_category_path, class: 'btn btn-primary btn-md', target: '_blank' %>
  </div>
</div>

<hr/>

<%= grid(@categories_grid) do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: 'Order', attribute: 'order_num', filter: false, html: {class: 'editable-order'}

  g.column name: 'Title', attribute: 'title', ordering: false, html: {class: 'col-md-2'} do |task|
    link_to task.title, category_path(task), target: '_blank'
  end

  g.column name: 'Gender', attribute: 'gender', html: {class: 'col-md-1'} do |task|
    Settings.USER_GENDER.invert[task.gender] if task.gender.present?
  end

  g.column name: 'Status', attribute: 'status', custom_filter: Settings.CATEGORY_STATUSES.to_a, html: {class: 'col-md-1'} do |task|
    Settings.CATEGORY_STATUSES.invert[task.status]
  end

  g.column name: 'Publish Date', attribute: 'publish_date', html: {class: 'col-md-1'} do |task|
    task.publish_date if task.publish_date
  end

  g.column name: 'Parent', attribute: 'parent_id',
           ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    @all_category_for_display[task.parent_id] if task.parent_id.present?
  end

  g.column name: 'Weight', attribute: 'weight', html: {class: 'col-md-1'}

  g.column name: 'Weight Update Time', attribute: 'weight_updated_at', html: {class: 'col-md-1'}

  g.column do |task|
    if task.publish? && !task.draft?
      link_to('Draft', draft_category_path(task),
              data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
              class: 'btn btn-sm btn-danger')
    elsif !task.publish? && task.draft?
      link_to('Publish', publish_category_path(task),
              data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
              class: 'btn btn-sm btn-success')
    end
  end

  g.column do |task|
    if task.invalid?
      link_to('Enable', enable_category_path(task),
              data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
              class: 'btn btn-sm btn-primary')
    else
      link_to('Disable', disable_category_path(task),
              data: {confirm: 'Press OK to confirm.', disable_with: 'Processing...'},
              class: 'btn btn-sm btn-warning')
    end
  end

end -%>

