<h2>Category</h2>

<hr/>

<div class="col-md-8">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right col-md-2">
      <%= link_to "Edit", edit_category_path(@category), class: "btn btn-md btn-danger btn-block" %>
    </div>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered table-hover">
      <tbody>
      <% @category.attributes.each_pair do |key, value| %>
          <tr>
            <th align="right"><%= key.humanize %></th>
            <td>
              <%= category_attr_value(@category, key, value) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="preview_image" class="thumbnail col-md-4 <%= 'hidden' if @category.icon.blank? %>">
  <%= image_tag_content_with_options(image_url: @category.icon) if @category.icon.present? %>
</div>
