<h2>Category Tree</h2>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <a role="button" class="btn btn-default btn-md" href="/categories"
       data-toggle="tooltip" data-placement="top" title="Show the edit view">
      <span class="glyphicon glyphicon-list"></span>
      &nbsp;List View
    </a>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-md-7">
    <%= ztree_category_tree_tag() %>
  </div>
</div>

<%= ztree_category_tree_js_tag(@category_tree_data.to_json) %>
