<h2>Edit System Message Template</h2>

<hr/>

<%= render partial: 'form', locals: {loc_url: templates_system_message_path(@system_message), loc_method: :put,
                                     system_message_template: @system_message} %>