<h2>Create System Message Template</h2>

<hr/>

<%= render partial: 'form', locals: {loc_url: templates_system_messages_path, loc_method: :post,
                                     system_message_template: @system_message} %>
