<%= form_for @schedule, as: 'schedule', url: local_url, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <% if @schedule.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@schedule.errors.size, "error") %></h3>
          <ul>
            <% @schedule.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= hidden_field_tag :from_url, @from_url %>

    <div class="form-group">
      <%= f.label :operator, class: 'col-md-4 control-label' %>
      <div class="col-md-5">
        <% if @schedule.operator.blank? %>
            <%= f.select :operator_id, options_for_select(Admin.review_operators_for_select), {prompt: "Please select an operator"},
                         class: 'form-control', required: true %>
        <% else %>
            <p class="form-control"><%= @schedule.operator.username %></p>
            <%= f.hidden_field :operator_id %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :start_time, class: 'col-md-4 control-label' %>
      <div class="col-md-5">
        <%= f.datetime_select :start_time, {}, class: 'datetime-select', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :end_time, class: 'col-md-4 control-label' %>
      <div class="col-md-5">
        <%= f.datetime_select :end_time, {}, class: 'datetime-select', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :state, class: 'col-md-4 control-label' %>
      <div class="col-md-5">
        <%= f.select :state, options_for_select(Settings.BACKEND_USER.ScheduleStates, @schedule.state),
                     {prompt: 'Please select a state'},
                     class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-5 col-md-5">
        <%= f.submit class: "btn btn-md btn-primary" %>
        <%= link_to 'Cancel', :back, class: "btn btn-md btn-default" %>
      </div>
    </div>

<% end %>
