<h2> Schedule List </h2>

<div class="col-md-10">
  <hr/>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right">
      <%= link_to "Create", new_schedule_path(from_url: schedules_path), class: "btn btn-md btn-primary" %>
    </div>
  </div>

  <%= grid(@schedules_grid) do |g|

    g.column name: "ID", attribute: 'id', html: {class: 'col-md-1'}

    g.column name: "Username", model: 'Admin', attribute: 'username', html: {class: 'col-md-2'} do |task|
      link_to task.operator.username, admin_path(task.operator)
    end

    g.column name: "StartTime", attribute: 'start_time', html: {class: 'col-md-3'}

    g.column name: 'EndTime', attribute: 'end_time', html: {class: 'col-md-3'}

    g.column name: 'State', attribute: 'state', html: {class: 'col-md-1'} do |task|
      Settings.BACKEND_USER.ScheduleStates.invert[task.state]
    end

    g.column do |task|
      link_to 'Edit', edit_schedule_path(task, from_url: schedules_path), class: 'btn btn-danger'
    end

  end -%>
</div>
