<script>

    var operator_id = '<%=session[:current_admin_id]%>';
    var operator_name = '<%=session[:current_admin_username]%>';

</script>

<div class="row">
  <div class="col-md-12">
    <hr/>
  </div>
  <div class="col-md-12">
    <% if @opened_review_tasks.blank? %>
        <% if @product.state != Settings.PRODUCT_STATUSES.Unavailable %>
            <div class="col-md-8 pull-left form-inline">
              <% if @product.state != Settings.PRODUCT_STATUSES.Unapproved %>
                  <%= form_tag create_and_execute_item_tasks_path(product_id: @product.id), id:'form_item_detail_execute', method: 'post', role: 'form' do %>
                      <div class="form-group">
                        <%= label_tag 'has_issue', "Has Issue:  ", class: 'control-label' %>
                        <%= select_tag "operation_rule_id", options_for_select(@operation_rules), prompt: "Please select a rule", class: 'form-control', required: true %>
                        <%= submit_tag "Execute", data: { disable_with: 'Executing ...'}, class: 'btn btn-danger' %>
                      </div>
                  <% end %>
              <% end %>
              <script>
                  function __ga_add_form_onsubmit() {
                      $('#form_item_detail_execute').submit(function () {
                          __ga_send("Item Detail","Execute",operator_name);
                      });
                  }
              </script>
            </div>

            <div class="btn-toolbar col-md-4 pull-right" role="toolbar">
              <div class="btn-group pull-right">
                <% if @product.internal_status != Settings.PRODUCT_INTERNAL_STATUSES.Approve %>
                    <button id="product_approve" class="btn btn-md btn-success">Approve</button>
                    <script>
                        function product_approve_item_window() {
                            $('button#product_approve').click(function () {
                                $.ajax({
                                    url: "<%= ajax_products_path(fn: "approve_window") %>",
                                    type: "GET",
                                    data: {id: <%= @product.id %>},
                                    cache: false,
                                    timeout: <%= Settings.AJAX.Timeout %>,
                                    success: function (data) {
                                        $(data).modal('show');
                                        __ga_send("Item Detail","Approve",operator_name);
                                    },
                                    error: function (xhr, status, error) {
                                        alert(status + '.Please try again.');
                                    }
                                });
                            });
                        }
                    </script>
                <% end %>

                <% if false and @product.internal_status != Settings.PRODUCT_INTERNAL_STATUSES.ApproveRisk %>
                    <button id="product_approve_risk" class="btn btn-md btn-warning">Approve(Risk)</button>
                    <script>
                        function product_approve_item_with_risk_window() {
                            $('button#product_approve_risk').click(function () {
                                $.ajax({
                                    url: "<%= ajax_products_path(fn: "approve_risk_window") %>",
                                    type: "GET",
                                    data: {id: <%= @product.id %>},
                                    cache: false,
                                    timeout: <%= Settings.AJAX.Timeout %>,
                                    success: function (data) {
                                        $(data).modal('show');
                                        __ga_send("Item Detail","Approve(Risk)",operator_name);
                                    },
                                    error: function (xhr, status, error) {
                                        alert(status + '.Please try again.');
                                    }
                                });
                            });
                        }
                    </script>
                <% end %>
              </div>
            </div>
        <% else %>
            <div class="text-center">
              <h4>This item is Unavailable(User deleted)</h4>
            </div>
        <% end %>
    <% else %>
        <label class="col-md-1">
          ReviewTask:
        </label>
        <% @opened_review_tasks.each do |review_task| %>
            <%= link_to "#{review_task.id}", item_task_path(review_task), class: 'col-md-1' %>
        <% end %>
    <% end %>
  </div>
</div>
