<div class="row">
  <div class="col-md-10">
    <h2 style="display: inline-block">Product Detail</h2>
    <a href="<%= Settings.APP_SITE_ITEM_URI_PREFIX + @product.fuzzy_item_id %>" target="_blank"> Go App Site</a>
    <hr/>
  </div>
  <div class="col-md-2"></div>
</div>
