<%= define_grid(@products_grid,
                hide_submit_button: true,
                hide_reset_button: true) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id', detach_with_id: :id_filter do |task|
    link_to(task.id, product_path(task), target: '_blank')
  end

  g.column name: 'Image', attribute: 'image_path', model: 'EntityImage', filter: false,
           html: {class: 'col-md-1'}, ordering: false do |task|
    product_thumb_image_tag(task)
  end

  g.column name: 'Description', attribute: 'desc', filter: false, ordering: false, html: {class: 'col-md-1'}

  g.column name: 'Status', attribute: 'state', custom_filter: Settings.PRODUCT_STATUSES.to_a,
           detach_with_id: :status_filter, html: {class: 'col-md-1'} do |task|
    Settings.PRODUCT_STATUSES.invert[task.state]
  end

  g.column name: 'Category', attribute: 'id', model: 'EntityCategory', html: {class: 'col-md-1'},
           custom_filter: EntityCategory.to_dropdown, detach_with_id: :category_filter do |task|
    link_to(task.categories[0].title, product_path(task, active_tab: 'categories')) if task.categories.present?
  end

  g.column name: 'BrandName', attribute: 'brand_name', detach_with_id: :brand_filter, html: {class: 'col-md-1'}

  g.column name: 'Country', attribute: 'country', detach_with_id: :country_filter, html: {class: 'col-md-1'}

  g.column name: 'Region', attribute: 'region', detach_with_id: :region_filter, html: {class: 'hidden'}

  g.column name: 'City', attribute: 'city', detach_with_id: :city_filter, html: {class: 'col-md-1'}

  g.column name: 'Price', attribute: 'local_price', ordering: false, filter: false, html: {class: 'col-md-1'} do |task|
    task.local_price if task.local_price.present?
  end

  g.column name: 'Owner', attribute: 'id', model: 'EntityUser', detach_with_id: :owner_filter, html: {class: 'col-md-1 owner'} do |task|
    link_to(task.user.is_robot? ? ("(R)" + task.user.id.to_s) : task.user.id.to_s, user_path(task.user), target: '_blank') if task.user
  end

  g.column name: 'Offers', ordering: false, filter: false do |task|
    link_to('0', offers_product_path(task, active_tab: 'offers'), class:'offer_count', id: task.id, target: '_blank')
  end

  g.column name: 'Weight', attribute: 'weight', detach_with_id: :weight_filter

  g.column name: 'EditedAfterReview', filter: false, ordering: false, html: {class: 'col-md-1 edit-after-review'} do |task|
  end

  g.column name: 'Risk', html: {class: 'hidden'} do |task|
    task.risk if task.internal_status == Settings.PRODUCT_INTERNAL_STATUSES.ApproveRisk.to_i
  end

  g.column name: 'FuzzyItemID', attribute: 'fuzzy_item_id', detach_with_id: :fuzzy_item_id_filter, html: {class: 'hidden'}

  g.column name: 'Title', attribute: 'title', ordering: false, detach_with_id: :title_filter, html: {class: 'hidden'}

  # g.column name: 'Brand', attribute: 'brand_id', html: {class: 'hidden'}

  g.column name: 'Censored', attribute: 'internal_status', custom_filter: Settings.PRODUCT_INTERNAL_STATUSES.to_a,
           detach_with_id: :censored_filter, html: {class: 'hidden'} do |task|
    Settings.PRODUCT_INTERNAL_STATUSES.invert[task.internal_status]
  end

  g.column name: 'Robot?', attribute: 'is_robot', model: 'EntityUser', custom_filter: {Yes: 1, No: 0},
           detach_with_id: :is_robot_filter, html: {class: 'hidden'} do |task|
  end

  g.column name: 'Added Time', attribute: 'created_at',detach_with_id: :added_time_filter, html: {class: 'hidden'}

  g.column name: 'Update Time', attribute: 'update_time',detach_with_id: :update_time_filter, html: {class: 'hidden'}

  # 预留给renew time
  # g.column name: 'Renew Time', attribute: '',detach_with_id: :renew_time_filter, html: {class: 'hidden'}

  g.column name: 'Modify Time', attribute: 'modified_at',detach_with_id: :modify_time_filter, html: {class: 'hidden'}

end -%>