<% @product.images.order(is_first: :desc).each_with_index do |image, index| %>
    <div class="col-md-6 thumbnail <%= 'item-order-image' if index > 0 %>">
      <%= image_tag_content_with_options(image_url: image.image_path, alt: image.id) %>
    </div>
<% end %>
<script>
    function product_set_item_first_image() {
        $('.item-order-image').on('mouseenter', function () {
            var html_text = '<button id="set_first_image_button" class="btn btn-primary" style="position: absolute; right: 5px; top: 5px; z-index: 30;">Set First Image</button>';
            $(this).append(html_text);
            $('.item-order-image > button#set_first_image_button').on('click', function () {
                var image_id = $(this).parent().children('img').attr('alt');
                console.log(image_id);
                $.ajax({
                    url: "<%= raw ajax_products_path(fn: 'set_first_image', id: @product.id) %>",
                    type: "GET",
                    data: {"image_id": image_id},
                    cache: false,
                    timeout: <%= Settings.AJAX.Timeout %>,
                    success: function (data) {
                        $('#item-images-content').html(data);
                        product_set_item_first_image();
                    },
                    error: function (xhr, status, error) {
                        alert(status + '.Please try again.');
                    }
                });
            });
        });
        $('.item-order-image').on('mouseleave', function () {
            $(this).children('button#set_first_image_button').remove();
        });
    }
</script>
