<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        &times;
      </button>
      <h4 class="modal-title" id="tagsModifyLabel">
        Modify Tags
      </h4>
    </div>
    <%= form_tag update_tags_product_path, method: :put, remote:true, role: "form" do %>
        <div class="modal-body">
          <div class="form-group">
            <% @tags.each do |t| %>
                <label class="checkbox-inline">
                  <%= check_box_tag "tag_ids[]", t.id, @product_tag_ids.include?(t.id) %>
                  <%= t.title %>
                </label>
            <% end %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Save Changes", class: 'btn btn-primary center-block' %>
        </div>
    <% end %>
  </div>
</div>
