<div class="modal-dialog">
  <%= form_tag loc_url, method: :post, remote: true, role: 'form' do %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title" id="categoriesModifyLabel">
            Modify Categories
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <% @categories.each do |c| %>
                  <div class="col-md-6">
                    <label>
                      <%= radio_button_tag "category_id", c.id, @product_category_id.include?(c.id) %>
                      <%= c.title %>
                    </label>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Confirm", class: 'btn btn-primary btn-md' %>
          <button type="button" class="btn btn-info btn-md" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
  <% end %>
</div>
