<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapsedFilter">
        Filters ( Click to collapse or expand the filter )
      </a>
    </h4>
  </div>
  <div id="collapsedFilter" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row form-group">
        <div class="col-md-1">
          <label>ID</label>
          <%= grid_filter @products_grid, :id_filter %>
        </div>
        <div class="col-md-1">
          <label>OwnerID</label>
          <%= grid_filter @products_grid, :owner_filter %>
        </div>
        <div class="col-md-1">
          <label>Robot?</label>
          <%= grid_filter @products_grid, :is_robot_filter %>
        </div>
        <div class="col-md-4">
          <label>Title</label>
          <%= grid_filter @products_grid, :title_filter %>
        </div>
        <div class="col-md-3">
          <label>Category</label>
          <%= grid_filter @products_grid, :category_filter %>
        </div>
        <!--<div class="col-md-2">-->
        <!--<label>Tag</label>-->
        <!--<%# grid_filter @products_grid, :tag_filter %>-->
        <!--</div>-->
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <label>State</label>
          <%= grid_filter @products_grid, :status_filter %>
        </div>
        <div class="col-md-2">
          <label>Censored</label>
          <%= grid_filter @products_grid, :censored_filter %>
        </div>
        <div class="col-md-2">
          <label>Country</label>
          <%= grid_filter @products_grid, :country_filter %>
        </div>
        <div class="col-md-2">
          <label>City</label>
          <%= grid_filter @products_grid, :city_filter %>
        </div>
        <div class="col-md-2">
          <label>Brand</label>
          <%= grid_filter @products_grid, :brand_filter %>
        </div>
        <div class="col-md-1">
          <label>Weight</label>
          <%= grid_filter @products_grid, :weight_filter %>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2">
          <label>Added Time</label>
          <%= grid_filter @products_grid, :added_time_filter %>
        </div>
        <div class="col-md-2">
          <label>Update Time</label>
          <%= grid_filter @products_grid, :update_time_filter %>
        </div>
        <div class="col-md-2">
          <label>Modify Time</label>
          <%= grid_filter @products_grid, :modify_time_filter %>
        </div>
      </div>

      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
          <button type="button" class="wg-external-submit-button btn btn-md btn-primary" data-grid-name="grid"><%= t :filter %></button>
          <button type="button" class="wg-external-reset-button btn btn-md btn-default" data-grid-name="grid"><%= t :reset %></button>
        </div>
      </div>

    </div>
  </div>
</div>
