<%= define_grid(@products_grid) do |g|

  g.action_column

  g.column name: 'ID', attribute: 'id' do |task|
    link_to(task.id, product_path(task))
  end

  g.column name: 'Title', attribute: 'title', ordering: false, html: {class: 'col-md-3'}

  g.column name: 'Weight', attribute: 'weight', html: {class: 'col-md-1'}

  g.column name: 'Weight Update Time', attribute: 'weight_updated_at', html: {class: 'col-md-2'}

  g.column name: 'Status', attribute: 'state', custom_filter: Settings.PRODUCT_STATUSES.to_a,
           html: {class: 'col-md-1'} do |task|
    Settings.PRODUCT_STATUSES.invert[task.state]
  end

  g.column name: 'Censored', attribute: 'internal_status', custom_filter: Settings.PRODUCT_INTERNAL_STATUSES.to_a,
           html: {class: 'col-md-2'} do |task|
    Settings.PRODUCT_INTERNAL_STATUSES.invert[task.internal_status]
  end

  g.column name: 'Risk', html: {class: 'col-md-2'} do |task|
    task.risk if task.internal_status == Settings.PRODUCT_INTERNAL_STATUSES.ApproveRisk.to_i
  end

end -%>
