<div class="modal fade" id="approve" tabindex="-1" role="dialog"
     aria-labelledby="approveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag product_state_path(@product), method: :post, remote: @is_remote, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="disapproveLabel">
              Approve Product
            </h4>
          </div>
          <div class="modal-body">
            <% if @product.user.present? and @product.user.user_info.present? and @product.user.user_info.internal_status == Settings.USER_INTERNAL_STATUSES.Risk %>
                <div>
                  <div>
                    <p class="col-md-3">UserRisk: </p>

                    <p class="col-md-9">Yes</p>
                  </div>
                  <div>
                    <p class="col-md-3">UserRiskReason: </p>

                    <p class="col-md-9">
                      <%= @product.user.user_info.reason %>
                    </p>
                  </div>
                  <div>
                    <p class="col-md-3">SeeUserDetails: </p>

                    <p class="col-md-9">
                      <%= link_to @product.user.user_info.user_id, user_path(@product.user.user_info.user_id, active_tab: 'info'), target: '_blank' %>
                    </p>
                  </div>
                  <div>
                    <p style="padding-left: 15px;">
                      <%= check_box_tag "clear_user_risk" %>
                      Clear user risk
                    </p>
                  </div>
                </div>
            <% end %>
            <% if product_wice_grid_get_item_ids_edited_after_audit([@product.id]).include?(@product.id) %>
                <div id="change_weight" style="padding-left: 15px;">
                  <%= check_box_tag :is_change_weight, "1", checked: true %>
                  ChangeWeight: From <%= @product.weight %> To
                  <%= text_field_tag :weight, Settings.WEIGHT.Default %>
                  <span class="help-block"><%= "WeightRange: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
                </div>
                <script>
                    $(document).ready(function () {
                        $('#change_weight > input#is_change_weight').on('click', function () {
                            if ($(this).attr('checked')) {
                                $(this).removeAttr('checked');
                                $('#change_weight > input#weight').attr('disabled', 'disabled');
                            } else {
                                $(this).attr('checked', 'checked');
                                $('#change_weight > input#weight').removeAttr('disabled');
                            }
                        });
                        $('#change_weight > input#weight').on('input', function () {
                            var value_string = $(this).val().trim();
                            var weight_max = <%= Settings.WEIGHT.Max %>;
                            var weight_min = <%= Settings.WEIGHT.Min %>;
                            if (value_string == '') {
                                $('#save_weight').attr('disabled', 'disabled');
                                $(this).attr('style', 'padding: 0;');
                            } else {
                                var value = parseInt(value_string);
                                if (!isNaN(value) && value <= weight_max && value >= weight_min) {
                                    $('#save_weight').removeAttr('disabled');
                                    $(this).attr('style', 'padding: 0;');
                                } else {
                                    $('#save_weight').attr('disabled', 'disabled');
                                    $(this).attr('style', 'padding: 0; border: 1px solid red');
                                }
                            }
                        });
                    });
                </script>
            <% else %>
                <% if @product.user.present? %>
                    <% if @product.user.user_info.blank? or @product.user.user_info.internal_status != Settings.USER_INTERNAL_STATUSES.Risk %>
                        <p style="padding-left: 15px;">Do you confirm?</p>
                    <% end %>
                <% end %>
            <% end %>
          </div>
          <div class="modal-footer">
            <%= submit_tag 'Confirm', id: 'confirm_product_approve', class: 'btn btn-md btn-primary' %>
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
