<div class="modal fade" id="approveRisk" tabindex="-1" role="dialog"
     aria-labelledby="approveRiskLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag product_state_path(@product, is_risk: true), method: :post, remote: @is_remote, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="approveRiskLabel">
              Approve Products(Risk)
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= text_area_tag 'risk', nil, class: "form-control", required: true, placeholder: 'Please input reason ...' %>
            </div>
            <div class="form-group">
              <p>
                <%= check_box_tag "set_user_risk", "1", true %>
                Also edit user risk
              </p>
              <div id="set_user_risk_box" style="padding-left: 15px;">
                <p>UserRiskReason:</p>
                <%= text_area_tag 'user_risk', @user_risk, required: true, class: "form-control", placeholder: 'Please input user risk ...' %>
              </div>
              <script>
                  $(document).ready(function () {
                      $('input#set_user_risk').click(function() {
                          if ($(this).attr('checked')) {
                              $('div#set_user_risk_box').addClass('hidden');
                              $('div#set_user_risk_box > textarea').removeAttr('required');
                              $(this).removeAttr('checked');
                          } else {
                              $(this).attr('checked', 'checked');
                              $('div#set_user_risk_box > textarea').attr('required', 'required');
                              $('div#set_user_risk_box').removeClass('hidden');
                          }
                      });
                  });
              </script>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Confirm", class: 'btn btn-md btn-primary' %>
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
