<div class="modal fade" id="batchModifyCategory" tabindex="-1" role="dialog"
     aria-labelledby="batchModifyCategoryLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag categories_new_products_path, id:'form_change_category', method: :post, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
            <h4 class="modal-title" id="batchModifyCategoryLabel">
              Modify Categories
            </h4>
          </div>
          <div class="modal-body">
            <div class="hidden">
              <% @selected_ids.each do |id| %>
                  <%= text_field_tag 'selected_ids[]', id, readonly: true %>
              <% end %>
            </div>
            <div class="row">
              <div class="col-md-12">
                <% @categories.each do |c| %>
                    <div class="col-md-6">
                      <label>
                        <%= radio_button_tag "category_id", c.id %>
                        <%= c.title %>
                      </label>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!--<%= submit_tag "Confirm", class: 'btn btn-primary btn-md' %>-->
            <button type="button" class="btn btn-primary btn-md" id="btn_change_category_confirm">
              Confirm
            </button>
            <button type="button" class="btn btn-info btn-md" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
    <% end %>
  </div>
</div>
