<div class="modal fade" id="batchChangWeight" tabindex="-1" role="dialog"
     aria-labelledby="batchChangWeightLabel" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_tag weight_products_path, method: :post, role: 'form' do %>
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              Change Weight
            </h4>
          </div>
          <div class="modal-body">
            <div class="hidden">
              <% @selected_ids.each do |id| %>
                  <%= text_field_tag 'selected_ids[]', id, readonly: true %>
              <% end %>
            </div>
            <div id="change_weight" class="form-group">
              <%= text_field_tag 'weight', nil, class: 'form-control' %>
              <span class="help-block"><%= "Weight value range: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
            </div>
          </div>
          <div class="modal-footer">
            <%= submit_tag "Confirm", id: 'save_weight', class: 'btn btn-primary btn-md', disabled: true %>
            <button type="button" class="btn btn-info btn-md" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
    <% end %>
    <script>
        $('#change_weight > input#weight').on('input', function () {
            var value_string = $(this).val().trim();
            var weight_max = <%= Settings.WEIGHT.Max %>;
            var weight_min = <%= Settings.WEIGHT.Min %>;
            if (value_string == '') {
                $('#save_weight').attr('disabled', 'disabled');
                $(this).attr('style', 'padding: 0;');
            } else {
                var value = parseInt(value_string);
                if (!isNaN(value) && value <= weight_max && value >= weight_min) {
                    $('#save_weight').removeAttr('disabled');
                    $(this).attr('style', 'padding: 0;');
                } else {
                    $('#save_weight').attr('disabled', 'disabled');
                    $(this).attr('style', 'padding: 0; border: 1px solid red');
                }
            }
        });
    </script>
  </div>
</div>
