var modalPrefix = [
    '<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">',
    '<div class="modal-dialog modal-lg">',
    '<div class="modal-content">',
    '<div class="modal-header">',
    '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>',
    '<h4 class="modal-title">Image List</h4>',
    '</div>',
    '<div class="modal-body">',
    '<div class="row">',
    '<ul class="list-unstyled">'
].join("");

var imagesSize = <%= @product.images.size.to_i %>;
var imageColMd = imagesSize > 1 ? 6 : 12;

var items = [];
<% @product.images.each do |image| %>
items.push('<li class="list-unstyled col-md-' + imageColMd + '">');
items.push('<div class="thumbnail">');
items.push('<%= image_tag_content_with_options(image_url: image.image_path, alt: "Responsive image") %>');
items.push('</div>');
items.push('</li>');
<% end %>

var data = items.join("");

var modalSuffix = [
                        '</ul>',
                    '</div>',
                '</div>',
            '</div>',
        '</div>',
    '</div>'
].join("");

console.log(modalPrefix + data + modalSuffix);


$(modalPrefix + data + modalSuffix).modal('show');



