<div class="col-md-12">
  <h2>Product Weight</h2>

  <hr/>

  <%= form_for '', method: :post do |f| %>
      <%= render 'weight_grid' %>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group pull-right">
          <%= link_to 'Batch Change Weight', '#',
                      data: {toggle: "modal", target: "#batchChangWeight"},
                      class: 'btn btn-md btn-info' %>
        </div>
      </div>

      <%= render_grid @products_grid %>

      <div class="modal fade" id="batchChangWeight" tabindex="-1" role="dialog"
           aria-labelledby="batchChangWeightLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close"
                      data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h4 class="modal-title" id="myModalLabel">
                Change Weight
              </h4>
            </div>
            <div class="modal-body">
              <div id="change_weight" class="form-group">
                <%= text_field_tag 'weight', nil, class: 'form-control' %>
                <span class="help-block"><%= "Weight value range: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-md-offset-1 col-md-4">
                <%= submit_tag "Save Changes", formaction: weight_products_path, id: 'save_weight', class: 'btn btn-primary btn-block', disabled: true %>
              </div>

              <div class="col-md-offset-2 col-md-4">
                <button type="button" class="btn btn-info btn-block" data-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
      </div>
  <% end %>
</div>