<h2>Hot Item List</h2>

<hr/>

<div class="col-md-12">
  <%= form_tag hot_items_products_path, method: :get, class: "form-inline", role: "form" do %>
      <div class="form-group col-md-5">
        <label>From</label>
        <%= date_field_tag "from", @data_from, class: 'form-control' %>
        <label>To</label>
        <%= date_field_tag "to", @date_to, class: 'form-control' %>
      </div>

      <div class="form-group col-md-5">
        <label>Dimension</label>
        <%= select_tag 'dimension', options_for_select(@hot_items_dimensions_for_select, @dimension), class: 'form-control' %>
        <label>Count</label>
        <%= text_field_tag 'count', @limit_count, class: 'form-control' %>
      </div>

      <div class="form-group col-md-1">
        <%= submit_tag 'Submit', class: 'form-control btn btn-default' %>
      </div>
  <% end %>
</div>

<div class="col-md-12" style="margin-top: 20px;">

  <% if @item_pv_and_offer.nil? %>
      <h3 class="text-center text-danger">The time interval of query must be within a month.</h3>
  <% else %>
      <table id="hot_item_table" class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>ItemID</th>
          <th>Image</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>City</th>
          <th>Weight</th>
          <th><%= "(#{@hot_items_dimensions_for_select.keys()[0]}+#{@offer_ratio})/(#{@hot_items_dimensions_for_select.keys()[1]}+#{@pv_ratio})" %></th>
          <th><%= @hot_items_dimensions_for_select.invert[1] %></th>
          <th><%= @hot_items_dimensions_for_select.invert[0] %></th>
          <th>Likes</th>
          <th>WebURL</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <!--ItemID-->
          <th class="search"></th>
          <!--Image-->
          <th></th>
          <!--Description-->
          <th></th>
          <!--Category-->
          <th class="search"></th>
          <!--Price-->
          <th></th>
          <!--City-->
          <th class="search"></th>
          <!--Weight-->
          <th class="search"></th>
          <th></th>
          <th></th>
          <th></th>
          <!--Likes-->
          <th></th>
          <th></th>
        </tr>
        </tfoot>
        <tbody class="text-center">
        <% @item_pv_and_offer.keys().each do |item_id| %>
            <tr>
              <% if @item_pv_and_offer[item_id]['item'].blank? %>
                  <!--ItemID-->
                  <td>item_id</td>
                  <!--Image-->
                  <td></td>
                  <!--Description-->
                  <td></td>
                  <!--Category-->
                  <td></td>
                  <!--Price-->
                  <td></td>
                  <!--City-->
                  <td></td>
                  <!--Weight-->
                  <td></td>
              <% else %>
                  <!--ItemID-->
                  <td><%= link_to(item_id, product_path(item_id), target: '_blank') %></td>
                  <!--Image-->
                  <td><%= product_thumb_image_tag(@item_pv_and_offer[item_id]['item']) %></td>
                  <!--Description-->
                  <td><%= @item_pv_and_offer[item_id]['item'].desc %></td>
                  <!--Category-->
                  <td><%= link_to(@item_pv_and_offer[item_id]['item'].categories[0].title, product_path(@item_pv_and_offer[item_id]['item'], active_tab: 'categories')) if @item_pv_and_offer[item_id]['item'].categories.present? %></td>
                  <!--Price-->
                  <td data-order=<%= @item_pv_and_offer[item_id]['item'].price %>><%= @item_pv_and_offer[item_id]['item'].local_price if @item_pv_and_offer[item_id]['item'].local_price.present? %></td>
                  <!--City-->
                  <td><%= @item_pv_and_offer[item_id]['item'].city if @item_pv_and_offer[item_id]['item'].city.present? %></td>
                  <!--Weight-->
                  <td><%= @item_pv_and_offer[item_id]['item'].weight if @item_pv_and_offer[item_id]['item'].weight.present? %></td>
              <% end %>
              <% if @item_pv_and_offer[item_id]['pv'].present? and @item_pv_and_offer[item_id]['offer'].present? %>
                  <td><%= ((@item_pv_and_offer[item_id]['offer'].offer_count + @offer_ratio).to_f/(@item_pv_and_offer[item_id]['pv'].pv_count + @pv_ratio)).round(3) %></td>
              <% else %>
                  <td></td>
              <% end %>
              <td><%= @item_pv_and_offer[item_id]['pv'].pv_count if @item_pv_and_offer[item_id]['pv'].present? %></td>
              <td><%= @item_pv_and_offer[item_id]['offer'].offer_count if @item_pv_and_offer[item_id]['offer'].present? %></td>
              <% if @item_pv_and_offer[item_id]['item'].blank? %>
                  <!--Likes-->
                  <td></td>
                  <td></td>
              <% else %>
                  <!--Likes-->
                  <td><%= @item_pv_and_offer[item_id]['item'].likes %></td>
                  <td><%= link_to @item_pv_and_offer[item_id]['item'].fuzzy_item_id, "#{Settings.APP_SITE_ITEM_URI_PREFIX}#{@item_pv_and_offer[item_id]['item'].fuzzy_item_id}", target: '_blank' %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
<script>
    $(document).ready(function () {
        $('#hot_item_table tfoot th').each(function () {
            if ($(this).hasClass('search')) {
                var title = $('#hot_item_table thead th').eq($(this).index()).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            }
        });
        var hot_item_table = $('#hot_item_table').DataTable({
            "scrollX": false,
            "order": <%= raw @default_order %>,
            "dom": '<"top"ip>rt<"bottom"ip><"clear">',
            "lengthMenu": [[<%= Settings.HOT_ITEMS_PER_PAGE %>], [<%= Settings.HOT_ITEMS_PER_PAGE %>]],
            "columnDefs": [
                {"orderable": false, "targets": [0, 1, 3]}
            ]
        });
        // Apply the search
        hot_item_table.columns().eq( 0 ).each( function ( colIdx ) {
            $('input', hot_item_table.column(colIdx).footer()).on('keyup change', function () {
                hot_item_table.column(colIdx).search(this.value).draw();
            });
        } );
        // Move search box to the after place of table header.
        $('.dataTables_scrollHead').after($('.dataTables_scrollFoot'));
    });
</script>
<style type="text/css">
    .dataTable thead th, tfoot th {
        /*white-space: nowrap;*/
        width: 8%;
    }

    tfoot th input {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        border-radius: 4px;
        color: #555555;
        background-color: white;
        background-image: none;
        border: 1px solid #cccccc;
        line-height: 1.5;
        padding: 6px 12px;
    }
</style>
