<h2>Products</h2>

<hr/>

<table class="table table-bordered text-center">
  <tbody>
  <tr>
    <td>
      <%= link_to products_path(grid: {f: {internal_status: Settings.PRODUCT_INTERNAL_STATUSES.PendingReview.to_i, state: Settings.PRODUCT_STATUSES.Listing}}) do %>
          PendingReview&Listing (<%= @pending_review_listing_count %>)
      <% end %>
    </td>
    <td>
      <%= link_to products_path(grid: {f: {internal_status: Settings.PRODUCT_INTERNAL_STATUSES.InReview.to_i}}) do %>
          In Review (<%= @in_review_count %>)
      <% end %>
    </td>
    <td>
      <%= link_to products_path(grid: {f: {state: Settings.PRODUCT_STATUSES.Listing, internal_status: Settings.PRODUCT_INTERNAL_STATUSES.Approve.to_i}}) do %>
          Approve&Listing (<%= @approved_normal_listing_count %>)
      <% end %>
    </td>

    <td>
      <%= link_to products_path(grid: {f: {state: Settings.PRODUCT_STATUSES.Unapproved}}) do %>
          Unapproved (<%= @unapproved_count %>)
      <% end %>
    </td>

    <td>
      <%= link_to products_path(grid: {f: {state: Settings.PRODUCT_STATUSES.Listing, internal_status: Settings.PRODUCT_INTERNAL_STATUSES.ApproveRisk.to_i}}) do %>
          ApproveRisk&Listing (<%= @approved_risking_listing_count %>)
      <% end %>
    </td>
  </tr>
  </tbody>
</table>

<%= render 'grid' %>

<%= render 'product_grid_filters' %>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">

    <button id="product_batch_modify_category" class="btn btn-md btn-info">Update Category</button>
    <script>
        function product_batch_modify_category() {
            $('button#product_batch_modify_category').click(function () {
                var selected_ids = [];
                $('td.sel > input[name="grid[selected][]"]:checked').each(function (index, e) {
                    selected_ids.push(e.value);
                });
                if (selected_ids.length == 0) {
                    alert("Please select product id(s) firstly");
                } else {
                    console.log(selected_ids);
                    $.ajax({
                        url: "<%= ajax_products_path(fn: "batch_modify_category_window") %>",
                        type: "GET",
                        data: {selected_ids: selected_ids},
                        cache: false,
                        timeout: <%= Settings.AJAX.Timeout %>,
                        success: function (data) {
                            $('div#batchModifyCategory').remove();
                            $(data).modal('show');
                        },
                        error: function (xhr, status, error) {
                            alert(status + '.Please try again.');
                        }
                    });
                }
            });
        }
        product_batch_modify_category();
    </script>

    <button id="product_batch_change_weight" class="btn btn-md btn-primary">Batch Change Weight</button>
    <script>
        function product_batch_change_weight() {
            $('button#product_batch_change_weight').click(function () {
                var selected_ids = [];
                $('td.sel > input[name="grid[selected][]"]:checked').each(function (index, e) {
                    selected_ids.push(e.value);
                });
                if (selected_ids.length == 0) {
                    alert("Please select product id(s) firstly");
                } else {
                    console.log(selected_ids);
                    $.ajax({
                        url: "<%= ajax_products_path(fn: "batch_change_weight_window") %>",
                        type: "GET",
                        data: {selected_ids: selected_ids},
                        cache: false,
                        timeout: <%= Settings.AJAX.Timeout %>,
                        success: function (data) {
                            $('div#batchChangWeight').remove();
                            $(data).modal('show');
                        },
                        error: function (xhr, status, error) {
                            alert(status + '.Please try again.');
                        }
                    });
                }
            });
        }
        product_batch_change_weight();
    </script>

  </div>
</div>

<%= render_grid @products_grid %>

<script>
    $(document).ready(function () {
        var item_offer_counts = <%= raw product_wice_grid_get_offer_count_by_item_ids_as_json(@products_grid.current_page_records.map {|p| p.id}) %>;
        var risk_item_ids = <%= raw product_wice_grid_risk_ids(@products_grid) %>;
        var item_ids_with_risk_user = <%= raw product_wice_grid_ids_with_risk_user(@products_grid) %>;
        var item_ids_edited_after_audit = <%= raw product_wice_grid_get_item_ids_edited_after_audit(@products_grid.current_page_records.map {|p| p.id}) %>;

        $('a.offer_count').each(function () {
            var pid = $(this).attr('id');
            var e = $(this);
            $.each(item_offer_counts, function () {
                if (pid == this["item_id"]) {
                    e.text(this["count"]);
                }
            });
        });
        $('div#grid > table > tbody > tr > td > input[name="grid[selected][]"]').each(function () {
            var pid = $(this).val();
            if (risk_item_ids.indexOf(pid) != -1) {
                $(this).parents('tr').addClass('item-risk');
            }
            if (item_ids_with_risk_user.indexOf(pid) != -1) {
                $(this).parents('tr').find('td.owner').addClass('user-risk');
            }

            if (item_ids_edited_after_audit.indexOf(pid) != -1) {
                $(this).parents('tr').find('td.edit-after-review').text("Yes");
            } else {
                $(this).parents('tr').find('td.edit-after-review').text("No");
            }
        });
    });
</script>
