<h2>Products Map View</h2>

<hr/>

<%= render 'grid' %>

<%= render 'product_grid_filters' %>

<%= render_grid @products_grid %>

<script>
    $('div.wice-grid-container > table.wice-grid').remove();
</script>

<% if @has_filter_flag.blank? %>
    <div class="text-center">
      <h3>Please select filter(s) firstly.</h3>
    </div>
<% elsif @products_grid.resultset.total_count > Settings.PRODUCT.Map.Display.Max and @force_load_selected_products.blank? %>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <%= form_tag map_products_path, method: :get, role: 'form', class: 'form-horizontal' do %>
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title text-danger">
                  Warning
                </h4>
              </div>
              <div class="modal-body">
                <%= dump_filter_parameters_as_hidden_fields(@products_grid) %>
                <%= hidden_field_tag :force_load_selected_products, 1 %>
                <p class="text-danger">
                  The selected products are too many, so loading map would take lots of time.
                </p>
                <br>

                <p>
                  Do you confirm to load it?
                </p>
              </div>
              <div class="modal-footer">
                <%= submit_tag "Confirm", class: 'btn btn-primary btn-md' %>
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
        <% end %>
        <!-- /.modal-content -->
      </div>
    </div>
    <script>
        $('div.modal').modal('show');
    </script>
<% end %>

<div id="productsMap" style="height:700px"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=false"></script>

<script>
    function initialize() {

        var centerLatlng = new google.maps.LatLng(10, 90);
        var mapOptions = {
            zoom: 3,
            center: centerLatlng
        };

        var map = new google.maps.Map(document.getElementById('productsMap'), mapOptions);

        var markers = [];
        var data = <%= raw @products.to_json %>;

        for (var i = 0; i < data.length; i++) {
            var product = data[i];

            var position = new google.maps.LatLng(product.lat, product.lon);
            var marker = new google.maps.Marker({
                position: position,
                title: product.id
            });
            markers.push(marker)
        }

        var markerCluster = new MarkerClusterer(map, markers);
    }

    google.maps.event.addDomListener(document, 'page:change', initialize);
</script>
