<%= render 'detail_header' %>

<ul id="productTab" class="nav nav-pills" role="tablist">
  <li>
    <a href="<%= product_path(@product, active_tab: 'overview') %>" role="tab">Overview</a>
  </li>
  <li>
    <a href="<%= product_path(@product, active_tab: 'info') %>" role="tab">Information</a>
  </li>
  <li>
    <a href="<%= product_path(@product, active_tab: 'owner') %>" role="tab">Owner</a>
  </li>
  <li>
    <a href="<%= product_path(@product, active_tab: 'categories') %>" role="tab">Categories & Tags</a>
  </li>
  <li>
    <a href="<%= product_path(@product, active_tab: 'location') %>" role="tab">Location</a>
  </li>
  <li class="active">
    <a href="#" role="tab">Offers
      <span class="badge"><%= @offer_count %></span>
    </a>
  </li>
  <li>
    <a href="<%= product_path(@product, active_tab: 'weights') %>" role="tab">Weights</a>
  </li>
  <li>
    <a href="<%= product_path(@product, active_tab: 'reviews') %>" role="tab">Reviews
      <span class="badge"><%= @bk_item_audit_histories.size %></span>
    </a>
  </li>
</ul>

<div class="col-md-3">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>PV</th>
      <th>Sum of daily UV</th>
    </tr>
    </thead>
    <tr>
      <td><%= @product.pv %></td>
      <td><%= @product.uv %></td>
    </tr>
    <tbody>
    </tbody>
  </table>
</div>

<div class="col-md-12">
  <% @buyers.values.each do |buyer| %>
      <div style="border: 1px solid #730E15;padding-top: 5px;padding-bottom: 5px;">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Seller</th>
            <th>To</th>
            <th>Buyer</th>
            <th>Action</th>
            <th>Message</th>
            <th>Offer</th>
            <th>Time</th>
          </tr>
          </thead>

          <tbody>
          <% buyer["offers"].reverse.each do |offer| %>
              <tr>
                <td class="col-md-1"><%= link_to @seller.nickname, user_path(@seller) %></td>
                <% if offer["direct"] == 1 %>
                    <td class="col-md-1"><=</td>
                <% else %>
                    <td class="col-md-1">=></td>
                <% end %>
                <td class="col-md-1"><%= link_to buyer["user"].nickname, user_path(buyer["user"]) %></td>
                <td class="col-md-2"> <%= Settings.OFFER_ACTION_TYPES.invert[offer["type"].to_i] %> </td>
                <td class="col-md-3">
                  <% if offer["type"].to_i == Settings.OFFER_ACTION_TYPES.BudyerScore.to_i %>
                      <%= JSON.parse(offer["description"])["score"] %>
                  <% else %>
                      <%= offer["description"] %>
                  <% end %>
                </td>
                <td class="col-md-1"><%= '%s %s' %[@product.currency, offer["price"]] unless offer["price"] == "0" %></td>
                <td class="col-md-3"><%= Time.zone ? Time.zone.parse(offer["timestamp"]) : Time.parse(offer["timestamp"]) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>

        <% if @reviews[buyer["user"].id].present? %>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Seller</th>
                <th>To</th>
                <th>Buyer</th>
                <th>ReviewID</th>
                <th>ReviewScore</th>
                <th>ReviewText</th>
                <th>Status</th>
                <th>ModifiedTime</th>
              </tr>
              </thead>

              <tbody>
              <% @reviews[buyer["user"].id].each do |review| %>
                  <tr>
                    <td class="col-md-1"><%= link_to @seller.nickname, user_path(@seller) %></td>
                    <% if review.direction == 0 %>
                        <td class="col-md-1"><=</td>
                    <% else %>
                        <td class="col-md-1">=></td>
                    <% end %>
                    <td class="col-md-1"><%= link_to buyer["user"].nickname, user_path(buyer["user"]) %></td>
                    <td class="col-md-1"><%= link_to review.id, users_reviews_path({grid: {f: {id: {eq: review.id}}}}), target: '_blank' %> </td>
                    <td class="col-md-1"><%= review.score %> </td>
                    <td class="col-md-3"><%= review.comment %></td>
                    <td class="col-md-1"><%= Settings.USER_REVIEW_STATES.invert[review.state] %></td>
                    <td class="col-md-3"><%= review.last_updated_at %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div>
  <% end %>
</div>

<%= render 'detail_actions' %>
