
<%= render 'detail_header' %>

<ul id="productTab" class="nav nav-pills" role="tablist">
  <li class="<%= isTabActive('overview') %>">
    <a href="#overview" role="tab" data-toggle="tab">Overview</a>
  </li>
  <li class="<%= isTabActive('info') %>">
    <a href="#info" role="tab" data-toggle="tab">Information</a>
  </li>
  <li class="<%= isTabActive('owner') %>">
    <a href="#owner" role="tab" data-toggle="tab">Owner</a>
  </li>
  <li class="<%= isTabActive('categories') %>">
    <a href="#categories" role="tab" data-toggle="tab">Categories & Tags</a>
  </li>
  <li class="<%= isTabActive('location') %>">
    <a href="#location" role="tab" data-toggle="tab">Location</a>
  </li>
  <li>
    <a href="<%= offers_product_path %>" role="tab">Offers
      <span class="badge"><%= @offer_count %></span>
    </a>
  </li>
  <li class="<%= isTabActive('weights') %>">
    <a href="#weights" role="tab" data-toggle="tab">Weights</a>
  </li>
  <li class="<%= isTabActive('reviews') %>">
    <a href="#reviews" role="tab" data-toggle="tab">Reviews
      <span class="badge"><%= @bk_item_audit_histories.size %></span>
    </a>
  </li>
</ul>

<div id="userContent" class="tab-content" style="margin-top:5px">

  <div class="tab-pane fade in <%= isTabActive('overview') %>" id="overview">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
            <tr>
              <td class="col-md-2 text-center">Title</td>
              <td> <%= @product.title %></td>
            </tr>
            <tr>
              <td class="col-md-2 text-center">Info</td>
              <td>
                <div class="text-center">
                  <p class="col-md-3">Price: <%= @product.local_price %></p>
                  <p class="col-md-3">Category: <%= @product.categories[0].title if @product.categories.size > 0 %></p>
                  <p class="col-md-3">Brand: <%= @product.brand.name if @product.brand %></p>
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-md-2 text-center">Desc</td>
              <td> <%= @product.desc %></td>
            </tr>
            <tr>
              <td class="col-md-2 text-center">Owner</td>
              <td>
                <div class="col-md-2 thumbnail text-center">
                  <% if @product.user.present? %>
                      <a href="<%= user_path(@product.user) %>" target="_blank">
                        <%= image_tag_content_100_100(image_url: @product.user.portrait) %>
                        <%= @product.user.nickname %>
                      </a>
                  <% end %>
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-md-2 text-center">Location</td>
              <td> <%= @product.country %>, <%= @product.region %>, <%= @product.city %></td>
            </tr>

            <tr>
              <td class="col-md-2 text-center">Images</td>
              <td id="item-images-content">
                <%= render 'item_images_content' %>
              </td>
            </tr>

            <tr>
              <td class="col-md-2 text-center">Media</td>
              <td>
                <% if @product.mediaLink.present? %>
                    <video width="320" height="240" controls="controls">
                      <source src="<%= @product.mediaLink %>" type="video/mp4">
                    </video>
                <% end %>
              </td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in <%= isTabActive('info') %>" id="info">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
        <% @product.attributes.each_pair do |name, value| %>
            <tr>
              <td align="right" class="active col-md-4"><strong><%= name.humanize %></strong></td>
              <td align="left" class="col-md-8">
                <%= product_attr_value(@product, name) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in <%= isTabActive('owner') %>" id="owner">
    <div class="table-responsive">
      <table class="table table-bordered">
        <% if @product.user %>
            <thead>
            <tr>
              <td align="right" class="active col-md-4"><strong>Own Products</strong></td>
              <td align="left" class="col-md-8"><%= @product.user.products.size %>
                <strong><%= link_to 'Go to User', user_path(@product.user), class: 'pull-right' %></strong>
              </td>
            </tr>
            </thead>
            <tbody>
            <% @product.user.attributes.each_pair do |name, value| %>
                <tr>
                  <% if name != 'password' %>
                      <td align="right" class="active col-md-4"><strong><%= user_attr_key(@product.user, name) %></strong></td>
                      <td align="left" class="col-md-8"><%= user_attr_value(@product.user, name) %></td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in <%= isTabActive('categories') %>" id="categories">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Categories
            <span class="glyphicon glyphicon-edit pull-right icon-clickable" data-toggle="modal" data-target="#categoriesModify"></span>
          </div>
          <ul id="category-list" class="list-group">
            <% @product.categories.each do |category| %>
                <li class="list-group-item">
                  <a href="/products?grid[f][entity_category.id][]=<%= category.id %>"><%= category.slug.present? ? category.slug : category.title %></a>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade in <%= isTabActive('weights') %>" id="weights">
    <div class="table-responsive col-md-6">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center col-md-2">Type</th>
          <th class="text-center col-md-4">Calculated Weight</th>
          <th class="text-center col-md-4">Manual Weight</th>
          <th class="text-center col-md-2">action</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <% if @product.user.present? %>
        <tr>
          <td>Owner</td>
          <td>---</td>
          <td><%= @product.user.weight %></td>
          <td><%= link_to 'Go', user_path(@product.user, {active_tab: 'info'}), target: '_blank' %></td>
        </tr>
        <% end %>
        <tr>
          <td>Category</td>
          <td>---</td>
          <td><%= @product.categories[0].weight if @product.categories.present? %></td>
          <td><%= link_to 'Go', category_index_path({grid: {f: {id: {eq: @product.categories[0].id}}}}), target: '_blank' if @product.categories.present? %></td>
        </tr>
        <tr>
          <td>Product</td>
          <td>---</td>
          <td>
            <%= form_tag weight_product_path(@product), method: :post, remote: true do %>
                <div id="display_weight" style="padding: 1px"><%= @product.weight %></div>
                <div id="change_weight" class="hidden">
                  <%= text_field_tag 'weight', nil,style: 'padding:0' %>
                  <button id="save_weight" type="submit" style="padding: 1px; background-color: #ffffff; cursor: pointer; border: 1px solid transparent">
                    <span class="glyphicon glyphicon-repeat"></span>
                  </button>
                  <span class="help-block"><%= "Range: #{Settings.WEIGHT.Min} ~ #{Settings.WEIGHT.Max}" %></span>
                </div>
            <% end %>
          </td>
          <td>
            <div id="change_weight_btn" style="padding: 0; cursor: pointer"><a herf="#">Change</a></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in <%= isTabActive('reviews') %>" id="reviews">
    <div class="table-responsive col-md-8">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th class="text-center col-md-1">Action</th>
          <th class="text-center col-md-1">Admin</th>
          <th class="text-center col-md-2">ReviewTime</th>
          <th class="text-center col-md-4">Reason</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <% @bk_item_audit_histories.each do |review| %>
            <tr>
              <td><%= review.action_type %></td>
              <td><%= review.admin %></td>
              <td><%= review.created_at %></td>
              <td><%= review.reason %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane fade in <%= isTabActive('location') %>" id="location">
    <div id="productMap" style="height:500px"></div>
  </div>

</div>

<!--  <div class="modal fade" id="tagsModify" tabindex="-1" role="dialog"
       aria-labelledby="tagsModifyLabel" aria-hidden="true">
    <%#= render 'modify_tags_form' %>
  </div>-->

<div class="modal fade" id="categoriesModify" tabindex="-1" role="dialog"
     aria-labelledby="categoriesModifyLabel" aria-hidden="true">
  <%= render partial:'modify_categories_form', locals: {loc_url: categories_product_path(@product)} %>
</div>

<%= render 'detail_actions' %>

<script>
  function init_functions() {
      if (typeof(product_approve_item_window) != "undefined") {
          product_approve_item_window();
      }
      if (typeof(product_approve_item_with_risk_window) != "undefined") {
          product_approve_item_with_risk_window();
      }
      if (typeof(product_set_item_first_image) != "undefined") {
          product_set_item_first_image();
      }
      console.log('init functions complete.');
  }
  init_functions();
</script>

<script>
    function initialize() {

        var latitude = <%= @product.lat %>;
        var longitude = <%= @product.lon %>;

        var centerLatlng = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
            zoom: 15,
            center: centerLatlng
        };

        window.map = new google.maps.Map(document.getElementById('productMap'), mapOptions);

        new google.maps.Marker({
            position: centerLatlng,
            map: window.map,
            title: "<%= @product.title %>"
        });
    }
    var gmap_init_num = 0;
    function gmap_onwaiting() {
        console.log('Waiting for loading google map js');
    }
    function gmap_onload() {
        $("#googleMap").text("gmap start ...");
        console.info(gmap_init_num)
        try {
            google.maps.event.addDomListener(document, 'page:change', initialize);
//            google.maps.event.addDomListener(window, 'load', initialize);
            initialize();
        } catch (e) {
            console.warn(e);

            gmap_init_num++;

            if (gmap_init_num <= 10) {
                setTimeout(gmap_onload, 1000);
            }
        }
    }
    function gmap_onerror() {
        console.log('Failed to load google map js.');
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.9&sensor=false" onwaiting="gmap_onwaiting()" onload="gmap_onload()" onerror="gmap_onerror()"></script>
