var items = [];
<% @product.tags.each do |tag| %>
items.push('<li class="list-group-item">');
items.push('<a href="/products?grid[f][commodity_tag.id][]=<%= tag.id %>"><%= tag.title %></a>');
items.push('</li>');
<% end %>

var data = items.join("");

$('ul#tag-list').html(data);
$('div#tagsModify').modal('hide');
