var items = [];
<% @product.categories.each do |category| %>
items.push('<li class="list-group-item">');
items.push('<a href="/products?grid[f][entity_category.id][]=<%= category.id %>"><%= category.slug.present? ? category.slug : category.title %></a>');
items.push('</li>');
<% end %>

var data = items.join("");

$('ul#category-list').html(data);
$('div#categoriesModify').modal('hide');
