<%= form_for @task, as: :task, html: {class: 'form-horizontal', role: 'form'} do |f| %>

    <% if @task.errors.any? %>
        <div class="alert alert-danger">
          <h3><%= pluralize(@task.errors.size, "error") %></h3>
          <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-4 control-label' %>
      <div class="col-md-4">
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :clazz, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.text_field :clazz, class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :status, Settings.FMMC_STATUSES,
                     {prompt: 'Please select the status'},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comment, class: 'col-md-4 control-label' %>
      <div class="col-md-6">
        <%= f.text_field :comment, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :mail_template, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :mail_template_id, FmmcMailTemplate.normal_scope.map { |m| [m.name, m.id] },
                     {prompt: 'Please select the mail template', include_blank: true},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :push_template, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :push_template_id, FmmcPushTemplate.normal_scope.map { |p| [p.name, p.id] },
                     {prompt: 'Please select the push template', include_blank: true},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :system_message_template, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :system_message_template_id, FmmcSystemMessageTemplate.normal_scope.map { |s| [s.name, s.id] },
                     {prompt: 'Please select the system message template', include_blank: true},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :target_country, class: 'col-md-4 control-label' %>
      <div class="col-md-3">
        <%= f.select :target_country, options_for_select(@options_for_country_select),
                     {prompt: 'Please select the country'},
                     class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-5">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Cancel',
                    fmmc_tasks_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>