<h2> Tasks </h2>

<hr/>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group pull-right">
    <%= link_to "Create", new_fmmc_task_path, class: "btn btn-md btn-primary" %>
  </div>
</div>


<%= grid(@task_grid) do |g|

  g.column name: 'ID', attribute: 'id'

  g.column name: "Name", attribute: 'name', ordering: false, html: {class: 'col-md-1'}

  g.column name: "Status", attribute: 'status', custom_filter: {Enabled: 1, Disabled: 0} do |task|
    task.status==1 ? 'Enabled' : 'Disabled'
  end

  g.column name: 'Comment', attribute: 'comment', ordering: false, filter: false, html: {class: 'col-md-2'}

  g.column name: 'Mail Template', attribute: 'name', model: 'FmmcMailTemplate',
           ordering: false, filter: false, html: {class: 'col-md-3'} do |task|
    link_to task.mail_template.name, templates_email_path(task.mail_template) if task.mail_template.present?
  end

  g.column name: 'Push Template', attribute: 'name', model: 'FmmcPushTemplate',
           ordering: false,  filter: false, html: {class: 'col-md-3'} do |task|
    link_to task.push_template.name, templates_push_path(task.push_template) if task.push_template.present?
  end

  g.column name: 'System Message Template', attribute: 'name', model: 'FmmcSystemMessageTemplate',
           ordering: false,  filter: false, html: {class: 'col-md-3'} do |task|
    link_to task.system_message_template.name, templates_system_message_path(task.system_message_template) if task.system_message_template.present?
  end

  g.column name: 'Description' do |task|
    button_tag('Detail', type: 'button',
               data: {toggle: 'popover', placement: 'left', trigger: 'focus', content: task.html_description},
               class: 'btn btn-sm btn-info detail-popover', title: task.name)
  end

  g.column name: 'Edit' do |task|
    link_to 'Edit', edit_fmmc_task_path(task), class: 'btn btn-sm btn-success'
  end

  g.column html: {class: 'col-md-1'} do |task|
    if task.status == Settings.FMMC_STATUSES.Disabled
      link_to "Enable", enable_fmmc_task_path(task), class: 'btn btn-md btn-info'
    else
      link_to "Disable", disable_fmmc_task_path(task), class: 'btn btn-md btn-danger'
    end
  end

end -%>
