<h2>Task</h2>

<hr/>

<table class="table table-bordered table-hover">
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @task.name %></td>
  </tr>
  <tr>
    <td>Clazz</td>
    <td><%= @task.clazz %></td>
  </tr>
  <tr>
    <td>Status</td>
    <td><%= Settings.FMMC_STATUSES.invert[@task.status] %></td>
  </tr>
  <tr>
    <td>Created Time</td>
    <td><%= @task.created_at %></td>
  </tr>
  <tr>
    <td>Updated Time</td>
    <td><%= @task.updated_at %></td>
  </tr>
  <tr>
    <td>Mail</td>
    <td><%= link_to(@task.mail_template.name, templates_email_path(@task.mail_template), target: '_blank') if @task.mail_template.present? %></td>
  </tr>
  <tr>
    <td>Push</td>
    <td><%= link_to(@task.push_template.name, templates_push_path(@task.push_template), target: '_blank') if @task.push_template.present? %></td>
  </tr>
  <tr>
    <td>System Message</td>
    <td><%= link_to(@task.system_message_template.name, templates_system_message_path(@task.system_message_template), target: '_blank') if @task.system_message_template.present? %></td>
  </tr>
  <tr>
    <td>Comment</td>
    <td><%= @task.comment %></td>
  </tr>
  <tr>
    <td>Target Country</td>
    <td><%= @task.country %></td>
  </tr>
  <tr>
    <td>Target Region</td>
    <td><%= @task.target_region %></td>
  </tr>
  <tr>
    <td>Target City</td>
    <td><%= @task.target_city %></td>
  </tr>
  <tr>
    <td>Target Gender</td>
    <td><%= @task.gender if @task.target_gender.present? %></td>
  </tr>
  <tr>
    <td>Target Registered Time</td>
    <td><%= @task.registered_time %></td>
  </tr>
  </tbody>
</table>

<div class="col-md-12">
  <div class="col-md-offset-3 col-md-2">
    <%= link_to "Back", :back, class: "btn btn-md btn-primary btn-block" %>
  </div>
  <div class="col-md-2">
    <%= link_to "Edit", edit_fmmc_task_path(@task), class: "btn btn-md btn-danger btn-block" %>
  </div>
  <div class="col-md-2">
    <% if @task.status == Settings.FMMC_STATUSES.Disabled %>
        <%= link_to "Enable", enable_fmmc_task_path(@task), class: "btn btn-md btn-info btn-block" %>
    <% else %>
        <%= link_to "Disable", disable_fmmc_task_path(@task), class: "btn btn-md btn-warning btn-block" %>
    <% end %>
  </div>
</div>
