<!DOCTYPE html>
<html>
<head>
  <title>BossManagementSystem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51595858-7', 'auto');
      ga('send', 'pageview');
  </script>
</head>
<body>
<i class="fa fa-caret-square-o-up fa-4x back-to-top" title="Back to top" id="backToTop"></i>
<%= render 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" type="a">
      <% if flash[:success] %>
          <div class="alert alert-success alert-dismissable" style="margin-bottom: 0;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[:success] %>
          </div>
      <% end %>
      <% if flash[:warning] %>
          <div class="alert alert-warning alert-dismissable" style="margin-bottom: 0;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[:warning] %>
          </div>
      <% end %>
      <% if flash[:error] %>
          <div class="alert alert-danger alert-dismissable" style="margin-bottom: 0;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= flash[:error] %>
          </div>
      <% end %>
    </div>
    <div class="col-md-12" type="b">
      <%= yield %>
    </div>
  </div>
</div>

<div class="screen-overlay hidden">
  <p>
    <i class="fa fa-spinner fa-spin fa-5x"></i>
  </p>
</div>
</body>
</html>
